﻿@model GroceryPoint.Dtos.Store.ProductDto

@{
    ViewData["Title"] = "ProductUni Edit";
}
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card" style="height: 481.5px;">
                    <div class="card-header">
                        <h4 class="card-title" id="basic-layout-form">Edit ProductUni</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <form asp-action="Edit" method="post" class="form" enctype="multipart/form-data">
                                <input type="hidden" asp-for="productID" />
                                <input type="hidden" asp-for="storeID" />
                                <input type="hidden" asp-for="image" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label"> Name </label>
                                        <input required asp-for="productName" name="productName" placeholder="Name.." class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label"> Category  </label>
                                        @Html.DropDownList("categoyID", ViewBag.categoyID as SelectList, "-- Select CategoyID--", new { @required = "required", @class = "form-control search-slt", @id = "provinceID", @name = "provinceID" })

                                        @*<input type="number" required asp-for="categoyID" name="category" placeholder="Category name.." class="form-control" />*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label"> Price </label>
                                        <input type="number" required asp-for="price" name="price" placeholder="Price" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label"> Total Quantity  </label>
                                        <input type="number" required asp-for="totalQuantity" name="totalQuantity" placeholder="Total Qty" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <label class="control-label"> MaxLimit </label>
                                        <input type="number" required asp-for="maxLimit" name="maxLimit" placeholder="Min Limit" class="form-control" />
                                    </div>
                                    <div class="col-3">
                                        <label class="control-label"> Min Limit  </label>
                                        <input type="number" required asp-for="minLimit" name="minLimit" placeholder="Max Limit" class="form-control" />
                                    </div>
                                    <div class="col-4">
                                        <label>.</label>
                                        <br />

                                        <input type="file" name="file" id="imageBrowes" />
                                    </div>
                                    <div class="col-2">
                                        <label>.</label>
                                        <br />

                                        <div id="imgPreview" class="thumbnail">
                                            <img class="img-" src="~/ProductImages/@ViewBag.StorName/@Model.image" id="targetImg" style="border:1px solid rgb(30, 88, 151);width:57px;height:48px" />
                                            <div class="caption">
                                                <a href="#" onclick="ClearPreview()"><i class="fa fa-trash text-danger"></i></a>
                                                <span id="description"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <label class="control-label"> GST </label>
                                        <br />
                                        <input type="radio" checked name="isGST" />
                                    </div>
                                    <div class="col-3">
                                        <label class="control-label"> Product Unit  </label>
                                        @Html.DropDownList("productUnitID", ViewBag.productUnitID as SelectList, "-- Select Product Unit--", new { @required = "required", @class = "form-control search-slt", @id = "provinceID", @name = "provinceID" })

                                    </div>
                                    <div class="col-6">
                                        <label class="control-label"> Description   </label>
                                        <textarea required asp-for="description" name="description" placeholder="add description .." class="form-control">

</textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-0"></div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="submit" value="Submit" class="btn btn-success" />
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>


                            </form>

                        </div>
                    </div>
                </div>
            </div>


        </div>
        @section Scripts {

            <script>
                $(document).ready(function () {

                    $("#imageBrowes").change(function () {

                        var File = this.files;

                        if (File && File[0]) {
                            ReadImage(File[0]);
                        }

                    })

                })


                var ReadImage = function (file) {

                    var reader = new FileReader;
                    var image = new Image;

                    reader.readAsDataURL(file);
                    reader.onload = function (_file) {

                        image.src = _file.target.result;
                        image.onload = function () {

                            var height = this.height;
                            var width = this.width;
                            var type = file.type;
                            var size = ~~(file.size / 1024) + "KB";

                            $("#targetImg").attr('src', _file.target.result);
                            $("#description").text("Size:" + size + "");
                            $("#imgPreview").show();

                        }

                    }

                }

                var ClearPreview = function () {
                    $("#imageBrowes").val('');
                    $("#description").text('');
                    $("#imgPreview").hide();

                }

            </script>
        }

    </section>



