﻿@model IEnumerable<GroceryPoint.Dtos.Store.ProductDto>

@{
    ViewData["Title"] = "Index";
}
<section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <a href="@Url.Action("Create", "Products")" class="btn btn-info " style="font-size:18px">
                            Create New
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </a>

                    </h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                @if (TempData["success"] != null)
                {
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                <strong></strong> @TempData["success"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-1"></div>

                    </div>
                }
                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Product
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Image
                                        </th>
                                        <th>
                                            Total Quantity
                                        </th>
                                        <th>
                                            Max Limit
                                        </th>
                                        <th>
                                            Min Limit
                                        </th>
                                        <th>
                                            Product Unit
                                        </th>

                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @item.productID
                                        </td>
                                        <td>
                                            @item.productName
                                        </td>
                                        <td>
                                            @item.category
                                        </td>
                                        <td>
                                            @item.price
                                        </td>
                                        <td>
                                            @if (item.image == "" || item.image == null)
                                            {
                                                <img src="~/ProductImages/nofound.jpg" style="width: 55px;height: 40px !important;" />
                                            }
                                            else
                                            {
                                                <img src="~/ProductImages/@ViewBag.StorName/@item.image" style="width: 55px;height: 40px !important;" />
                                            }


                                        </td>
                                        <td>
                                            @item.totalQuantity
                                        </td>
                                        <td>
                                            @item.maxLimit
                                        </td>
                                        <td>
                                            @item.minLimit
                                        </td>
                                        <td>
                                            @item.productUnit
                                        </td>

                                        <td>
                                            <a class='btn btn-warning btn-sm' asp-action="edit" asp-route-id="@item.productID"><i class='fa fa-pencil-square-o'></i> Edit </a>
                                        </td>
                                        <td>
                                            <a class='btn btn-danger btn-sm text-white' onclick="Delete(@item.productID)"><i class='fa fa-trash-o'></i> Delete</a>
                                        </td>

                                    </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
       function Delete(id)
        {
            if(confirm('Are You Sure to Delete this  Record ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Products")/' + id,
                    success: function (data) {
                        //alert(data);
                        if (data==true) {
                            window.location.reload();

                        }
                        else {

                            alert("faild to delete")

                        }
                    }

                });
            }
        }
</script>
