﻿@model IEnumerable<GroceryPoint.Dtos.Cart.cart>

<div class="form-group">
    <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
            <a data-toggle="collapse" id="cartDetailList" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

            </a>
        </h5>
    </div>
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div class="product-details table-responsive">
                <table class="table table-striped table-bordered" style="width: 100%;">
                    <thead>
                        <th>Image</th>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr id="@item.cartID">
                                    <td class="checkout-img col-md-3">
                                        <div class="media">
                                            @if (item.image == "" || item.image == null)
                                            {
                                                <a class="thumbnail pull-left" href="#">
                                                    <img class="media-object" src="~/ProductImages/nofound.jpg">
                                                </a>
                                            }
                                            else
                                            {
                                        <a class="thumbnail pull-left" href="#">
                                            <img class="media-object" src="~/ProductImages/@ViewBag.StorName/@item.image">
                                        </a>
                                            }
                                        
                                            </div>
                                    </td>
                                    <td class="checout-qty text-center">@item.productName</td>
                                    <td class="text-right">@string.Format("{0:C}", item.price) / @item.productUnit </td>
                                    <td>@string.Format("{0:C}", item.qty)</td>   
                                    <td>@string.Format("{0:C}", item.subtotal)</td>
                                <td class="text-right">
                                    <span style="color:red" onclick="deletCart(@item.cartID)"><i class="fa fa-times-circle-o">  </i> </span>
                                    </td>


                                
                                </tr>
                                
                            }
                        }
                    </tbody>
                </table>
                @*<div class="product-notes">
                        <div class="editNotes">
                            <i class="fa fa-pencil"></i>
                            <span class="note-add">
                                Add Notes
                            </span>
                        </div>
                        <div class="pull-right helper-data">
                            <span class="mr5">
                                <i class="fa fa-refresh mr5"></i> Substitutes:
                            </span>
                            <div class="allow">
                                <label>
                                    <input type="radio" name="allow" class="">Allowed
                                </label>
                                <label>
                                    <input type="radio" name="not allow" class="">Not Allowed
                                </label>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>

<script>
    var TotalQty = 0;

    getCartTotalDetails();
    function getCartTotalDetails() {
        $.ajax({
            url: "/cart/GetCartTotal?storeID=" + 1 + "&userID=" + 1,
            type: "get",
            success: function (d) {
                var getDate = (d);
                //alert(JSON.stringify(d));
                TotalQty = getDate.totalItems;
                $("#cartDetailList").text(getDate.totalItems + " Items " + "Total Cost " + "$" + getDate.totalCost)

            }
        });

    }
    function deletCart(id) {
        $.ajax({
            url: "/cart/deleteCart?cartID=" + id,
            type: "post",
            success: function (d) {

                if (d != null) {
                    emptyCartChange();
                    $("#accordion").load("/cart/catdeatail")

                }


            }
        });

    }
</script>