﻿
@model IEnumerable<GroceryPoint.Dtos.Cart.cart>
<div class="checkout-header d-flex justify-content-between align-items-center">
    <p>Shopping Cart</p>
    <div class="btn-blk d-flex">
        <a href="#" onclick="emptyCart()">Empty<span> Cart</span></a>
        @if (Model.Count() > 0)
        {
            <a href="/profile/checkout">Checkout<span> now</span></a>
        }
        else
        {
            <a href="#">Checkout<span> now</span></a>

        }
    </div>
    <a href="#" class="close-checkout"><i class="fa fa-close" aria-hidden="true"></i></a>
</div>
<p style="color:#11a640;margin: 4px 1px 0px 22px;">
    @Model.Where(c => c.userID == ViewBag.user1d).Select(c => c.storeSummary.storeName).FirstOrDefault() ,
    @Model.Where(c => c.userID == ViewBag.user1d).Select(c => c.storeSummary.city).FirstOrDefault()
</p>
<div class="checkout-header-btm d-flex justify-content-between" style="    padding: 0 10px 6px 23px  !important">

    <span>Total Amount </span>
    <span class="amount">$ @Model.Where(c => c.userID == ViewBag.user1d).Select(c => c.cartSummary.totalCost).FirstOrDefault() <span id="totalCost"></span></span>
</div>
<div class="checkout-delivery d-flex" style="display:none">
    @*<i class="fa fa-truck" aria-hidden="true"></i>
    <p><b>Next delivery: </b>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>*@
</div>
<div class="checkout-products">

    <ul class="p-0">
        @if (Model.Count() > 0)
        {

            foreach (var item in Model)
            {
                <li>
                    <div class="product-blk d-flex justify-content-between">
                        <div class="product-left d-flex">
                            @if (item.image == "" || item.image == null)
                            {
                                <div class="prod-blk align-items-center d-flex justify-content-center"><img src="~/ProductImages/nofound.jpg" alt="schematic-dia" class="img1"></div>
                            }
                            else
                            {

                                <div class="prod-blk align-items-center d-flex justify-content-center"><img src="~/ProductImages/@ViewBag.StorName/@item.image" alt="schematic-dia" class="img1"></div>

                            }<div class="prod-info">
                                <p class="prod-name">@item.productName</p>
                                <p class="prod-price"><span> $@item.price</span> / @item.productUnit</p>
                            </div>
                        </div>
                        <div class="product-right d-flex justify-content-between align-items-center">
                            <div class="prod-qty d-flex align-items-center">
                                @*<a href="#" class="decrement" data-dir="dwn" onclick="addToCart(@item.productID)">-</a>
                                    <input value="@item.qty" id="Qty_@item.productID" min="1" max="40" class="num" type="text">
                                    <a href="#" class="increament" data-dir="up" onclick="addToCart(@item.productID)">+</a>*@
                                <select class="form-control cartValueChnage" id="cartValueChnage">
                                    @for (int i = 1; i <= 10; i++)
                                    {
                                        <option value="@i-@item.productID" data-dir="@(item.productID)" selected="@(item.qty==i)">@i</option>

                                    }
                                </select>
                            </div>
                            <div class="prod-total">$@item.subtotal</div>
                            <span style="color:red" onclick="deletCart(@item.cartID)"><i class="fa fa-times-circle-o">  </i> </span>
                        </div>
                    </div>
                </li>
            }
        }
        else
        {
            <li>There is no item in cart</li>
        }

    </ul>
</div>
@if (Model.Count() > 0)
{
    <a href="/profile/checkout" class="checkou-btn">Checkout Now</a>
}
else
{
    <a href="#" class="checkou-btn">Checkout Now</a>

}
<script>
    $(".cartValueChnage").change(function () {
        //alert("Fzi");
        var QtyProductId = $(this).val();
        //alert(QtyProductId);
        var QtyProductIds = QtyProductId.split("-");
        var Qty = QtyProductIds[0];
        var ProductId = QtyProductIds[1];
        //alert("Qty : "+Qty +" ProductId:  "+ProductId)
        //$("#AjaxLoader").show();
        var totalQty = Qty;
        //alert(totalQty);
        var cartDto = {
            "storeID": 1,
            "productID": ProductId,
            "qty": totalQty,
            "userID": 1,
            "ipAddress": "1",
            "totalItems": 0,
            "totalCost": 0
        };
        var cart = JSON.stringify(cartDto);

        $.ajax({
            url: "/cart/addToCart",
            data: cartDto,
            type: "post",
            success: function (d) {
                var getDate = (d);
                $("#AjaxLoader").hide();
                $("#totalCost").text('$ ' + getDate.totalCost);
                $("#totalItems").text(getDate.totalItems);
                emptyCartChange();
            }
        });


    })
    function addToCart(id) {

    }
    function emptyCart() {
        $.ajax({
            url: "/cart/EmptyCart",
            type: "post",
            success: function (d) {
                //alert(d)
                if (d != null) {
                    emptyCartChange();
                    //     $("#totalCost").text('$ '+0);
                    //$("#totalItems").text(0);
                }


            }
        });
    }

    function deletCart(id) {
        $.ajax({
            url: "/cart/deleteCart?cartID="+id,
            type: "post",
            success: function (d) {

                if (d != null) {
                    emptyCartChange();
                    //     $("#totalCost").text('$ '+0);
                    //$("#totalItems").text(0);
                }


            }
        });

    }
</script>
<script>
    $(function () {

        var action;
        $(".prod-qty a").mousedown(function () {
            btn = $(this);
            input = btn.closest('.prod-qty').find('input');
            btn.closest('.prod-qty').find('a').prop("disabled", false);

            if (btn.attr('data-dir') == 'up') {
                action = setInterval(function () {
                    if (input.attr('max') == undefined || parseInt(input.val()) < parseInt(input.attr('max'))) {
                        input.val(parseInt(input.val()) + 0);
                    } else {
                        btn.prop("disabled", true);
                        clearInterval(action);
                    }
                }, 500);
            } else {
                action = setInterval(function () {
                    if (input.attr('min') == undefined || parseInt(input.val()) > parseInt(input.attr('min'))) {
                        input.val(parseInt(input.val()) - 0);
                    } else {
                        btn.prop("disabled", true);
                        clearInterval(action);
                    }
                }, 500);
            }
        }).mouseup(function () {
            clearInterval(action);
        });
    });
    $('#checkput-ancr').click(function () {
        $(this).addClass('active');
        $('.checkout-blk').addClass('active');
        $('.checkout-active').addClass('active');
    });
    $('.checkout-active').click(function () {
        $('#checkput-ancr').removeClass('active');
        $('.checkout-blk').removeClass('active');
        $(this).removeClass('active');
    });
    $('.close-checkout').click(function () {
        $('#checkput-ancr').removeClass('active');
        $('.checkout-blk').removeClass('active');
        $('.checkout-active').removeClass('active');
    });
    $('.close-checkout').click(function () {
        //alert('here i ma');
    })
</script>