﻿/*.example.example2 {
    background-color: #fff;
}

    .example.example2 * {
        font-family: Source Code Pro, Consolas, Menlo, monospace;
        font-size: 16px;
        font-weight: 500;
    }

    .example.example2 .row {
        display: -ms-flexbox;
        display: flex;
        margin: 0 5px 10px;
    }

    .example.example2 .field {
        position: relative;
        width: 100%;
        height: 42px;
        margin: 10px 11px;
        border: 1px solid #9aa49a;
        border-radius: 4px;
        box-sizing: border-box;
        display: inline-block;
    }

        .example.example2 .field.half-width {
            width: 43%;
        }

        

    .example.example2 .baseline {
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        background-color: #cfd7df;
        transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .example.example2 label {
        position: absolute;
        width: 100%;
        left: 3px;
        bottom: 4px;
        color: #000000;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transform-origin: 0 50%;
        cursor: text;
        pointer-events: none;
        transition-property: color, transform;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .example.example2 .input {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding-bottom: 7px;
        color: #32325d;
        background-color: transparent;
    }

        .example.example2 .input::-webkit-input-placeholder {
            color: transparent;
            transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .example.example2 .input::-moz-placeholder {
            color: transparent;
            transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .example.example2 .input:-ms-input-placeholder {
            color: transparent;
            transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .example.example2 .input.StripeElement {
            opacity: 0;
            transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            will-change: opacity;
        }

        .example.example2 .input.focused,
        .example.example2 .input:not(.empty) {
            opacity: 1;
        }

            .example.example2 .input.focused::-webkit-input-placeholder,
            .example.example2 .input:not(.empty)::-webkit-input-placeholder {
                color: #cfd7df;
            }

            .example.example2 .input.focused::-moz-placeholder,
            .example.example2 .input:not(.empty)::-moz-placeholder {
                color: #cfd7df;
            }

            .example.example2 .input.focused:-ms-input-placeholder,
            .example.example2 .input:not(.empty):-ms-input-placeholder {
                color: #cfd7df;
            }

            .example.example2 .input.focused + label,
            .example.example2 .input:not(.empty) + label {
                color: #aab7c4;
                transform: scale(0.85) translateY(-25px);
                cursor: default;
            }

            .example.example2 .input.focused + label {
                color: #24b47e;
                margin-top:-15px !important;
            }

        .example.example2 .input.invalid + label {
            color: #ffa27b;
        }

        .example.example2 .input.focused + label + .baseline {
            background-color: #24b47e;
        }

        .example.example2 .input.focused.invalid + label + .baseline {
            background-color: #e25950;
        }

    .example.example2 input, .example.example2 button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        border-style: none;
    }

        .example.example2 input:-webkit-autofill {
            -webkit-text-fill-color: #e39f48;
            transition: background-color 100000000s;
            -webkit-animation: 1ms void-animation-out;
        }

    .example.example2 .StripeElement--webkit-autofill {
        background: transparent !important;
    }

    .example.example2 input, .example.example2 button {
        -webkit-animation: 1ms void-animation-out;
    }

    .example.example2 button {
        display: block;
        width: calc(100% - 30px);
        height: 40px;
        margin: 40px 15px 0;
        background-color: #24b47e;
        border-radius: 4px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
    }

    .example.example2 .error svg {
        margin-top: 0 !important;
    }

        .example.example2 .error svg .base {
            fill: #e25950;
        }

        .example.example2 .error svg .glyph {
            fill: #fff;
        }

    .example.example2 .error .message {
        color: #e25950;
    }

    .example.example2 .success .icon .border {
        stroke: #abe9d2;
    }

    .example.example2 .success .icon .checkmark {
        stroke: #24b47e;
    }

    .example.example2 .success .title {
        color: #32325d;
        font-size: 16px !important;
    }

    .example.example2 .success .message {
        color: #8898aa;
        font-size: 13px !important;
    }

    .example.example2 .success .reset path {
        fill: #24b47e;
    }
   
.example-2 input, .InputElement {
    margin: 15px 0;
    padding: 15px 10px;
    width: 100%;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 20px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}*/
.half-width {
    width: 32%;
}
#card-expiry, #card-cvc {
    margin: 5px 0;
    padding: 8px 10px;
    width: 100%;
    outline: none;
    border: 1px solid #bbb;
    /* border-radius: 20px; */
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    border-radius: 4px;
    height: 36px;
}
.example.example2 .input.focused {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
#example2-zip {
    height: 36px;
}
.quarter-width {
    width: 100%;
}
#card-number {
    border: 1px solid #ced4da;
    margin: 10px;
    padding: 8px 10px;
    font-weight: bolder;
    border-radius: 4px;
    height: 36px;
}
.quarter-width label {
    margin-left: 10px;
    margin-bottom: 0;
}
#example2-zip {
    margin: 10px;
    padding: 8px 10px;
}
/*#card-errors {
    padding: 10px;
    font-family: 'Lato', sans-serif;
}*/
.half-width label {
    margin-bottom: 0px;
}
.quarter-width {
    width: 100%;
    margin-bottom: 4px;
}
#ProfileSetup-step .panel-title {
    text-align: center;
    display: block;
    margin-top: 10px;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
.strong-class label {
    font-size: 22px;
    font-weight: bold;
    margin-top: 55px;
}
#ProfileSetup-step .border-top {
    padding: 12px;
}
.strong-class span {
    font-size: 24px;
    font-weight: bold;
}
.form-check-inline .customradio:nth-last-child(1) {
    width: 100px;
}
#ProfileSetup-step .form-check-inline {
    margin-bottom: 15px;
}
.total-bill label {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}