﻿@model GroceryPoint.Dtos.Order.UserOrderDetails

<p style="display:none" id="order_id">@ViewBag.Id</p>
<div class="" id="OderWithId">



</div>

    <script>
          var order_id = $("#order_id").text();
        $("#OderWithId").load("/Order/OrderDetailView?id="+order_id)
        $("#btnUpdateStatus").click(function () {
            if (confirm('Are you sure you want to confirm the order, please check all products are available before confirming?')) {
                $("#ordereror").hide();
                var StatusId = 3;
                var textStatus = "Confirmed";
                if (StatusId != "") {
                    var orderid = $("#orderId").text();
                    $.ajax({
                        url: "/stores/UpdateOrderStatus?orderID=" + orderid + "&orderStatusID=" + StatusId,
                        type: "get",
                        success: function (d) {
                            var getDate = (d);
                            $("#ordereror").hide();
                            $("#StausChange").text("Your Order is Confirmed ");
                            alert("Your Order is Confirmed!");
                        }
                    });
                } else {

                    $("#ordereror").show();
                }
            }

        })
    </script>
