﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    <from>
                        <div class="row">
                            <div class="col-md-4">
                                @Html.DropDownList("OrderStatusId", ViewBag.OrderStatusId as SelectList, "-- Select Order Status--", new { @required = "required", @class = "form-control search-slt", @id = "OrderStatusId", @name = "OrderStatusId" })
                                <p id="ordereror" style="display:none; color:red"> Select Status </p>

                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-info" id="btnUpdateStatus"> Update Status</button>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </from>

                </h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body card-dashboard">
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td>Order Number</td>
                                <td>@Model.orderNumber </td>
                            </tr>
                            <tr>
                                <td>Store Name</td>
                                <td>@Model.storeName</td>
                            </tr>
                            <tr>
                                <td>Qty</td>
                                <td>@Model.qty</td>
                            </tr>
                            <tr>
                                <td>Subtotal</td>
                                <td>$@Model.subtotal.ToString("0.00")</td>
                            </tr>
                            <tr>
                                <td>Tax</td>
                                <td>$@Model.tax.ToString("0.00")</td>
                            </tr>


                            <tr>
                                <td>Order Date</td>
                                <td>@Model.orderDate</td>
                            </tr>
                            <tr>
                                <td>Phone Number</td>
                                <td>@Model.orderPhone</td>
                            </tr>
                            <tr>
                                <td>Staus</td>
                                <td id="StausChange">@Model.orderStatus</td>
                            </tr>

                            <tr>
                                <td>Address</td>
                                <td>@Model.deliveryAddress</td>
                            </tr>
                            <tr>
                                <td>Client Total</td>
                                <td>$@Model.clientTotal.ToString("0.00")</td>
                            </tr>
                            <tr>
                                <td>Amount Paid</td>
                                <td>$@Model.amountPaid.ToString("0.00")</td>
                            </tr>
                            <tr>
                                <td>Percentage</td>
                                <td>$@Model.percentage.ToString("0.00")</td>
                            </tr>

                        </tbody>
                    </table>

                    <table class="table table-striped table-bordered ">
                        <thead>
                            <tr>

                                <th>
                                    Product Name
                                </th>
                                <th>
                                    Product Unit
                                </th>
                                <th>
                                    Qty
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Sub Total
                                </th>
                                <th>
                                    Total
                                </th>


                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.orderProductList)
                            {
                            <tr>

                                <td>
                                    @item.productName
                                </td>
                                <td>
                                    @item.productUnit
                                </td>
                                <td>
                                    <select class="form-control cartValueChnage" id="cartValueChnage_@item.orderDetailsID">
                                        @for (int i = 1; i <= item.qty; i++)
                                        {
                                            <option value="@i" data-dir="@(item.productID)" selected="@(item.qty==i)">@i</option>

                                        }
                                    </select>
                                </td>
                                <td>
                                    $@item.price.ToString("0.00")
                                </td>
                                <td>
                                    $@item.subtotal.ToString("0.00")
                                </td>
                                <td>
                                    $@item.total.ToString("0.00")
                                </td>
                                <td>
                                    <button class="btn btn-warning btn-sm" onclick="UpdateValue(@item.orderDetailsID)"><i class="fa fa-pencil"></i> </button>
                                    <button class="btn btn-danger btn-sm" onclick="deleteOrderItem(@item.orderDetailsID)"> <i class="fa fa-trash"></i> </button>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wait" style="display:block;width:130px;height:130px;position:absolute;top:40%;left:45%;padding:2px;">

    <img src='~/UserTheme/images/ajax-loader-gif-5.gif' style="width:130px;height:130px" /><br>Loading..
</div>

<script>
    $("#wait").css("display", "none");
    function deleteOrderItem(id) {
        if (confirm('Are you sure you want to delete this Item?')) {
            $("#wait").css("display", "block");
            $.ajax({
                url: "/stores/DeleteOrderItem?orderDetailsID=" + id,
                type: "post",
                success: function (d) {

                    if (d != null) {
                        var order_id = $("#order_id").text();
                        $("#OderWithId").load("/Order/OrderDetailView?id=" + order_id)
                        $("#wait").css("display", "none");
                    }


                }
            });
        }

    }

    function UpdateValue(id) {
        if (confirm('Are you sure you want to update this Item?')) {
            $("#wait").css("display", "block");
            var Qty = $("#cartValueChnage_" + id+"   option:selected").val();
            //alert("ProduId "+ id +"Qty "+ Qty )
             $("#wait").css("display", "block");
            $.ajax({
                url: "/Order/UpdateOrderItem?orderDetailsID=" + id + "&qty=" + Qty,
                type: "post",
                success: function (d) {

                    if (d != null) {
                        var order_id = $("#order_id").text();
                        $("#OderWithId").load("/Order/OrderDetailView?id=" + order_id)
                        $("#wait").css("display", "none");
                    }


                }
            });
        }
    }
    $("#btnUpdateStatus").click(function () {
            $("#ordereror").hide();

            var StatusId = $("#OrderStatusId option:selected").val();
            var textStatus = $("#OrderStatusId option:selected").text();
            if (StatusId != "") {
                var orderid = $("#orderId").text();
                //alert(StatusId);
                $.ajax({
                    url: "/Order/UpdateOrderStatus?orderID=" + orderid + "&orderStatusID=" + StatusId,
                    type: "get",
                    success: function (d) {
                        var getDate = (d);
                        //alert(JSON.stringify(d));
                        $("#ordereror").hide();
                        $("#StausChange").text(textStatus);
                        alert("Order Status Change");

                    }
                });
            } else {

                $("#ordereror").show();
            }

        })
</script>
