﻿@model IEnumerable<GroceryPoint.Dtos.Store.StoreOrderDto>
@{
    ViewData["Title"] = "Index";
}


<section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <a href="@Url.Action("Create", "Orders")" class="btn btn-info " style="font-size:18px">
                            Create New
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </a>

                    </h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>View </th>

                                        <th>
                                            OrderNumber
                                        </th>
                                        <th>
                                            Order Date
                                        </th>
                                        <th>
                                            Delivery Date
                                        </th>
                                        <th>
                                            Qty
                                        </th>
                                        <th>
                                            Sub Total
                                        </th>
                                        <th>
                                            Tax
                                        </th>
                                        <th>
                                            Total
                                        </th>
                                        <th>
                                            Order Status
                                        </th>
                                        <th>
                                            Client Total
                                        </th>
                                        <th>
                                            Amount Paid
                                        </th>
                                        <th>
                                            Percentage
                                        </th>
                                        <th>
                                            Customer Name
                                        </th>
                                        <th>
                                            Order Phone
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a class='btn btn-warning btn-sm' asp-action="OrderDetail" target="_blank" asp-route-id="@item.orderID"><i class='fa fa-eye'></i>  </a>
                                            </td>
                                            <td>
                                                @item.orderNumber
                                            </td>
                                            <td>
                                                @item.orderDate
                                            </td>
                                            <td>
                                                @item.deliveryDate
                                            </td>
                                            <td>
                                                @item.qty.ToString( "0.00" )
                                            </td>
                                            <td>
                                                @item.subtotal.ToString( "0.00" )
                                            </td>
                                            <td>
                                                @item.tax.ToString( "0.00" )
                                            </td>
                                            <td>
                                                @item.total.ToString( "0.00" )
                                            </td>
                                            <td>
                                                @item.orderStatus
                                            </td>
                                            <td>
                                                @item.clientTotal
                                            </td>
                                            <td>
                                                @item.amountPaid
                                            </td>
                                            <td>
                                                @item.percentage
                                            </td>
                                            <td>
                                                @item.customerName
                                            </td>
                                            <td>
                                                @item.orderPhone
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
       function Delete(id)
        {
            if(confirm('Are You Sure to Delete this  Record ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Products")/' + id,
                    success: function (data) {
                        //alert(data);
                        if (data==true) {
                            window.location.reload();

                        }
                        else {

                            alert("faild to delete")

                        }
                    }

                });
            }
        }
</script>
