﻿@model GroceryPoint.Dtos.Store.StoreOrderDetailsDto

@{
    ViewData["Title"] = "OrderDetail";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}



<section id="OderWithId">
    
</section>
<p id="orderId" style="display:none">@ViewBag.Id</p>
<p id="order_id" style="display:none">@ViewBag.Id</p>
@section Scripts
{
    <script>
              var order_id = $("#order_id").text();    
        $("#OderWithId").load("/order/OrderDetailView?id="+order_id)
        
    </script>
}