﻿@model IEnumerable<GroceryPoint.Dtos.Users.AddressDetailsDto>
@foreach (var item in Model)
{
    <div>
        <span class="radio-section">
            <input name="usercnfAddress" value="@item.addressID" type="radio" checked="checked">
        </span>
        <span class="bold">
            @if (item.unit != null && item.unit.Length > 0)
            {
                <span class="ad-detail">
                    @item.addressTitle - @item.unit @item.streetAddress, <span>@item.city </span>@item.province <span>@item.postalCode</span>
                </span>
            }
            else
            {
                <span class="ad-detail">
                    @item.addressTitle - @item.streetAddress, <span>@item.city </span>@item.province <span>@item.postalCode</span>
                </span>
            }
        </span>

    </div>
}