﻿@model GroceryPoint.Dtos.Order.UserOrderDetails

<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <td>Order Number</td>
            <td>@Model.orderNumber </td>
        </tr>
        <tr>
            <td>Store Name</td>
            <td>@Model.storeName</td>
        </tr>
        <tr>
            <td>Qty</td>
            <td>@Model.qty</td>
        </tr>
        <tr>
            <td>Subtotal</td>
            <td>@string.Format("{0:C}", Model.subtotal)</td>
        </tr>
        <tr>
            <td>Tax</td>
            <td>@string.Format("{0:C}", Model.tax)</td>
        </tr>
        <tr>
            <td>Delivery Charge</td>
            <td>@string.Format("{0:C}", Model.deliveryCharge)</td>
        </tr>
        <tr>
            <td>Delivery Charge Tax</td>
            <td>@string.Format("{0:C}", Model.deliveryChargeTax)</td>
        </tr>
        <tr>
            <td>Tip</td>
            <td>@string.Format("{0:C}", Model.tip)</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>@string.Format("{0:C}", Model.total)</td>
        </tr>
        <tr>
            <td>Order Date</td>
            <td>@Model.orderDate</td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>@Model.orderPhone</td>
        </tr>
        <tr>
            <td>Staus</td>
            <td>@Model.orderStatus</td>
        </tr>
    
        <tr>
            <td>Address</td>
            <td>@Model.deliveryAddress</td>
        </tr>

    </tbody>
</table>
<div class="order-item-detail">
    <div class="row">
        <div class="col-sm-2">
            <span class="qty-no">
                Qty
            </span>
        </div>
        <div class="col-sm-2">
            <span class="qty-nos">
                Item  
            </span>
        </div>
        <div class="col-sm-6">
            <span class="item_name">
                Price
            </span>
        </div>
        <div class="col-sm-2">
            <span class="price">
                Total
            </span>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.orderProductList)
        {
            <div class="col-md-2">
                <span class="quty">@item.qty</span>
            </div>
            <div class="col-sm-2">
                <span class="item-name">
                    @item.productName
                </span>
            </div>
            <div class="col-sm-6">
                <span class="item-name">
                   @string.Format("{0:C}", item.price)
                </span>
            </div>
            <div class="col-md-2">
                <span class="price">@string.Format("{0:C}", item.subtotal)</span>
            </div>
        }
    </div>
    
    <div class="total-cart">
        <div class="row">
            <div class="offset-4 col-md-6">
                <div class="cart">
                    <span class="pull-right">Subtotal</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cart">
                    <span class="">@string.Format("{0:C}", Model.subtotal)</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="offset-4 col-md-6">
                <div class="cart">
                    <span class="pull-right">Tax</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cart">
                    <span class="">@string.Format("{0:C}", Model.tax)</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-4 col-md-6">
                <div class="cart">
                    <span class="pull-right"> Delivery Charge </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cart">
                    <span class="">@string.Format("{0:C}", Model.deliveryCharge)</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-4 col-md-6">
                <div class="cart">
                    <span class="pull-right"> Delivery Charge Tax </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cart">
                    <span class="">@string.Format("{0:C}", Model.deliveryChargeTax)</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-4 col-md-6">
                <div class="cart">
                    <span class="pull-right"> Tip </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cart">
                    <span class="">@string.Format("{0:C}", Model.tip)</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-4 col-md-6">
                <div class="cart">
                    <span class="pull-right"> Total</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cart">
                    <span class="">@string.Format("{0:C}", Model.total)</span>
                </div>
            </div>
        </div>
    </div>
</div>
