﻿
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="address-forms">
    <div class="container">
        <div class="main-content">
            <div class="container mt-7">
                <!-- Table -->

                <div class="row">
                    <div class="col-xl-12 m-auto order-xl-1">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">
                                <div id="success" style="display:none">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <strong></strong> Your Password is Changed.
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0"> Change Password</h3>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-password">
                                                        New Password:
                                                    </label>
                                                    <input autocomplete="off" required type="password" id="password" class="form-control form-control-alternative">
                                                    <p id="Perror" style="display:none; color:red"> Field is required</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-password">
                                                        Confirm New Password:
                                                    </label>
                                                    <input type="password" required id="cpassword" class="form-control form-control-alternative">
                                                    <p id="CPerror" style="display:none; color:red"> Field is required</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <p id="error" style="display:none; color:red"> Passowrd Not match</p>
                                                    <div class="">
                                                        <button class="btn btn-sm btn-success" id="btnChangePassoword" type="button"> Change Password</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btnChangePassoword").click(function () {
        var cpassword = $("#cpassword").val();
        var password = $("#password").val();
         $("#error").hide();
        $("#success").hide();
        if (password == "") {
            $("#Perror").show();
            $("#CPerror").hide();


        } else if (cpassword == "") {

            $("#CPerror").show();
            $("#Perror").hide();
        } else {
            if (password != cpassword) {
                $("#error").show();
                $("#success").hide();
                $("#CPerror").hide();
                $("#Perror").hide();

        } else {

            $.ajax({
                url: "/profile/ChangeUserPassword?userID=" + 1 + "&password=" + password + "&ipAddress=" + 1,
                type: "get",
                success: function (d) {
                    var getDate = (d);
                    //alert(JSON.stringify(d));
                    $("#success").show();
                    $("#cpassword").val('');
                    $("#password").val('');
                    $("#error").hide();
                    $("#Perror").hide();
                    $("#CPerror").hide();



                }
            });
        }
        }
        
    })
</script>
<script>
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("cpassword");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
}
