﻿
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var CreateIntentUrl='@Url.Action("Create","create-payment-intent")'
</script>
<link href="~/UserTheme/css/datepicker.css" rel="stylesheet" />
<div id="address-form">
    <div class="container">
        <div class="stepwizard form-setup1">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step1">
                    <a href="#VerifyEmail-step" type="button" class="btn btn-primary btn-circle">
                        <span class="fa fa-car"></span>
                    </a>
                    <p>Delivery</p>
                </div>
                <div class="stepwizard-step2">
                    <a href="#ProfileSetup-step" type="button" class="btn btn-success btn-circle" id="ProfileSetup-step-2" disabled="disabled">
                        <span class="fa fa-credit-card"></span>
                    </a>
                    <p>Payment</p>
                </div>
            </div>
        </div>

        <div class="row setup-content" id="VerifyEmail-step" style="display: flex;">
            <div class="form-setup">
                <div class="col-md-12">
                    <br>
                    <div class="form-horizontal">
                        <form>
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class=" control-label" for="card-holder-name">Address</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">

                                        <div class="address-type" id="addressPartialDiv">

                                        </div>
                                        <hr>
                                        <p>Or you can:</p>
                                        <div class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">Add New Delivery Address</div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class=" control-label" for="card-holder-name">Phone</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <input maxlength="100" id="order_phoneNo" type="text" class="form-control" placeholder="Enter Phone No">
                                        <p id="order_phoneNoError" style="display:none; color:red;font-weight:bold;">Please enter the phone number</p>

                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class=" control-label" for="card-holder-name">Order instructions </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="order_Order_instructions"></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class=" control-label" for="card-holder-name">@ViewBag.storeName</label>
                                            <div class="help-text">
                                                @ViewBag.CityName
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div id="accordion" role="tablist">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class=" control-label" for="card-holder-name">Delivery Date</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @*<select id="date-range" class="form-control">
                                                    </select>*@

                                                @Html.DropDownList("dateid", ViewBag.dateid as SelectList, "-- Select Date--", new { @class = "form-control ,search-slt", @id = "dateid", @required = "required" })
                                                <p id="dateidError" style="display:none; color:red;font-weight:bold;">Please select Delivery Date </p>

                                            </div>
                                            <div class="col-sm-6" style="display:none;">
                                                @Html.DropDownList("TimeId", new SelectList(""), "--Select Time--", new { @class = "form-control", style = "display:none;" })
                                                @*@Html.DropDownList("TimeId", new SelectList(""), "--Select Time--", new { @class = "form-control", @required = "required" })*@
                                                <p id="TimeIdError" style="display:none; color:red"> Field is Required </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <button class="btn btn-success nextBtn pull-right" id="nextBtn">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--  Stripe payment -->
    <script src="~/js/client.js"></script>
    <link href="~/css/Stripe.css" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <form id="payment-form">
        <div class="row setup-content form-setup2" id="ProfileSetup-step" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p id="card-errors" style="background-color:red;color:white;font-weight:bold;font-size:18px;text-align:center;" role="alert"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 ">
                        @*<label>Payment Method</label>*@

                        <label> </label>
                    </div>
                    <div class="col-xs-12 col-md-12 border">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Please enter your Credit Card or Debit Card
                                </h3>
                                <hr />
                            </div>
                            <br />
                            <!--  Stripe payment Start -->
                            @*<div id="card-element">*@
                            <!--Stripe.js injects the Card Element-->
                            @*</div>*@
                            <!--  Stripe payment End -->
                            @*<button type="button" id="button-Authorize">Authorize</button>
                    <input type="text" id="txtToken" />
                    <button type="button" id="button-Charge">Charge</button>
                    <button type="button" id="button-Customer">Create Customer</button>
                    <button type="button" id="button-Card">Create Card</button>
                    <button type="button" id="button-Create-Charge">Create Charge</button>
                    <button type="button" id="button-Capture-Charge">Capture Charge</button>
                    <button type="button" id="button-Delete-Card">Delete Card</button>
                    <button type="button" id="button-Delete-Customer">Delete Customer</button>
                    <button type="button" id="button-Refund-Charge">Refund Charge</button>*@
                            <div class="cell example example2" id="example-2">

                                <div data-locale-reversible>

                                    <div class="row" data-locale-reversible>

                                        <div class="field quarter-width form-group">
                                            <label for="validationTooltipCardNumber" data-tid="elements_examples.form.postal_code_label"><strong>Postal Code (eg - V6B 5A7)</strong></label>
                                            <div class="input-group">
                                                <input id="example2-zip" maxlength="7" data-tid="elements_examples.form.postal_code_placeholder" class="form-control input empty form-control" type="text" placeholder="V6B 5A7" required="" autocomplete="postal-code">

                                                <div class="baseline"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="field form-group quarter-width">
                                            <label for="card-number" data-tid="elements_examples.form.card_number_label">Card number</label>
                                            <div id="card-number" class="input empty"></div>

                                            <div class="baseline"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="field half-width form-group col-sm-6">
                                            <label for="card-expiry" data-tid="elements_examples.form.card_expiry_label">Expiration</label>
                                            <div id="card-expiry" class="input empty"></div>

                                            <div class="baseline"></div>
                                        </div>
                                        <div class="field half-width form-group col-sm-4">
                                            <label for="card-cvc" data-tid="elements_examples.form.card_cvc_label">CVC</label>
                                            <div id="card-cvc" class="input empty"></div>

                                            <div class="baseline"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12 m-20 strong-class">
                        <span>Tip</span>
                    </div>
                    <div class="col-xs-6 col-sm-12 col-lg-12">
                        <label>A great way to say thank you to your amazing shopper!</label>
                        <div class="form-check-inline">

                            <label class="customradio">
                                <span class="radiotextsty">$5</span>
                                <input type="radio" onchange="radioButton(5)" value="5" checked="checked" name="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="customradio">
                                <span class="radiotextsty">$10</span>
                                <input type="radio" onchange="radioButton(10)" value="10" name="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="customradio">
                                <span class="radiotextsty">$15</span>
                                <input type="radio" onchange="radioButton(15)" value="15" name="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="customradio">
                                <span class="radiotextsty">$20</span>
                                <input type="radio" onchange="radioButton(20)" value="20" name="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="customradio">
                                <span class="radiotextsty">$30</span>
                                <input type="radio" onchange="radioButton(30)" value="30" name="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="customradio">
                                <span class="radiotextsty">$50</span>
                                <input type="radio" onchange="radioButton(50)" value="50" name="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="customradio">
                                <span class="radiotextsty">No Tip</span>
                                <input type="radio" onchange="radioButton(0)" value="0" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <table id="customers">

                        <tr>
                            <td>Product Subtotal</td>
                            <td id="productSubtotal">$</td>
                        </tr>
                        <tr>
                            <td>Total Items</td>
                            <td id="totalItemStatuses">$</td>
                        </tr>
                        <tr>
                            <td>Product Tax</td>
                            <td id="productTax">$</td>
                        </tr>
                        <tr>
                            <td>Delivery Charge</td>
                            <td id="deliveryCharge">$</td>
                        </tr>
                        <tr>
                            <td>Delivery Charge Tax</td>
                            <td id="deliveryChargeTax">$</td>
                        </tr>
                        <tr>
                            <td>Tip(s)</td>
                            <td id="tip">$</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td id="Total">$</td>
                        </tr>
                    </table>
                        <input type="hidden" id="grandTotal" value="" />
                </div>

                <!-- <div class="row border-top">
         <div class="col-lg-4 col-sm-4 col-xs-4 strong-class">
             <label>Subtotal</label>
         </div>


         <div class="col-lg-4 col-sm-4 col-xs-4" id="textTotalDive">
             <ul class="product-total">
                 <li>Product Subtotal</li>
                 <li>Total Items</li>
                 <li>Product Tax </li>
                 <li>Delivery Charge </li>
                 <li>Delivery Charge Tax</li>
                 <li>Total </li>
             </ul>
         </div>
         <div class="col-lg-4 col-sm-4 col-xs-4">
             <ul class="product-total">
                 <li id="productSubtotal">$</li>
                 <li id="totalItemStatuses"></li>
                 <li id="productTax">$</li>
                 <li id="deliveryCharge">$</li>
                 <li id="deliveryChargeTax">$</li>
                 <li id="Total"></li>
             </ul>
         </div>
     </div>-->
                <!-- <div class="row border-top total-bill">
         <div class="col-lg-6 col-sm-6 col-xs-6">
             <div class="form-group">
                 <label>Total</label>
             </div>
         </div>
         <div class="col-lg-6 col-sm-6 col-xs-6">
             <div class="form-group">
                 <label id="grandTotal">$618.32 CAD</label>
             </div>
         </div>
     </div>-->
                <hr>
                <div class="form-group text-set">
                        <p>By submiting an order you confirm that you have read our <a target="_blank" href="/home/faq">FAQ</a> and agree to our <a target="_blank" href="/home/TermsandCondition">Terms and Conditions</a></p>
                    <p>Price are approximate in-store pricing at the time of purchase. Price may differ as per any in-store.</p>
                </div>
                @*<button class="btn btn-success" id="btnPlaceOrder">Place Order</button>*@
                <!--Stripe Submit Button-->
            <a href="#VerifyEmail-step" type="button" class="btn btn-primary btn-circle">
                <span id="button-back">Back</span>
            </a>
                <button id="submit" class="btn btn-success pull-right btn-lg">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Place Order</span>
                </button>
                <!--Stripe Submit Button-->

            </div>
    </form>

    

</div>
@*//  modal*@
<div class="container">
    <div id="myModal" class="modal fade" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">New Delivery Address</h4>
                </div>
                <div class="modal-body">
                    <form id="addresForm">
                        <div class="row">
                            <div class="col-sm-3">

                            </div>
                            <div class="col-sm-9">
                                <p id="error" style="display:none; color:red"> Fill all Fields</p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                Address type
                            </div>
                            <div class="col-sm-9" id="addressTypeIDDiv">
                                <label>
                                    <input type="radio" value="1" checked name="addressTypeID"> Residential
                                </label>
                                <label>
                                    <input type="radio" value="2" name="addressTypeID"> Business
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                Address Title
                            </div>
                            <div class="col-sm-9">
                                <input required type="text" id="addressTitlee" class="form-control" name="label" placeholder="eg. 5050 Dufferin">
                                <p id="addressTitleeError" style="display:none; color:red"> Field is Required </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                Street Address
                            </div>
                            <div class="col-sm-9">
                                <input required type="text" id="streetAddress" class="form-control" name="label">
                                <p id="streetAddressError" style="display:none; color:red"> Field is Required </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                Unit (Optional)
                            </div>
                            <div class="col-sm-9">
                                <input required type="text" id="unit" class="form-control" name="label">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                Province
                            </div>
                            <div class="col-sm-9">
                                @Html.DropDownList("provinceID", ViewBag.provinceID as SelectList, "-- Select Province--", new { @class = "form-control" })
                                <p id="provinceIDError" style="display:none; color:red"> Field is Required </p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                City
                            </div>
                            <div class="col-sm-9">
                                @Html.DropDownList("CityId", new SelectList(""), "--Select City--", new { @class = "form-control" })
                                <p id="cityIdError" style="display:none; color:red"> Field is Required </p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                Postal Code
                            </div>
                            <div class="col-sm-9">
                                <input required type="text" id="postalCode" class="form-control" name="label">
                                <p id="postalCodeError" style="display:none; color:red"> Field is Required </p>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-3">
                                Address Directions (Optional)
                            </div>
                            <div class="col-sm-9">
                                <textarea required name="address-note" id="addressDirections" maxlength="250" class="form-control adnote" placeholder="e.g. Your doorbell code / other instructions" spellcheck="false"></textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="btnAddress" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>*@

<script src="~/UserTheme/js/timePicker.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>

<script type="text/javascript">
    var getTip = 0;
    var Total = 0;
    var GrandTotal=0;
    var deliveryCharge=0;
    var deliveryChargeTax=0;
    var serviceCharge=0;
    var tax=0;
    var subtotal=0;
    var tip = 5;// By default 5$
    getTotal();
    function getTotal() {
        $.ajax({
            url: "/profile/orderTexDetail",
            type: "get",
            success: function (res) {
                $("#productSubtotal").text("$" + res.productSubtotal.toFixed(2));
                subtotal = res.productSubtotal;               
                $("#totalItemStatuses").text(res.totalItems);
                $("#productTax").text("$" + res.productTax.toFixed(2));
                tax = res.productTax;
                $("#deliveryCharge").text("$" + res.deliveryCharge.toFixed(2));
                deliveryCharge = res.deliveryCharge;
                $("#deliveryChargeTax").text("$" + res.deliveryChargeTax.toFixed(2));
                deliveryChargeTax = res.deliveryChargeTax.toFixed(2);

                Total = parseFloat(res.totalWithoutTips.toFixed(2));

                $("#Total").text("$" + Total.toFixed(2));

                $("#grandTotal").val("$" + Total.toFixed(2));
                GrandTotal = Total;
                $("#Total").text("$" + GrandTotal.toFixed(2));
                $("#tip").text("$" + tip.toFixed(2));
                radioButton(tip); 
            }
        });
    }
    function radioButton(id) {
        getTip = id;
        GrandTotal = parseFloat(parseFloat(Total) + parseFloat(getTip));
        $("#grandTotal").val("$" + GrandTotal.toFixed(2));
        $("#Total").text("$" + GrandTotal.toFixed(2));
        tip = id;
        $("#tip").text("$" + tip.toFixed(2));
    }

    $("#btnPlaceOrder").click(function () {

        var order_Order_instructions = $("#order_Order_instructions").val();
        var order_phoneNo = $("#order_phoneNo").val();
        var addressId = $("#addressPartialDiv input[type='radio']:checked").val();
        var DateGet = $("#dateid option:selected").val();
        var TimeGet = $("#TimeId option:selected").val();
        TimeGet = "18:00:00";
        //alert(DateGet + " : " + TimeGet);
        var order = {
            "storeID": 1,
            "userID": 1010,
            "addressID": addressId,
            "qty": TotalQty,
            "subtotal": subtotal,
            "tax": tax,
            "deliveryCharge": deliveryCharge,
            "serviceCharge": 0,
            "deliveryChargeTax": deliveryChargeTax,
            "total": GrandTotal,
            "notes": order_Order_instructions,
            "deliveryDate": DateGet,
            "ipAddress": "1",
            "time": TimeGet,
            "orderPhone": order_phoneNo,
            "tip": tip,
            "orderID": 0
        }

        //alert(JSON.stringify(order))
        //alert("oreder save working on empty cashe thanks.......")
        $.ajax({
            url: "/profile/AddOrder",
            data: order,
            type: "post",
            success: function (d) {
                var getDate = (d);
                //$("#AjaxLoader").hide();
                //$("#totalCost").text('$ ' + getDate.totalCost);
                //$("#totalItemStatus").text(getDate.totalItemStatus);
                //$("#addressPartialDiv").load("/profile/UserAddress")
                //$("#myModal").modal("hide");
                emptyCartChange();
                window.location.href = "/profile/Orderplaced";

            }
        });
    })


    function SaveOrder(charge, cardType, last4) {
        var order_Order_instructions = $("#order_Order_instructions").val();
        var order_phoneNo = $("#order_phoneNo").val();
        var addressId = $("#addressPartialDiv input[type='radio']:checked").val();
        var DateGet = $("#dateid option:selected").val();
        var TimeGet = $("#TimeId option:selected").val();      
        var order = {
            "storeID": 5,
            "userID": 0,
            "addressID": addressId,
            "qty": TotalQty,
            "subtotal": subtotal,
            "tax": tax,
            "deliveryCharge": deliveryCharge,
            "serviceCharge": 0,
            "deliveryChargeTax": deliveryChargeTax,
            "total": GrandTotal,
            "notes": order_Order_instructions,
            "deliveryDate": DateGet,
            "ipAddress": "1",
            "time": TimeGet,
            "orderPhone": order_phoneNo,
            "tip": tip,
            "chargeRef": charge,
            "cardType": cardType,
            "last4": last4,
            "orderID": 0
        }

        $.ajax({
            url: "/profile/AddOrder",
            data: order,
            type: "post",
            success: function (d) {
                var getDate = (d);
                if (d) {
                    emptyCartChange();
                    window.location.href = "/profile/Orderplaced";
                } else {
                     alert(d.message);
                }
            }
        //    ,
        //error: function (result, status, error) {
        //    var obj = jQuery.parseJSON(result.responseText);
        //   alert(obj.message);
        //}
        });
    }

     $("#provinceID").change(function () {

        var Id = $(this).val();
        $.ajax({

            type: "Get",
            url: "/Accounts/GetCity?id=" + Id,
            contentType: "html",
            success: function (response) {
                //alert(response);
                $("#CityId").empty();
                $("#CityId").append(response);

            }

        })

    })
    $(document).ready(function () {
         $("#order_phoneNoError").hide();
            $("#dateidError").hide();
            $("#TimeIdError").hide();
        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);
            if (!$item.hasClass('disabled')) {
                //navListItems.removeClass('btn-primary').addClass('btn-default');
                if ($item.attr('id') != $(navListItems[1]).attr('id')) {
                    $(navListItems[1]).removeClass('btn-primary').addClass('btn-success');
                }
                //$('#item3').addClass('btn-success');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function () {
            var OrderPhone = $("#order_phoneNo").val();
           var OrderDateGet = $("#dateid option:selected").val();
            //var OrderTimeGet = $("#TimeId option:selected").val();
            var OrderTimeGet = "18:00:00";
            $("#order_phoneNoError").hide();
            $("#dateidError").hide();
            $("#TimeIdError").hide();
            if (OrderPhone == "") {
                $("#order_phoneNoError").show();
            $("#dateidError").hide();
            $("#TimeIdError").hide();
            } else if (OrderDateGet == "") {
                $("#order_phoneNoError").hide();
                $("#dateidError").show();
            $("#TimeIdError").hide();
            }
            else if (OrderTimeGet == "") {
                 $("#order_phoneNoError").hide();
                $("#dateidError").hide();
                $("#TimeIdError").show();              
            }
            else {
                 $("#order_phoneNoError").hide();
            $("#dateidError").hide();
            $("#TimeIdError").hide();
                var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url'], input[type='password'], input[type='email']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
            }

        });

        $('div.setup-panel div a.btn-primary').trigger('click');
    });
@*<script type="text/javascript">
        var dateRange = document.getElementById('date-range'),
            monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

        for (var day = 0; day < 7; day++) {
            var date = new Date();
            date.setDate(date.getDate() + day);
            dateRange.options[dateRange.options.length] = new Option([date.getDate(), monthNames[date.getMonth()], date.getFullYear()].join(' '), date.toISOString());
        }

    </script>*@
    //$(document).ready(function () {
    //    $('#time').timepicker({
    //        timeFormat: 'h:mm p',
    //        interval: 15,
    //        minTime: '10',
    //        maxTime: '6:00pm',
    //        startTime: '10:00',
    //        defaultTime: '11'
    //    });
    //});

    $("#addressPartialDiv").load("/profile/UserAddress")
    $("#accordion").load("/cart/catdeatail")
        $("#error").hide();
    $("#btnAddress").click(function () {
        $("#error").hide();
        $("#addressTitleeError").hide();
        $("#streetAddressError").hide();
        $("#provinceIDError").hide();
        $("#cityIdError").hide();
        $("#postalCodeError").hide();

        var streetAddress = $("#streetAddress").val();
        var postalCode = $("#postalCode").val();
        //var addressTitle = $("#addressTitle").val();
        var addressDirections = $("#addressDirections").val();
        var unit = $("#unit").val();
        var addressTitlee = $("#addressTitlee").val();


       var cityId= $("#CityId option:selected").val();
       var provinceID  = $("#provinceID option:selected").val();
        var addressTypeID = $("#addresForm input[name='addressTypeID']:checked").val();
        var Street = $("#Street_Address").val();
        //alert("addressTypeID : "+addressTypeID)

        if (addressDirections == "") {
            addressDirections=":a"
        }
        if (unit == "") {
            unit="1"
        }
        if (addressTitlee == "") {
            $("#addressTitleeError").show();
            $("#streetAddressError").hide();
            $("#provinceIDError").hide();
            $("#cityIdError").hide();
            $("#postalCodeError").hide();
        } else if (streetAddress == "") {
            $("#streetAddressError").show();
            $("#addressTitleeError").hide();
            $("#provinceIDError").hide();
            $("#cityIdError").hide();
            $("#postalCodeError").hide();

        }
        else if (provinceID == "" || provinceID == 0) {
            $("#provinceIDError").show();
            $("#addressTitleeError").hide();
            $("#streetAddressError").hide();
            $("#cityIdError").hide();
            $("#postalCodeError").hide();


        } else if (cityId == "" || cityId == 0) {
            $("#cityIdError").show();
            $("#addressTitleeError").hide();
            $("#streetAddressError").hide();
            $("#provinceIDError").hide();
            $("#postalCodeError").hide();


        } else if (postalCode == "") {
            $("#postalCodeError").show();
            $("#addressTitleeError").hide();
            $("#streetAddressError").hide();
            $("#provinceIDError").hide();
            $("#cityIdError").hide();

        } else {
            if (addressTitlee == "" || postalCode == "" || cityId == 0 || streetAddress == "" || provinceID == 0) {
                $("#error").show();

            }
               else {


            var addressDto = {
                "userID": 1010,
                "streetAddress": streetAddress,
                "unit": unit,
                "provinceID": provinceID,
                "cityID":cityId,
                "postalCode": postalCode,
                "addressTitle": addressTitlee,
                "addressDirections": addressDirections,
                "addressTypeID": addressTypeID,
                "ipAddress": 1,
                   }
                   //alert(JSON.stringify(addressDto));
            $.ajax({
                url: "/profile/addaddress",
                data: addressDto,
                type: "post",
                success: function (d) {
                    var getdate = (d);
                    //alert(d);

                    //$("#addresspartialdiv").load("/profile/useraddress");
                    $("#myModal").modal("hide");
                        $("#addressPartialDiv").load("/profile/UserAddress")
                 $("#error").hide();

                }

            });
        }






        }
    })

    $("#dateid").change(function () {

        var date = $(this).val();

        $.ajax({

            type: "Get",
            url: "/profile/Gettime?date=" + date,
            contentType: "html",
            success: function (response) {
                //alert(response);
                $("#TimeId").empty();
                $("#TimeId").append(response);

            }

        })

    })
     $("#order_phoneNo").inputmask({ "mask": "(999) 999-9999" });


</script>