﻿@model GroceryPoint.Dtos.Users.UserDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="address-forms">
    <div class="container">
        <div class="main-content">
            <div class="container mt-7">
                <!-- Table -->

                <div class="row">
                    <div class="col-xl-12 m-auto order-xl-1">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">

                                @if (ViewBag.success != null)
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <strong></strong> Your Profile is updated.
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="row align-items-center">

                                    <div class="col-md-8 col-sm-12 col-lg-8">
                                        <h3 class="mb-0"> Edit My Profile</h3>
                                    </div>
                                    <div class="col-md-4 col-sm-12 text-right">
                                        <a href="/Profile" class="btn btn-sm btn-success">
                                            Back to My Account
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form asp-action="EditProfile" method="post" class="form">

                                    <input type="hidden" asp-for="userID" />
                                    <input type="hidden" asp-for="storeID" />



                                    @*<input type="hidden" asp-for="phone" />*@
                                    <h6 class="heading-small text-muted mb-4">
                                        User information
                                    </h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-username">
                                                        Full Name
                                                    </label>
                                                    <input type="text" name="userFirstName" id="input-username" required class="form-control form-control-alternative" placeholder="Full Name" asp-for="userFirstName">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-email">
                                                        Last Name
                                                    </label>
                                                    <input type="text" id="userLastName" name="userLastName" required asp-for="userLastName" class="form-control form-control-alternative">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-email">
                                                         Province 
                                                    </label>
                                                    @Html.DropDownList("provinceID", ViewBag.provinceID as SelectList, "-- Select Province--", new { @required = "required", @class = "form-control search-slt", @id = "provinceID", @name = "provinceID" })

                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-city-name">
                                                        City 
                                                    </label>
                                                    @Html.DropDownList("cityID", ViewBag.cityID as SelectList, "-- Select City--", new { @required = "required", @class = "form-control search-slt", @id = "cityID", @name = "cityID" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-email">
                                                        Email
                                                    </label>
                                                    <input type="email" id="email" name="email" required asp-for="email" class="form-control form-control-alternative">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-phone-name">
                                                        Phone:
                                                    </label>
                                                    <input type="text" asp-for="phone" name="phone" required id="input-phone-name" class="form-control form-control-alternative" placeholder="Phone Number">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="postalCode">
                                                        Postal Code:
                                                    </label>
                                                    <input type="text" asp-for="postalCode" required name="postalCode" id="postalCode" class="form-control form-control-alternative" placeholder="Phone Number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-success btn-green">Update Profile </button>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>

<script>
    $("#provinceID").change(function () {

        var Id = $(this).val();
        $.ajax({

            type: "Get",
            url: "/Accounts/GetCity?id=" + Id,
            contentType: "html",
            success: function (response) {
                //alert(response);
                $("#cityID").empty();
                $("#cityID").append(response);

            }

        })

    })
    $("#input-phone-name").inputmask({ "mask": "(999) 999-9999" });

</script>