﻿@model GroceryPoint.Dtos.Users.UserDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="address-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="widget stacked widget-table action-table col-sm-12">

                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <div class="row">
                                <div class="col-sm-6">
                                    <span><h3>My Profile</h3></span>
                                </div>
                                <div class="col-sm-6">
                                    <div class="pull-right">
                                        <a href="/profile/EditProfile">
                                            <div class="btn btn-sm btn-success ">
                                                Edit My Profile
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div> <!-- /widget-header -->

                        <div class="widget-content">
                            <table class="table table-striped table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Email</td>
                                        <td>@Model.email</td>
                                    </tr>
                                    <tr>
                                        <td>First Name</td>
                                        <td>@Model.userFirstName</td>
                                    </tr>

                                    <tr>
                                        <td>Last Name</td>
                                        <td>@Model.userLastName</td>
                                    </tr>
                                    <tr>
                                        <td>Phone:</td>
                                        <td>@Model.phoneShow</td>
                                    </tr>

                                    <tr>
                                        <td>City:</td>
                                        <td>@Model.city</td>
                                    </tr>
                                    <tr>
                                        <td>PostalCode</td>
                                        <td>@Model.postalCode</td>
                                    </tr>
                                    <tr>
                                        <td>Province</td>
                                        <td>@Model.province</td>
                                    </tr>


                                </tbody>
                            </table>

                        </div> <!-- /widget-content -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="btn btn-sm btn-success">
                                    Back
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <a href="/profile/EditProfile">
                                    <div class="btn btn-sm btn-success pull-right">
                                        Edit My Profile
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- /widget -->
            </div>
        </div>
        </div>
  