﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="address-forms">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget stacked widget-table action-table col-sm-12">

                    <div class="widget-header">
                        <i class="icon-th-list"></i>
                        <div class="row">
                            <div class="col-sm-6">
                                <span><h3>My Order</h3></span>
                            </div>
                        </div>


                    </div> <!-- /widget-header -->

                    <div class="widget-content">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Store Name</th>
                                    <th>Payment Type</th>
                                    <th>Total</th>
                                    <th>Tax</th>
                                    <th>Sub Total</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th class="text-center">Order View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0012</td>
                                    <td>Biz Bazaar</td>
                                    <td>COD</td>
                                    <td>$120</td>
                                    <td>18%</td>
                                    <td>$141.60</td>
                                    <td>Pending</td>
                                    <td>Apr 25,2020 6:00:53 pm</td>
                                    <td><div class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">View</div></td>
                                </tr>
                                <tr>
                                    <td>0017</td>
                                    <td>Walmart</td>
                                    <td>Master Card</td>
                                    <td>$240</td>
                                    <td>18%</td>
                                    <td>$283.20</td>
                                    <td>Paid</td>
                                    <td>Apr 25,2020 6:00:53 pm</td>
                                    <td><div class="btn btn-sm btn-success">View</div></td>
                                </tr>


                            </tbody>
                        </table>

                    </div> <!-- /widget-content -->
                </div>
            </div> <!-- /widget -->
        </div>
    </div>

</div>