﻿
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="address-forms">
        <div class="container">
            <div class="main-content">
                <div class="container mt-7">
                    <!-- Table -->

                    <div class="row">
                        <div class="col-xl-12 m-auto order-xl-1">
                            <div class="card bg-secondary shadow">
                                <h1 style="color:#11a640"> Thank you for Shopping with us.</h1>
                              <h3>We will email you when store confirms your order.</h3>
                                <br />
                                <a class="btn btn-success" style="color:white" href="/profile/OrderDetail">My Order</a><br />
                                 <h2 style="text-align:center;">Or</h2>
                                <a class="btn btn-success" style="color:white" href="/home"> Continue Shopping </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>