﻿@model IEnumerable<GroceryPoint.Dtos.Order.UserOrdersDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div id="address-forms">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget stacked widget-table action-table col-sm-12">

                    <div class="widget-header">
                        <i class="icon-th-list"></i>
                        <div class="row">
                            <div class="col-sm-6">
                                <span><h3>My Orders</h3></span>
                            </div>
                        </div>


                    </div> <!-- /widget-header -->

                    <div class="widget-content table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Store Name </th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                    <th>Tax</th>
                                    <th>Total</th>
                                    <th>Order Date</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.orderNumber</td>
                                        <td>@item.storeName</td>
                                        <td>@item.qty</td>
                                        <td>@string.Format("{0:C}", item.subtotal)</td>
                                        <td>@string.Format("{0:C}", item.tax)</td>
                                        <td>@string.Format("{0:C}", item.total)</td>
                                        <td>@item.orderDate</td>

                                        <td><div class="btn btn-sm btn-success button-set" onclick="OrderPop(@item.orderID)">View Details</div></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div> <!-- /widget-content -->
                </div>
            </div> <!-- /widget -->
        </div>
    </div>

</div>
<div id="myModalOrder" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Order Details</h4>
            </div>
            <div class="modal-body" id="modalboday">

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>
<script>
    function OrderPop(id) {


        $('#modalboday').load("/profile/OrderDetailbyId", { id: id });
        $("#myModalOrder").modal("show");
    }
</script>
