body{font-family: 'Lato', sans-serif; font-weight: 400; font-size: 14px; line-height: 20px; letter-spacing: 0.3px;}
h3, h4, h5, h6{ font-weight: 700;font-family: 'Poppins', sans-serif;}
h1, h2{ font-weight: 900}
/*.container {
    max-width: 1400px;
    width: 98%;
}*/
p {
  padding: 0;
  margin: 0 0 30px 0;
}
a {
  transition: 0.5s;
}
body {
    overflow-x: hidden;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}
.header-top { background: #000; color: #fff; }
.header-top a{ color: #fff; }
.header-top .container{ height: 40px}
.header-bottom {padding: 8px 0;
    position: relative;}
.search-block {
    width: 500px;
}
.search-block input {
    border: 0;
    height: 46px;
    padding: 0 5px 0 10px;
    width: calc(100% - 40px);
    border: solid 1px #000000;    margin: auto;
}
.search-block .action, .search-block .action i {
    position: absolute;
    right: 0;
    top: 0;
    width: 46px;
    height: 46px;cursor: pointer;
}
.search-block .action input {
    visibility: hidden;
    width: 100%;
    display: block;
}
    .search-block .action i {
        line-height: 44px;
        text-align: center;
        background: #ff8000;
        color: #fff;
        border: solid 1px #ff8000;
        font-size: 18px;
    }
.logo { width: 180px }
#search { background: #bb050f; padding:25px 0  }
#search h2 { color: #fff  }
#search
input[type="button"] {
    width: 170px;
    margin: 0;
    background: #000;
    color: #fff;
    text-transform: uppercase;
}

#main {
    margin-top: 68px;padding: 20px 0 80px;
}
div#myCarousel .carousel-item img { width: 100% }
::-webkit-input-placeholder { 
  font-weight: 600;
  font-family: 'Lato', sans-serif; 
  font-size: 15px;
  font-style: italic;
}
.carousel-item:before {
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
:-ms-input-placeholder { 
  font-weight: 600;
  font-family: 'Lato', sans-serif; 
  font-size: 15px;
  font-style: italic;
}

::placeholder {
  font-weight: 600;
  font-family: 'Lato', sans-serif; 
  font-size: 15px;
  font-style: italic;
}
.carousel-caption {text-align: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    width: calc(96% - 30px);
    left: 0;
    right: 0;
    max-width: 1400px;
    margin: 0 auto;}
.carousel-caption p{ margin: 0 0 0 4px; font-weight: 800; letter-spacing: 4px;}
.carousel-caption h1 { font-weight: 900;     font-weight: 900;
    font-size: 65px;
    margin: 0;
    line-height: 60px;}
.carousel-caption h2 { color: #d9d9d9; font-weight: 300; font-size: 54px; margin: 0; line-height: 54px;}

#search span {
    line-height: 46px;
    margin: 0 15px;
    color: #fff;
    font-weight: 600;
    }
#search select {
    width: 28%;
    margin-right: 10px;
    padding: 5px;
    border: 0;
    height: 46px;
    background-color: #fff;
}
#search input[type="button"]  {border: 0; font-weight: 600;height: 46px;}
.main-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
.brands-carousel {
    max-width: 1280px;
    margin: 0 auto;
}
.main-nav a:hover, .main-nav .active > a, .main-nav li:hover > a {
    color: #000;
    text-decoration: none;
}
.brand-img {
    border: solid 0px #ccc; overflow: hidden;
}
.brand-img img {
    margin: 0 auto
}
.brand-item {
    text-align: center;padding: 0 2px;
}
.brands-carousel.middle-arrow .owl-nav button {
    left: -80px;
}
.brands-carousel.middle-arrow .owl-nav button.owl-next { right: -80px;}
section { padding: 80px 0 0px }
section#brands h2 {
    margin-bottom: 50px;
}
.left-blk p { margin: 0; font-weight: 600 }
h2, h1.page-title {font-size: 24px; color:#000;  font-weight: 900; text-transform: uppercase; }
h1.page-title {margin-bottom: 30px }
.brand-item p {    font-size: 18px;
    font-style: italic;
    color: #4e4e4e;
    font-weight: 300;
    margin: 20px 0 0;
    font-weight: 600;}
.category-blk { position: relative;    margin-bottom: 30px;}
.categories-carousel .item .category-blk:last-child { margin-bottom: 0px}
.category-text { position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    color: #fff;
    right:20px;
}
.cart-block i {
    font-size: 15px;
}
.cart-block a i {
    margin-right: 5px;
}
.cart-block a {color: #fff;
    margin-right: 0px;}
.category-text h3 {
    margin: 0 0 5px;    font-size: 24px;
    font-weight: 400;
}
.category-text p {
    font-size: 16px;
    font-style: italic;
    margin: 0
}
.cart-block a:after {
    right: -13px;
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background: #fff;
    opacity: 0.5;
}
#header.header-scrolled, #header.header-pages {padding: 0; height: auto;    top: -40px;}
.cart-block {
    position: relative;
    width: 330px;
    padding: 0px 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background: #ff8000;
    border-radius: 3px;
}
.cart-block .cart-chk {
       padding: 0 15px;
}
section#categories header p {
    padding-bottom: 35px;    margin-bottom: 0;
}
.page-cat-name {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: solid 1px #e6e6e6;
}

.counter {
    position: static;
    font-size: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
/*.counter i.fa {
    font-size: 22px;
    margin-right: 7px;
    line-height: 20px;
    padding-right: 7px;
    border-right: 1px solid #ccc;
}*/
button:foucs {outline: 0}
.middle-arrow .owl-nav button {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: -20px;
    transform: translateY(-50%);
}
.brands-carousel.middle-arrow .owl-nav button {
    top: calc(50% - 20px);
}
.middle-arrow .owl-nav button.owl-next {
  right: -20px;
    left: auto;
}

.middle-arrow .owl-nav button span {
width: 46px;
    height: 46px;
    line-height: 40px;
    text-align: center;
    background-color: #d00914;
    display: block;
    border-radius: 50%;
    color: #fff;
    font-size: 32px;
    text-indent: -2px;
}
.middle-arrow .owl-nav button.owl-next span {
    text-indent: 2px;
}
.middle-arrow {
    position: relative;    
}
section#need-help {
    padding: 90px 0;
    margin: 80px 0 0;
    text-align: center;
    /*background: url(../images/home/need-help.jpg) no-repeat center top;*/
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    position: relative;    background: #f7f7f7;
    padding-bottom: 0;
}
section#need-help:before {
    background: #c50711;
    opacity: 0.88;
    width: 100%;
    height: 82%;
    left: 0;
    top: 0;
    content: '';
    z-index: 1;
    display: block;
    position: absolute;
}

section#need-help .container {
    z-index: 2;
    position: relative;
}
.category-blk:before {content: '';
background: rgb(0,0,0);
background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
;opacity: 0.4;position: absolute;z-index: 1;left: 0;top: 0;width: 100%;height: 100%;}
section#need-help h2 {
    font-size: 32px;color: #fff;font-weight: 900
}

section#need-help h4 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 100px
}
section#need-help h4 a{
    color: #fff;
    font-weight: 800;
}
section#need-help a:hover {
    text-decoration: underline;
}
section#need-help hr {
    max-width: 700px;
    margin: 35px auto;
}
.help-sec {
    border: solid 2px #ffffff;
    margin: 0 auto;
    padding: 60px 15px 40px 15px;background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07058823529411765);
}

.help-sec i {
       background: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    top: -60px;
    position: absolute;
    left: calc(50% - 50px);
    color: #fff;
    line-height: 100px;
    font-size: 45px;
    box-shadow:0px 4px 10px rgba(0, 0, 0, 0.07058823529411765)
}
.help-sec i.fa-phone {
    /*background: #0079d0;*/
     color: #0079d0;
}
.help-sec i.fa-envelope {
    color: #d00914;
}
.help-sec i.fa.fa-whatsapp {
        font-size: 52px;
    /* background: #28b03d; */
    color: #28b03d;
}
.help-sec p {
    margin: 0 0 15px;
    color: #000;
}

.help-sec a {
    font-size: 22px;
    font-weight: 600;
    color: #000;
}

.help-sec h6 {
    margin: 0;
}
#newsletter { text-align: center;  padding-bottom: 0px}
#newsletter .newsletter .control { position: relative; max-width: 560px; margin: 0 auto }
#newsletter .newsletter input { border: solid 1px #cfcfcf; width: calc(100% - 130px); height: 46px; padding: 0 10px; font-style: italic;  }
#newsletter .newsletter input[type="button"] { border: solid 1px #d00914; width: 130px; height: 46px; background: #d00914; text-transform: uppercase;; font-style: normal;color: #fff;
font-weight: 600; position: absolute;right: 0; top: 0;z-index: 1;
    cursor: pointer;}
    #footer { background: #111111}
    #footer .footer-top{ padding:50px 0 40px; background: #1d1d1d  }
section header {
    text-align: center;
}
#footer .footer-top h4 { font-size: 17px; padding:0 0 0 22px; position: relative; 
  color: #fff;
  text-transform: uppercase;}
  #footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul li {
    position: relative;
    margin: 8px 0 10px; 
}
#footer .footer-top .footer-links ul li:before { width: 5px;
    height: 5px;
    background: #8e8e8e;
    content: '';
    border-radius: 100%;
    display: block;
    position: absolute;
    top: calc(50% - 2.5px);   transition: 0.5s; }
#footer .footer-top a, #footer .footer-top .footer-contact p { font-size: 15px; padding:0 0 0 22px; color: #8e8e8e}
#footer .footer-top .footer-contact p { margin-bottom: 10px; padding-left: 22px; position: relative; transition: 0.5s;}
#footer .footer-top .footer-contact p a { padding: 0}
#footer .footer-top .footer-contact p.add:before, 
#footer .footer-top .footer-contact p.phone:before, 
#footer .footer-top .footer-contact p.email:before {  transition: 0.5s;position: absolute;left: 0; top: 4px; content: "\f041";font: normal normal normal 14px/1 FontAwesome;}
#footer .footer-top .footer-contact p.phone:before {content: "\f095"; }
#footer .footer-top .footer-contact p.email:before {content: "\f0e0";top: 4px;}
#footer .footer-top h4:before {
    width: 2px;
    height: 14px;
    background: #ff8000;
    content: '';
    position: absolute;
    left: 0;
    top: 3px
}
.footer-icon a { color: #8e8e8e; 
    font-size: 22px;
    margin-left: 20px; }
#footer .footer-top .footer-links ul li:hover:before { background: #fff;  }
    #footer a:hover, #footer .footer-top .footer-links ul li:hover a, #footer .footer-top .footer-contact p:hover:before, #footer .footer-top .footer-contact p:hover  { color: #fff }
/* Back to top button */
#footer .footer-top + .container { padding:15px  }
#footer .footer-top + .container p { margin: 0; color: #8e8e8e; }
.back-to-top {
  position: fixed;
  display: none;
  background: #d00914;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  right: 15px;
  bottom: 45px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}
section header p { font-style: italic; font-size: 16px; color:#606060 }
.inner-banner { background: #f1f1f1; padding: 12px 0}
.inner-banner .breadcrumbs {padding: 0; list-style: none; margin-bottom: 60px;}
.inner-banner .breadcrumbs li {display: inline-block; color: #000; opacity: 0.7; text-transform: uppercase;}
.inner-banner .breadcrumbs li strong{font-weight: normal;}
.inner-banner .breadcrumbs li a{color: #000;}
.inner-banner .breadcrumbs li a:after {font: normal normal normal 14px/1 FontAwesome;content: '\f105'; margin: 0 5px 0 7px}
.inner-banner h1, .inner-banner p { font-weight: 600; text-transform: uppercase; font-size: 28px; color: #fff;line-height: 28px; margin: 0}
.inner-banner p { font-weight: 300; margin:0 0 60px;}
ul.checkbox-ul { list-style: none; padding: 0 }
#sidebar .card-header a { text-transform: uppercase; color: #222222; font-weight: 600; font-family: 'Poppins', sans-serif;     display: block;}
#sidebar .card-header a:after { content: ''; width:30px; height: 3px; background: #222; display: block; margin:20px 0   }
#sidebar .card-header a:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 3px;
    margin: 0;
    background: url(../images/minus.jpg) no-repeat center center;
}
#sidebar .card-header a.collapsed:before {background-image: url(../images/plus.jpg)}
#sidebar .card-header {
    padding: 10px 12px;
    background: none;
    border: 0;
}

#sidebar .card {
    border: 0;
    margin-bottom: 30px
}

#sidebar .card-body {
    padding: 0;
}

#sidebar .card-body ul {
    padding: 0;
    list-style: none;
}
#make a { text-transform: uppercase;  color: #3d3d3d; font-weight: 700}
#make a.active { color: #bd0812; }
#make li {
    padding: 8px 0;
    border-bottom: solid 1px #d9d9d9;
}
ul.checkbox-ul span:before, ul.checkbox-ul span:after {content: '';
    width: 14px;
    height: 14px;
    border: solid 1px #ccc;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 3px;
    z-index: 1;}

ul.checkbox-ul span {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0px;
}

ul.checkbox-ul input {
    visibility: hidden;
}

ul.checkbox-ul li {
    position: relative;
    padding-left: 9px;
}
ul.checkbox-ul input:checked ~ span:after {  content: '✔';top: -2px;
    border: 0;
    left: 3px;}
    .toolbar { margin-bottom: 20px }
    .toolbar select { width: 120px; height: 28px; margin-left: 15px; border-color: #e7e7e7;    font-weight: 500; font-size: 14px; }
    .perPage-blk select {
    width: 60px;
}
select {
    -webkit-appearance: none;
    appearance: none;
    background: url(../images/select-arrow-grey.jpg) no-repeat 95% center;padding: 0 3px;
      font-weight: 600;
  font-family: 'Lato', sans-serif; 
  font-size: 15px;
}
    .product-item {  margin-bottom: 30px;}
 .product-photo {border: solid 1px #e7e7e7 ; margin: 0 0 5px; width: 100% !important;}
#shopping-cart-table   .product-photo {border: solid 1px #e7e7e7 ;  max-width: 100px; margin:0 10px 0 0; width: 100%;}
    .product-photo img {width: 100%}
    .product-name a{ font-size: 14px; color: #4e4e4e }
    .red-button, .black-ancr {background: #000;color: #fff;
    text-transform: uppercase;
    display: inline-block;
    width: 130px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;}
 .red-button {background: #d00914; border: 0; width: 100%; color: #fff;
 height: 44px; line-height: 44px; text-transform: uppercase; margin: 30px 0 0; font-weight: 600 }
.black-ancr:hover {
    background: #ffe343;
    color: #000;
}
 .red-button:hover {background: #333;color: #fff}
 #categories .black-ancr {
    font-weight: 600;
    margin: 15px auto 0;
    display: block;
    width: 200px;}
section.container.page-content { padding: 50px 15px 0 }
p.product-name {
    margin-bottom: 5px;
    height: 42px;
    overflow: hidden;
}
section.related-search h2 {
    margin-bottom: 40px;
}
.other-product.middle-arrow .owl-nav button {
    top: 28%;
}
.product-details h1.page-title {font-size: 24px; color:#d00914; font-weight: 500}
.other-products h3 {font-size: 24px;font-weight: 500}
.product-details p {font-size: 16px; line-height: 24px}
.product-detail-table th {text-transform: uppercase;}
.product-detail-table th, .product-detail-table td {
    border-bottom: solid 1px #dee2e6;
    padding:7px;
    font-size: 13px;
    vertical-align: middle;
}
span.offer-lable {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    background: #f1c600;
    padding: 0 5px;
    color: #8c060d;margin-left: 5px;
}
.stcok-lable {
    font-weight: 600;
    color: #25af00;
}
.outStock {
    font-weight: 600;
    color: #8c060d;
}
.product-detail-table tbody tr:hover td{ background: #f9f9f9;vertical-align: top; }
.product-detail-table td {
    position: relative;
}
.product-detail-table tr:hover td {
    padding-bottom: 18px;
}
span.offer-lable + p {
    margin-top: 15px;
}
.product-detail-table p { font-size: 13px; margin: 0 }
.field-qty input {
    width: 50px;
    padding: 0 5px;
    background: #fff;
    margin: 0;
    border: 0;
    height: 30px;
    text-align: center;
}

.field-qty {
    background: #f4f4f4;
    border: solid 1px #ccc;
    max-width: 100px
}

.field-qty a {
    width: 23px;
    text-align: center;
    display: inline-block;
    border-right: solid 1px #ccc;
    line-height: 30px;
    font-weight: 600;
    color: #3d3d3d
}
.field-qty a.minus {
        border-right: 0;
    border-left: solid 1px #ccc;
}
.field-qty a:hover { background: #3d3d3d; color: #fff }
label.cust-checkbox {
    position: relative;
    margin: 0
}
.register-form input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    float: left;height: 20px;
}
.seperator hr { margin:10px auto 40px auto ; border-color: #ccc }
p.para-txt {
    margin: 0;
    text-align: center;
}
.forgot-link {color: #3d3d3d; text-decoration: underline;}
.forgot-link:hover {color: #000; text-decoration: none;}
.register-form.login-blk { max-width: 600px; }
p.para-txt a {
    color: #d00914;
    text-decoration: underline;
    font-weight: 600
}
label.cust-checkbox span:before, label.cust-checkbox span:after {
    width: 14px;
    height: 14px;
    content: '';
    display: block;
    border: solid 1px #ccc;
    position: absolute;
    top: 3px;
    left: 0;
}

label.cust-checkbox input[type="checkbox"] {
    visibility: hidden;
    margin: 0 4px 0 0;
}

label.cust-checkbox span:after {
    content: '✔';
    top: 3px;
    border: 0;
    text-align: center;
    line-height: 14px;
    display: none;
}

label.cust-checkbox input[checked="checked"]  ~ span:after { display: block; }
.action-buttons {
text-align: right;position: absolute;width: 190px;right: 7px;top: 47px;
display: -ms-flexbox;
    display: flex;
}

.action-buttons a {
    border: solid 1px #8c060d;
    padding: 3px 7px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #8c060d;
    margin: 0 0 0 10px
}
.action-buttons a:hover { background: #d00914; color: #fff}
.action-buttons a.enquiry-btn { border-color: #2c2c2c; color: #2c2c2c }
.action-buttons a.enquiry-btn:hover { background: #2c2c2c; color: #fff }
.price {
    display: flex;
    font-weight: 700;
    color: #d00914;
    font-size: 16px
}
span.old-price {
    color: #727272;
    text-decoration: line-through;
    margin-left: 5px
}
.total-price .price { color: #333 }
tr:hover .onHover {display: block;}
tr:hover .action-buttons.onHover {display: -ms-flexbox;
    display: flex;}
.action-buttons.onHover, .onHover {display: none;}
p.part-info a {
    display: inline-block;
    color: #3a3a3a;
    font-size: 16px;
    margin: 15px 7px 0 0;
}
p.part-info a:hover { color: blue }
h1.page-title { font-size: 22px; text-transform: uppercase; color: #2c2c2c }
#shopping-cart-table {width: 100%; margin-top: 0px}
#shopping-cart-table thead td, .checout-products thead td {text-transform: uppercase; font-weight: 600;border-bottom: solid 1px #e5e5e5; padding: 5px 0}
#shopping-cart-table tbody td {padding: 12px 0;border-bottom: solid 1px #e5e5e5}

.product-name span {
    display: block;
}
.shopping-action a{display: block; color: #d00914;width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;}
.shopping-action a span{display: none;}
.summary-block {padding: 40px 30px; background: #f5f5f5; border:solid 1px #e0e0e0  }
.summary-title {font-family: 'Poppins', sans-serif;color: #333; font-size: 20px; text-transform: uppercase; border-bottom: solid 1px #e0e0e0; padding: 0 5px 5px; font-weight: 600; margin-bottom: 10px;}
.summary-table, .checkout-summary {width: 100%}
.summary-table tr td, .checout-products td, .checkout-summary tr td { border-bottom: solid 1px #e0e0e0; padding: 15px 5px 5px}
.summary-table tr td:last-child, .checkout-summary tr td:last-child { font-weight: 900; color: #333; text-align: right;}
.summary-table tr:last-child  td, .checkout-summary  tr:last-child  td{ font-weight: 900; color: #333; border-bottom: 0}
 .checout-products tr:last-child  td, .checkout-summary tr td { border: 0 }
.cart-table-bttom { margin: 30px 0 }
.cart-table-bttom a { margin: 0 15px 0 0; width: auto; height: 46px;line-height: 46px; padding: 0 30px;font-weight: 600}
.checkout h3 {
    text-align: left;
    background: #333;
    font-size: 14px;
    color: #fff;
    position: relative;
    padding: 5px 0 5px 50px;
    float: left;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 0;
    display: inline-block;
    line-height: 35px;
}
.checkout h3:before {
    position: absolute;
    left: 20px;
    top: 5px;
    font-family: fontawesome;
    content: "\f015";
    font-size: 15px;
    font-weight: normal;
}
.checkout .shipping-method h3:before {
        content: "\f0d1";
}
.checkout .shipping-payment h3:before {
          content: "\f283";
}
.checkout .shipping-order h3:before {
       content: "\f03a";
}
.checkout-block{border: 1px solid #ebebeb;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    background: #fff;
    padding-bottom: 0;}
   .checkout-details  {padding: 20px; }
   .checkout-details .control {margin-bottom: 15px}
   .checkout-details  label {display: block;    font-size: 13px;
    font-weight: 700; margin: 0 0 2px}
   .checkout-details  select, .checkout-details  input, .my-account input, .my-account select, .my-account textarea, form#contact-form input, form#contact-form select, form#contact-form textarea, .register-form select {
    height: 40px;    border: 1px solid #eaeaea;
    padding: 0 10px;
    display: block;
    width: 100%;
    margin:0 0 30px;
    font-weight: 600;
    font-size: 14px;    
    line-height: 40px;
}
.register-form select{ margin-bottom: 0 }
.register-form input.gen-user {
    font-weight: 600;
    text-transform: none;
    width: 200px;
}
input.small-btn.red-button, input.small-btn.black-ancr {
    margin: 0px auto 0;
    display: block;
    line-height: 40px;
    width:120px !important;}
textarea { min-height: 160px; max-height: 160px;  }
.radio-blk{ margin: 10px 0 15px; display: block; }
.radio-blk img{display: block; margin: 10px 0 0 15px}
.radio-blk input { width: 15px; height: 15px; float: left; margin: 3px 8px 0 0}
.checout-products { width: 100% }
.checout-products tr td:last-child, .price {text-align: right;}
.checout-products tr td .price {display: block;}
table.checout-products input {
    margin: 0;
    padding: 0;
    height: 32px
}
table.checout-products .product-photo {
    width: 50px !important ; margin-right: 5px ;  margin-top: 2px;
}
.checout-products td { padding: 10px 0 }
.checout-products td a { color: #333 }
#why-sec { background: #f7f7f7; text-align: center;padding-bottom: 50px }
section#why-sec p {
    font-style: italic;
    font-size: 16px;
    color: #606060;
}
.register-icons .icon-blk {
    margin: 20px auto 50px
}
section#why-sec h5 {
    margin-bottom: 10px;
}
.register-form { max-width: 900px; margin: 120px auto 0; padding: 50px; box-shadow: 0 0 20px rgba(0,0,0,0.1); border-radius: 2px;font-family: 'Poppins', sans-serif; margin-bottom: 70px}
.register-form h2 { text-transform: none; text-align: center; margin-bottom: 40px ;    color: #000;
    text-transform: uppercase;}
.register-form label { display: block; margin-bottom: 5px;font-family: 'Poppins', sans-serif;color: #000;}
.register-form input { height: 40px; border:solid 1px #ccc; width: 100%; padding: 0 5px }
.register-form .form-field {margin:0 0 20px  }
.register-form input.register-btn {background: #11a640; color: #fff; border: 0; text-transform: uppercase; font-weight: 600; width: 200px;
transition: all 0.2s ease-in-out; cursor: pointer; }
.register-form input.register-btn:hover {    background: #cf0b16;}
#search.grey-bg { background: #dedede;}
#search.grey-bg h2 {
    color: #000;margin-bottom: 10px;
}
.register-form select { border: solid 1px #ccc;}

#search.grey-bg select {
    border: solid 1px #e0e0e0;
}
.custom-control-label::before, .custom-control-label::after{ top: 3px }
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #cf0b16;
    background-color: #cf0b16;
}
.custom-checkbox .custom-control-label::before { border-radius:0;     box-shadow: none !important;}
span.red, .register-form label.error-red {color:#d00914}
#search.grey-bg input[type="button"] {background:#d00914}
.brands-carousel .owl-dots {
    text-align: center;
    margin: 50px 0 0;
}

.brands-carousel button.owl-dot {
    width: 25px;
    height: 7px;
    border: solid 1px #d00914;
    margin: 0 3px;
}
.brands-carousel button.owl-dot:focus {
    outline: 0
    }
.brands-carousel button.owl-dot.active {
    background: #d00914
}
.category-blk .categories-img {
    width: 100%
}
b, strong {
    font-weight: 600;
}
h3 {
    font-size: 22px;
    font-weight: 600;
}

h4 {
    font-size: 19px;
    font-weight: 600;
}
.grey-blk { background: #f3f3f3; padding: 30px 30px 30px 80px;position: relative; margin: 0 0 20px}
.grey-blk a{ color: #000;}
.grey-blk a:hover { color: #d00914; text-decoration: underline;}
.grey-blk p:last-child { margin-bottom: 0 }
.grey-blk h5 {font-weight: 600;color: #000;font-size: 18px;margin-bottom: 10px; }
.grey-blk:before { position: absolute;content: "\f041"; font: normal normal normal 35px/1 FontAwesome; color: #d00914;
    left: 30px; }
.grey-blk.phone:before {     content: "\f095";}
.grey-blk.email:before { content: "\f0e0";font-size: 25px;}
#contact-form .submit-btn, .small-btn { width: 200px }
.small-btn { margin: 30px auto 0; display: block; }
.page-not-found img { margin:50px auto 80px; max-width: 100%}
.account-nav { padding: 0; margin: 0; list-style: none; }
.account-nav li a { padding: 10px 20px; color: #3d3d3d;background:#f7f7f7; display: block; margin-bottom: 2px; font-weight: 600; border-left: solid 3px transparent}
.account-nav li a.active, .account-nav li a:hover { border-left-color: #d00914; color: #d00914 }
.address-title {
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 20px;
}
.red-button { background: #d00914;   max-width: 300px; color: #fff !important}
.why-us-blk  { padding: 30px 0  }
h2.contact-title {
    text-transform: none;
    font-weight: 500;
    font-size:30px;     margin-bottom: 30px;
}
h2.contact-title b {
    font-weight: 900;
}
form#contact-form select{ font-weight: normal; }
label.require {
    color: #cb242c;
}
form#contact-form input, form#contact-form select, form#contact-form textarea { border-color: #ccc  }
.contact-main-bllk { max-width: 860px; margin: 0 auto ;padding: 50px; box-shadow: 0 0 20px rgba(0,0,0,0.1); border-radius: 2px}
section.login-bottom {
    background: #e8e8e8;
    padding: 70px 0 40px;
    margin-top: 60px;
}

.icon-blk {
    text-align: center;
}

.img-blk {
    background: #fff;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    line-height: 120px;
    box-shadow: 0 0 10px #ccc;
    margin: 0 auto 15px;
}
.thank-you .fa-check {
    background: #228c02;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 30px;
    border-radius: 100%;
    margin-bottom: 20px;
}
main#main.login, main#main.register {
    padding-bottom: 0;
}

.login-bottom h3 { margin-bottom: 45px }
.img-blk img {
    width: 60px;
}
.img-blk img.discount {
    width: 80px;
}
.icon-blk p {
    font-size: 16px;
    font-weight: 600;
}
main#main .checkout .red-button {
    width: 100%;
}

.checkout a.red-button {
    max-width: none;
    margin: auto;
}

input.cust-radio[type="radio"]:checked,
input.cust-radio[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
input.cust-radio[type="radio"]:checked + label,
input.cust-radio[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
}
input.cust-radio[type="radio"]:checked + label:before,
input.cust-radio[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 100%;
    background: #fff;
}
input.cust-radio[type="radio"]:checked + label:after,
input.cust-radio[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 18px;
    background: #d00914;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;opacity: 0;
     transform: scale(0.5);
    -webkit-transform: scale(0.5);
}
input.cust-radio[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
input.cust-radio[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

#sidebar .card-header a.collapsed:before {
    background-image: url(../images/plus.png);
}
#make a, #type a {
    font-weight: 500;
}

#make li:last-child, #type li:last-child {
    border: 0;
}

#sidebar .card {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 0;
    margin-bottom: 10px
}

#sidebar .card-body ul {
    margin: 0;
}

#sidebar .card-header a:after {
    display: none;
}

#sidebar .card-header a {
    margin-bottom: 0;
    position: relative;
}

#sidebar .card-body {
    margin: 15px 0 0;
    max-height: 198px;
    overflow-y: auto;
}

#make li, #type li {
    border-bottom: solid 1px #e2e2e2;
}

#search.grey-bg {
    background: #f5f5f5;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
}
h1.search-title {
    text-transform: none;
    font-size: 20px;
}

h1.search-title span {
    font-weight: 300;
}
section.search-breadcrumbs.inner-banner .breadcrumbs {
    margin: 0
}
.product-name a:hover {
    color: #d00914;
}
.black-ancr:focus {
    background: #ffe343;
    color: #fff;
}
.product-details h1.page-title {
    text-transform: none;
    margin-bottom: 15px;
}
.modal-title {
    font-weight: 500;
}
#enquiryModal form#contact-form input, #enquiryModal form#contact-form select, #enquiryModal form#contact-form textarea {
    margin: 0 0 10px 
}
#enquiryModal form#contact-form input[type="button"]{ border: 0; margin: 10px 0 0; cursor: pointer; }
#enquiryModal form#contact-form input[type="button"]:focus{ outline: 0 }
#enquiryModal label{ margin-bottom: 2px }
#enquiryModal .modal-body {padding: 15px 30px 30px 30px}
#enquiryModal .modal-header  {padding: 30px 30px 15px 30px}
.mobile-nav-toggle{    z-index: 998;}
.general-parts p{font-size: 16px; line-height: 26px}
.general-parts p:not(:last-child) {margin: 0 0 10px}
.general-parts ul {padding: 0; margin: 0 0 10px}
.general-parts ul li { list-style-position: inside; margin-bottom: 10px; font-size: 16px; line-height: 26px}
.red-ancr, .red-ancr:focus {
    background: #d00914;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    width: 140px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    margin: 0 10px 0 0 
}
.red-ancr:hover { background: #000; color: #fff;}
.stock-blk, .qty-label, .payment-label { font-size: 16px; margin: 20px 0 20px; font-weight: 600; color: #4a4a4a;}
.stock-blk  .stock{    color: #25af00;}
.stock-blk .unavailable {
    color: #d00914;
}
.price-blk {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: #4a4a4a;
}

.price-blk .price-text.new {
    font-weight: 900;
    color: #d00914;
}

.price-blk .price-text.old {
    text-decoration: line-through;
    color: #9a9a9a;
    font-weight: 500;
}
.qty-blk, .payment-blk { margin-bottom: 20px }
.qty-label{ margin: 0 10px 0 0 }
.bottom-desc { margin: 50px 0 0 }
.bottom-desc.general-parts li {
    margin: 0;
}
#sidebar .card-header a:before {top:2px}
.bottom-desc .card-header { position: relative; }
.bottom-desc .card-header.collapsed:before {background: url(../images/plus1.png) no-repeat center center;}
.bottom-desc .card-header:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    margin: 0;
    background: url(../images/minus1.jpg) no-repeat center center;
}
div#descAccordian .card {
    border: 0;
    border-radius: 0;
    margin: 0 0 1px;
}
.bottom-desc.general-parts h4 {
    margin-bottom: 10px;
    color: #d00914;
}
div#descAccordian .card-header + div {
    border: solid 1px #d2d2d2;
    border-top: 0;
    border-radius: 0 0 5px 5px;
}
div#descAccordian {
    border: 0;
    margin: 20px 0 0;
}

#descAccordian .card .card-header.collapsed {
    background: #232323;
}

#descAccordian .card .card-header {
    border-radius: 5px;
        background: #d00914;
    color: #fff;
    font-weight: 600;
}


#header.header-scrolled, #header.header-pages { top: 0 }
a.login-btn {
        text-transform: uppercase;
    padding: 0px 15px;
    border: solid 2px #12a641;
    color: #12a641;
    line-height: 36px;
}
.right-blk {
    width: 590px;
}
.product-photo {border: 0;background: #f5f5f5;padding: 3px 0;}

.product-item {
    text-align: center;
}

a.black-ancr {
    background: #ff8000;
    position: relative;
    z-index: 1;
    font-weight: 600;
}

span.lable {
    background: #11a640;
    color: #fff;
    padding: 0px 8px;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
}

.product-info .price {
    text-align: center;
    display: block;
    margin: 0px auto 10px;
    font-size: 16px;
    color: #000;
    border-bottom: solid 1px #dedede;
    padding-bottom: 5px;
}
.product-item {
    padding-bottom: 15px;
}

.product-item:hover {
    box-shadow: 1px 2px 6px 0 rgba(0,0,0,.1);
}
.inner-banner .breadcrumbs li{ text-transform: none; }
a.black-ancr:before {
    background: #ffe343;
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}

a.black-ancr:hover:before {
    height: 100%;
    top: 0;
}
.product-photo {
    position: relative;
}

.product-photo img2 {
    position: absolute;
    top: 0;
    left: 0;
}

.product-photo .img2 {
    position: absolute;
    left: 0;
    top: 3px;
    right: 0;
    opacity: 0;margin: 0 auto;
}

.product-item:hover .img2 {
    opacity: 1;
}

.product-item:hover .img1 {
    opacity: 0.7;
}

.product-photo img {
    transition: all 0.2s ease-in-out;
}

a.green-ancr {
    background: #fff;
    color: #11a640;
    padding: 3px 9px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    border: solid 2px #11a640;
    position: absolute;
    top: calc(50% - 17px);
    left: 10%;
    opacity: 0;
    font-size: 12px;
}
a.green-ancr:hover {
    background: #11a640;
    color: #fff
}

.product-item:hover a.green-ancr {
    opacity: 1;
    left: calc(50% - 52.5px);
}
.color-blk span{
    width: 18px;
    height: 18px;
    display: inline-block;
    cursor: pointer;
    background-size: contain;
    border: 1px solid #f7f7f7;
    margin: 0 3px 
}
a.search-lable {
    width: 122px;
    font-size: 16px;
    position: relative;
    color: #000;
}

.search-block form {
    width: calc(100% - 100px);    position: relative;
}

a.search-lable:after {
    content: '';
width: 6px;
height: 6px;
border-left: solid 6px transparent;
border-right: solid 6px transparent;
border-top: solid 6px #000;
position: absolute;
top: calc(50% - 3px);
right: 17px;
}
.color-blk span.red { background: #d00914 }
.color-blk span.green { background: #11a640 }
.color-blk span.blue { background: #114da6 }
.hover2-blk {
    position: relative;
}
.hover2-blk img { max-height: 100%; max-width: 100% }
.color-blk span:hover { border-color: #000 }
p.color-blk.m-0 {
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.product-item:hover p.color-blk.m-0 {
    opacity: 1;
}

.product-item:hover .lable {
    opacity: 0;
}
h2 {
    font-size: 20px;
    font-weight: 600;
    color: #ff8000;
    font-family: 'Poppins', sans-serif;
}

ul.cat-ul li, ul.cat-ul li a  {transition: all 0.2s ease-in-out;}

ul.cat-ul > li:hover, #sidebar .card-header:hover, #make li:hover {
    background: #11a640; color: #fff !important; 
}

ul.cat-ul > li:hover .card .card-body li a, ul.cat-ul > li:hover #make li:before {    color: #696969 !important;}
ul.cat-ul li:not(.sub-cat):hover a, #sidebar .card-header:hover a,  #make li:hover a, ul.cat-ul > li:hover .card-body #make li:hover:before  {
    color: #fff !important; 
}
#make li, #type li {
    padding:10px 12px;
}
a.black-ancr i {
    margin-right: 5px;
}
img.sidebar-img {
    width: 100%;
    margin: 15px 0 0;
}
#make li:before {content: '';font: normal normal normal 14px/1 FontAwesome;content: '\f105';margin: 0 5px 0 0;}
#sidebar .card-header a {
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}
#sidebar .card-body { margin-top: 0px }
#sidebar .card-header a[aria-expanded="true"]:before {    background: url(../images/minus.jpg) no-repeat center center;}
#sidebar .card-header a[aria-expanded="false"]:before {    background: url(../images/plus.png) no-repeat center center;}
#sidebar .card{ background: #fff;padding:0px  }
ul.cat-ul > li {
    list-style: none;
    margin: 0;
    border-bottom: solid 1px #efefef;
    padding: 10px 12px;
}
li.login-ancr {
    background: #00000038;
}
.main-nav > ul > li {
        border-bottom: solid 3px transparent;
        margin: 0 5px;
        position:static;
}

#sidebar .card-header a, #make a {
    text-transform: none;
}
ul.cat-ul li a, #make a, #sidebar .card-header a {
    color: #696969;
    font-size: 16px;
}
.sub-cat{ margin: 0 }
ul.cat-ul > li.sub-cat {
    padding: 0;
}

#sidebar .card {
    margin: 0;
}

.counter i {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

span.checkout-total {
    font-size: 22px;
}

.cart-block > span:before {
    width: 1px;
    height: 52px;
    background: #fff;
    content: '';
    position: absolute;
    left: -20px;
    top: 0;    opacity: 0.4;
}

.cart-block > span {
    position: relative;
    display: block;
    height: 52px;
}

.checkout-blk {
    position: fixed;
    right: -420px;
    top:68px;
    max-width:400px;
    width: calc(100% - 30px);
    z-index: 1000;
    background: #fff;
    height: 100%;
    transition: all 0.2s ease-in-out
}
.checkout-blk.active {right: 0}
.checkout-active.active:before {
    display: block;
}
.checkout-active:before {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 2;
    opacity: 0.2;
    display: none;
    content: ''
}
.checkout-blk p {
    margin: 0;
}

.checkout-header {
    padding: 15px 20px;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.btn-blk a {
    background: #ff8000;
    font-size: 12px;
    padding: 3px 10px;
    display: inline-flex;
    margin: 0 0px 0 10px;
    color: #fff;
    border-radius: 3px;
}

    .btn-blk a:first-child {
        background: #ffe343;
        color: #000;
    }

.btn-blk a:hover {
    background: #fff;
    color: #000;
}
.checkout-header-btm {
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
}

.checkout-header-btm span.amount {
    font-weight: 600;
    color: #000;
    font-size: 20px;
}

.checkout-delivery {
    padding: 10px 15px;
    background: #efefef;
}

.checkout-delivery i {
    margin: 3px 10px 0 0;
}
.product-left {
    width: calc(100% - 160px);
}

.prod-blk {
    width: 70px;
    padding: 3px;
    border: solid 1px #e2e2e2;
}

.prod-blk img {
    width: 100%;
}

.product-right {
    width: 150px;
}

.checkout-blk .prod-info {
    font-size: 13px;
    margin: 0 0 0 10px;
}
.checkout-products {
    height: calc(100% - 244px);
    overflow-y: auto;
    margin-bottom: 10px;
}
.checkout-products ul li{list-style: none; padding: 10px 15px;
    border-bottom: solid 1px #efefef;}
.checkout-products ul li:last-child { border-bottom: 0 }
.prod-qty {
    width: 78px;
}
a.checkou-btn {
    display: block;
    text-align: center;
    background: #ff8000;
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.product-photo .prod-qty {
    position: absolute;
    right: 0px;
    top: 0;
opacity: 1;
transition: all 0.2s ease-in-out;    width: 54px;
}
.product-photo .prod-qty input, .product-photo .prod-qty a {
    background: #cf0b16;
    border-color: #cf0b16;
    color: #fff;
    height: 22px;
    width: 15px;
    line-height: 22px;
}

.product-photo .prod-qty input.num {
    color: #000;    width: 26px;
    font-size: 12px;
}
.prod-qty input, .prod-qty a{
    width: 20px;
    text-align: center;
    margin-left: -1px;
    height: 30px;
    border: solid 1px #dcdcdc;
    background: #dcdcdc;
    line-height: 32px;
    color: #000;}
    .prod-qty a {
    font-size: 17px;line-height: 32px;
}

.prod-qty input.num {
    width: 40px;
    background: #fff;
}
.prod-total {
    font-size: 20px;
    font-weight: 600;
    color: #ff8000;
}
.products-dropdown {position: absolute; 
    top: 100%; 
    display: none;
/*background: #fff;box-shadow: 0 4px 4px rgba(0, 0, 0, 0.19);*/
left: 0; 
width: 100vw;    
z-index: 1;
/*padding: 0 15px*/
}
.products-dropdown img {width: 100%}
/*.products-dropdown > div > div {border: solid 1px #d2d2d2; }*/
.products-dropdown > div > div a{opacity: 0.7; display: block;}
.products-dropdown > div > div a:hover{opacity: 1}
.products-dropdown > div > div .active{opacity: 1 }
.products-dropdown.active{display: block }

.pegination ul {
    /* text-align: center; */
}

.pegination ul li {
    list-style: none;
}

.pegination ul li a{
    width: 26px;
    height: 26px;
    display: block;
    line-height: 24px;
    border: solid 1px #dedede;
    text-align: center;
    margin: 0 5px;
    border-radius: 100%;
    font-size: 12px;
}

    .pegination ul li a:hover, .pegination ul li a.text-peg:hover {
        background: #ff8000;
        border: solid 1px #ff8000;
    }

    .pegination ul li a.active {
        background: #ff8000;
        color: #fff;
        border: solid 1px #ff8000;
    }
    .pegination ul li a.text-peg {
        width: 50px;
        border-radius: 40px;
        background: #ffe343;
        border-color: #ffe343;
    }
.pegination ul li a.text-peg i { display: none; }
.pegination ul li.active a, .pegination ul li:hover a {
    color: #fff;
}

.pegination ul li a {
    color: #000;
}
label span.red {
    width: 5px;
    height: 5px;
    background: #cf0b16;
    display: inline-block;
    border-radius: 100%;
    float: left;
    margin: 7px 6px 0 0;
    overflow: hidden;
}
.form-field .error-msg {
    color: #cf0b16;
    font-size: 12px;
    margin: 0;
}

.main-nav .drop-down ul {
    width: 180px;
    right: 0;
    left: auto;
}

.main-nav .drop-down li {
    width: 50%;
 float: left;
}
.dropdown-header { width: 100%; }
.main-nav .drop-down li.dropdown-header {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 10px 15px;
    background: #f5f5f5;
}

.main-nav .drop-down ul a {
    padding: 5px 15px;
    text-transform: none;
    font-weight: 500;
    color: #232323;
    font-size: 13px;
}

.main-nav .drop-down ul.account-dropdown {
    padding: 0 0 10px 0;
}

.main-nav .drop-down ul a:before {transition: all 0.2s ease-in-out;font: normal normal normal 14px/1 FontAwesome;content: '\f105';margin: 5px 3px 0 0;font-size: 11px;float: left;}
.main-nav .drop-down ul li:hover a{
    background: #fff;
    color: #cf0b16;
}

.main-nav .drop-down ul a:hover:before {
    margin-right: 8px;
}
.main-nav .drop-down ul a i {
    margin-right: 4px;
}
.custom-checkbox p.error-msg {
    margin-left: -25px;
}
a.close-checkout {
    color: #fff;
}
@media (max-width: 1600px) {
    .carousel-nav  { display: none; }
}
@media (max-width: 1400px) {
    .help-sec a {
    font-size: 18px;
}

.help-sec {
    padding: 60px 20px 40px 20px;
}
}
@media (max-width: 1366px) {

.main-nav a {
    padding: 10px;
    font-size: 13px;
}
}
@media (max-width: 1200px){


.logo {
    width: 100px;
}

section {
    padding: 60px 0 0;
}

.carousel-caption {
    transform: scale(0.7) translateY(-50%);
    transform-origin: left top;
}

h2, h1.page-title {
    margin-bottom: 10px;
}

section#need-help h2 {
    font-size: 28px;
}

section#need-help {
    padding: 60px 0;
}

section#need-help h4 {
    font-size: 20px;
}

.help-sec {
    padding: 40px 20px;
    width: 100%;
    /* font-size: 15px; */
}

.help-sec a {
    font-size: 16px;
}
.product-details {
    margin-top: 25px;
}

section.other-products {
    padding-top: 40px;
}
.product-detail section.container.page-content {
    padding-top: 30px;
}
.other-product .product-item {
    margin-bottom: 0;
}
.product-photo {
    width: 70px;
}
.help-sec {
    padding:60px 15px 30px 15px;
}

.help-sec a {
    font-size: 14px;
}
.summary-block {
    padding: 40px 20px;
}
.grey-blk {
    padding: 25px 25px 25px 60px;
}

.grey-blk:before {
    font-size: 30px;
    left: 25px;
}
.category-text h3 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 2px;
}
.category-text {left: 15px;bottom: 15px;right: 15px;}
ul.cat-ul li a, #make a, #sidebar .card-header a {
    font-size: 13px;
}

ul.cat-ul > li, #sidebar .card-header, #make li, #type li {
    padding: 8px 0px 8px 8px;
}
#sidebar .card-header a:before {    width: 8px;
    height: 8px;    background-size: 100%;    top: 50%;
    transform: translateY(-50%);}
   #sidebar .card-header a[aria-expanded="false"]:before {background-size: 100%; }
.product-name a {
    font-size: 14px;
}

.red-button, .black-ancr {
    font-size: 12px;
    width: 100%;
}

.product-listing .row [class*='col-'] {
    padding: 0 8px;
}
.product-item {
    margin-bottom: 20px;
}
.product-listing .row {
    margin: 0 -8px;
}

.product-info .price {
    margin: 0 0 10px;
    padding-bottom: 10px;
}
}
@media (max-width: 991px){
.header-top { display: none; }
    .white-box {
        margin: 8px auto 20px !important;
    }
#header {
    height: auto;
    padding: 0;
}
.mobile-nav-toggle {    line-height: 46px;}
.header-bottom {
    padding: 7px 35px 7px 0;    background: #fff;
}

.container {
    width: 100%;
}

.logo {
    width: 50%;
    margin-bottom: 10px;
    margin: 7px auto;
}
.navbar-right li {
        margin-bottom: 10px;
}
.mobile-nav-toggle i {
    margin: 0 15px 0 0;
}
.cart-block {
    width: 220px;
    font-size: 15px;
    padding: 0 10px;
}
span.checkout-total {
    font-size: 18px;
}

.cart-block > span:before {
    left: -8px;
}

.cart-block > span {
    height: 44px;
}
.search-block {
    width: 50%;
}

.search-block input {
    height: 34px;
}

.search-block .action, .search-block .action i {
    height: 34px;
}

.search-block .action i {
    line-height: 32px;
}
#main  {
    margin-top: 68px;
}
section.container.page-content {padding-top:0 }
div#myCarousel .carousel-item img {
    height: 300px;
    width: auto;
    float: right;
    margin-right: 0;
}

.carousel-item {
    text-align: right;
}

.carousel-caption {
    transform: scale(1) translateY(-50%);
    transform-origin: initial;
}

.carousel-caption p {
    font-size: 13px;
}

.carousel-caption h1 {
    font-size: 46px;
    line-height: 42px;
    margin-left: 0;
}

.carousel-caption h2 {
    font-size: 36px;
    line-height: 34px;
}

h2, h1.page-title, h2.contact-title {
    font-size: 22px;
}

#search {
    padding: 20px 0;
}

#search h2 {
    margin-bottom: 15px;
}

#search input[type="button"] {
    width: 120px;
}

#search select {
    width: 25%;
    margin-right: 6px;
}

section {
    padding: 40px 0 0;
}

.middle-arrow .owl-nav button {
    position: static;
    transform: none;
    margin: 0 5px;
}

.middle-arrow .owl-nav {
    text-align: center;
    margin-top: 15px;
}

.middle-arrow .owl-nav button span {
    width: 38px;
    height: 38px;
    line-height: 32px;
}

.category-text {
    bottom: 10px;
    left: 10px;
}

.category-text h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.category-text p {
    font-size: 13px;
}

section#need-help {
    margin: 50px 0 0;
    padding: 40px 0;
}

section#need-help h4 {
    margin-bottom: 50px;
    font-size: 18px;
}

.help-sec {
    padding: 30px 10px;
}

section#need-help [class*="col-"]{
    padding: 0 10px;    margin: 15px 0;
}

.help-sec a {
    font-size: 15px;
}

.help-sec i {
    height: 50px;
    width: 50px;
    top: -25px;
    font-size: 22px;
    line-height: 50px;
    left: calc(50% - 25px);
}

.help-sec i.fa.fa-whatsapp {
    font-size: 22px;
}

section#need-help h2 {
    font-size: 22px;
}


#header.header-scrolled, #header.header-pages {
        height: 60px;
    padding: 10px 0;
    top: 0
}

.footer-contact {
    order: 1;
}

.footer-top .col-sm-6 {
    margin-bottom: 15px;
}

#footer .footer-top {
    padding: 30px 0 0px;
}

#footer .footer-top + .container {
    padding: 10px 15px;
}
main#main.index {
    padding-bottom: 45px;
}
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a { color: #fff }
.product-detail-table { width: 100%; overflow-x: auto }
.product-detail-table table {width:100%; min-width: 650px}
#shopping-cart-table {
    margin-top: 20px;
}
.shopping-cart section.container.page-content {padding-top: 30px;}
#shopping-cart-table {
    margin-top: 0;
}
.cart-table-bttom {
    margin: 15px 0 30px;
}
#header.header-scrolled, #header.header-pages {
    padding: 0;
    height: 50px;
}
.register-form .form-field { margin-bottom: 15px }
.seperator hr {
    margin: 10px auto 20px;
}
label.blank {
    display: none;
}

.filter-open{
    display: block !important;
    position: fixed;
    left: 0px;
    width: 40px;
    height: 40px;
    background: #11a640;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 21px;
    top: 38%;    z-index: 1;
}
.filter-open:focus { background:     background: #8c060d;
    color: #fff; }
    div#sidebar h2 {
        padding: 8px 10px;
    font-size: 13px;
    background: #ffffff;
    color: #cf0b16;
    font-weight: 500;
    width: 100%;
    margin: 0;
    text-transform: none;
    border: solid 1px #e2e2e2;
}
div#sidebar h2.hide-tab {
    position: relative;
}
div#sidebar h2.hide-tab:after {
    content: '';
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-top: solid 5px #000;
    position: absolute;
    right: 10px;
    top: calc(50% - 2px);
}

.filter-close { color: #fff }
.sidebar-img{ display: none; }
.checkout-blk { top: 58px }
    .mobile-nav {
        background: #ff8000
    }
.mobile-nav ul.d-flex {
    display: block !important;
}
        .mobile-nav li.active {
            background: #ffe343;
        }
        .mobile-nav .active a {
            color: #000;
        }
        .mobile-nav li:hover {
            background: #ffe343;
        }
        .mobile-nav li a:hover {
            color: #000;
        }
    .account-dropdown li:hover {
        background: #ff8000;
    }
.mobile-nav a {
    padding: 7px 12px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}

.dropdown-header {
    padding: 8px 10px 8px 15px !important;
    color: #fff;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.21);
}

.mobile-nav .drop-down li {
    padding-left: 0;
}

.mobile-nav .drop-down li i {
    margin-right: 5px;
}
li.login-ancr{ background: none; }
div#sidebar {
    position: relative;    margin-bottom: 15px
}
#sidebar .card-header a:before {
    right: 15px;
}
div#sidebar ul.cat-ul {
    position: absolute;
    top: 100%;
    z-index: 1;
    background: #fff;
    width: 100%;
    height: 185px;
    overflow-y: auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
    border: solid 1px #e2e2e2;
    display: none;
}
div#sidebar ul.cat-ul.active { display: block }
}
@media (max-width: 767px){
    .help-sec {
    padding: 15px;
    max-width: 300px;
    margin: 10px auto;}
    section#need-help [class*="col-"] { margin: 0 }

.help-sec i {
    position: static;
    margin: 0 0 5px;
}

section#need-help h4 {
    margin-bottom: 30px;
}
main#main.index {
    padding-bottom: 45px;
}
#footer .footer-top h4 {
    font-size: 15px;
    margin-bottom: 10px;
    padding: 0 0 0 15px;
}

#footer .footer-top .footer-links ul li {
    margin: 5px 0;
}

#footer .footer-top a, #footer .footer-top .footer-contact p {
    font-size: 14px;
    padding: 0 0 0 15px;
}
#search select {
    width: 49%;
    margin: 1% 0;
}

#search input[type="button"] {
    width: 100%;
    margin: 1% 0 0;
}
.search-form .d-flex{    -ms-flex-wrap: wrap;
    flex-wrap: wrap;}
section header p 
{ font-size: 14px }

#sidebar .card-header a:after {
    margin: 10px 0;
}

#sidebar .card {
    margin-bottom: 0px;
}
.card-header{ border-radius: 0 !important
 }
#sidebar .card-body ul {
    margin-bottom: 0;
}
.inner-banner .breadcrumbs, .inner-banner p {
    margin-bottom: 30px;
}

.filter-open {
    top: 190px;
}

section.container.page-content {
    padding: 0px 15px 0;
}
html.filter-active:before {
    background: #000;
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1999;
    opacity: 0.1;
}

html.filter-active {
    overflow: hidden;
}
.product-detail-table tr td {
    padding-bottom: 18px;
    vertical-align: top;
}

 .action-buttons.onHover {
    display: -ms-flexbox;
    display: flex;
}
p.onHover {
    display: block;
}
.product-details h1.page-title, .other-products h3 {
    font-size: 20px;
    margin-bottom: 5px;
}
section.other-products{padding-top: 20px}
.checkout-details select, .checkout-details input, input, select, textarea { margin-bottom: 0px }
label { margin-bottom: 0px }
#contact-form .submit-btn{ margin: 0 0 30px }
.contact h2 { margin-bottom: 15px }
.inner-banner h1, .inner-banner p {
    font-size: 20px;
}

.inner-banner p, .inner-banner .breadcrumbs {
    margin-bottom: 15px;
}
.page-not-found img { margin: 20px auto 40px; width:60%;min-width:300px;}
.contact-main-bllk {box-shadow: none; padding: 0}
.register-form .form-field { margin-bottom:1 0px }
.seperator hr {
    margin: 10px auto 15px
}
.register-form {
    padding: 0;
    box-shadow: none;
}
.register-form select{ margin-bottom:0px }
#search input[type="button"].find-btn { width: 49% }
#search span { display: block;text-align: center;width: 100%;
    line-height: 36px; }
    input.cust-radio[type="radio"] + label {
        margin: 10px 0 0;
    }
    #main {
    margin-top: 100px;
}
.search-block {
    position: absolute;
    top: 58px;
    background: #f5f5f5;
    width: 100%;
    left: 0;
    padding: 6px 15px;
}
.product-photo .prod-qty input.num {
    margin: 0;
}
.page-cat-name {     margin-bottom: 10px;
    padding-bottom: 10px;
     }
}
@media (max-width: 640px){
    section#need-help [class*="col-"] {
    width: 100%;
    flex: 0 0 100%;
    margin: 0 auto 10px;
    max-width: 100%;
}
section.login-bottom {
    padding: 40px 0 30px;
}
section#need-help .row {
    display: block;
}
div#myCarousel .carousel-item img {
    height: 260px;
}

.carousel-caption h1 {
    font-size: 36px;
    line-height: 34px;
}

.carousel-caption h2 {
    font-size: 30px;
    line-height: 30px;
}
.brand-item p {
    margin-top: 10px;
}
.help-sec {
    width: 60%;
    margin: 0 auto;
    min-width: 300px;
}
.black-ancr {
    width: 120px;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
}
.product-item{ margin-bottom: 20px }
.product-listing > .row { margin: 0 -10px }
.product-listing > .row > .col-6 { padding:0 10px  }
#shopping-cart-table thead {
    display: none;
}
#shopping-cart-table tbody tr td {
   width: 36%;
    float: left;
    height: 45px;
    padding: 0 0 10px;
    line-height: 28px;
}
#shopping-cart-table tbody tr td:first-child {
      display: block;
    width: 100%;
    height: auto;
    border: 0;
    margin-bottom: 0;
    padding-top: 15px;
    vertical-align: middle;
    line-height: normal;
}
#shopping-cart-table tbody tr td.shopping-action   {position: absolute;
    border: 0;
    right: 0;
    width: 40px; }
#shopping-cart-table tbody tr td:nth-child(4) {
    width: 28%;
}

.field-qty {
    width: 80px;
}

.field-qty input {
    width: 40px;
}

.price {
    font-size: 14px;
}

.product-total .total-price .price {
    text-align: right;
    display: block;
}

section#categories .row {
    margin: 0 -7px;
}

section#categories .row .col-lg-3.col-md-4.col-sm-6.col-6 {
    padding: 0 7px;
}
.category-blk { margin-bottom: 14px }
   .red-ancr {
            width: 120px;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    }
    .bottom-desc {
    margin: 30px 0 0;
}
}
@media (max-width: 576px){
    .footer-contact, .footer-last-links {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.footer-last-links {display: -ms-flexbox;
    display: flex;-ms-flex-pack: justify;
    justify-content: space-between;}

#footer .footer-top + .container .d-flex {
    display: block !important;
    text-align: center;
}

.footer-icon a {
    margin: 0 5px;
    font-size: 15px;
}

#footer .footer-top + .container p {
    margin-bottom: 5px;
}

#main {padding-bottom: 10px}
.pegination ul li a {
    margin: 0 2px;
}
.pegination ul li a.text-peg { width: 26px; }
.pegination ul li a.text-peg span{ display: none; }
.pegination ul li a.text-peg i{ display: block;    line-height: 24px; font-size: 14px }
#main {padding-top: 5px}
.product-listing .row .col-4 {-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;}
    .product-listing .row .col-4 .product-item  { max-width: 320px; margin: 0 auto 15px }
    .product-photo img { max-width: 220px }
 .product-item a.black-ancr {
       width: 200px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
}
.product-name a {
    font-size: 15px;    margin: 4px 0;
    display: block;
}
.product-info .price {
    font-size: 18px;
}
}

@media (max-width: 480px){ 
    .search-block {
    display: none;
}

h2, h1.page-title, h2.contact-title {
    font-size: 20px;
    margin-bottom: 5px;
}

#search h2, h2.contact-title {
    margin-bottom: 10px;
}
form#contact-form input, form#contact-form select, form#contact-form textarea { margin-bottom: 15px }
#search select {
    width: 100%;
}

section {
    padding: 25px 0 0;
}

.section-header p {
    margin-bottom: 20px;
}

section#need-help {
    margin: 30px 0 0;
    padding: 30px 0 20px;
}

section#need-help h2 {
    font-size: 18px;
        margin-bottom: 15px;
}

section#need-help h4 {
    font-size: 15px;
    display: none;
}

#newsletter .newsletter .control {
     width: 100%; 
}

#newsletter .newsletter input {
    width: 100%;
}

#newsletter .newsletter input[type="button"] {
    position: static;
    width: 100%;
    margin-top: 5px;
}

#newsletter {
    padding: 25px 0 0;
}

.footer-top .col-sm-6, .footer-last-links {
    width: 100%;
    flex: 0 0 100%;
    max-width: none;
    display: block;
}

#footer .footer-top h4.mt-md-5 {
    margin-top: 20px;
}
.brand-item p {    font-size: 13px;}
.footer-top .col-sm-6.footer-last-links {
    margin-bottom: 20px;
}

#footer .footer-top .footer-contact p a {
    margin-left: 5px;
}
    .toolbar select { margin-left: 0 }
    h1.page-title {
    font-size: 20px;
    margin-bottom: 15px;
}
    .category-text h3 {
    font-size: 15px;
    line-height: 16px;
}

.category-text p {
    font-size: 11px;
    line-height: 12px;
}

.category-text {
    bottom: 5px;
    left: 5px;
    right: 5px;
}
section#why-sec h5 {
    font-size: 16px;
    margin-bottom: 5px;
}
section#categories .row {
    margin: 0 -4px;
}

section#categories .row .col-lg-3.col-md-4.col-sm-6.col-6 {
    padding: 0 4px;
}

.category-blk {
    margin-bottom: 8px;
}
    #search input[type="button"].find-btn { width: 100% }
        .modal-title b {
        display: block
    }
    #enquiryModal .modal-header, #enquiryModal .modal-body{ padding: 15px }

    .cart-block > span {
    display: none !important;
}
    .cart-block {
    width: 120px;
    height: 34px;
    text-align: center;
}
.search-block { top: 48px }
.page-cat-name {    padding-bottom: 5px;
    font-size: 18px;}
    .checkout-blk {
    top: 48px;
}
.btn-blk a span {
    display: none;
}

.checkout-header {
    padding: 10px;
    font-size: 14px;
}

.checkout-header-btm {
    padding: 10px;
}

.checkout-delivery {
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
}

.prod-qty input.num {
    margin: 0;
}

/*.product-right {
    flex-flow: column;
    width: auto;
}*/

.prod-qty, .prod-total {
    margin-left: auto;
}

.product-left {width: auto;}

.prod-blk {
    width: 50px;
    padding: 2px;
}

.checkout-blk .prod-info {
    font-size: 12px;
    margin: 0 0 0 7px;
}

.checkout-products ul li {
    padding: 7px 10px;
}

.prod-qty input, .prod-qty a {
    height: 24px;
    line-height: 22px;
    font-size: 12px;
}

.prod-total {
    font-size: 16px;
}
    }
    @media (max-width: 360px){ 
.product-listing .col-6 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
a.search-lable {
    font-size: 14px;
    width: 96px;
}

.search-block input {
    font-weight: 500;
}

.toolbar { margin-bottom: 15px}

}
/* rohit start here */
/*search box css start here*/
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /*height: calc(3rem + 2px) !important;*/
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.block {
    text-align: center;
}
    .block img {
        border-radius: 50%;
        border: 1px solid #ff8000;
        width: 50%;
    }
.text-block {
    text-align: center;
    padding-top: 18px;
}
.shoper-block a {
    margin-left: 10px;
}
.howit_works {
    font-size: 34px;
    padding-bottom: 16px;
}
.carousel-inner img {
    width: 100%;
    height: 600px;
}
/*product detail page*/
.background-pentagon, #heading-breadcrumbs {
    background: url(https://d19m59y37dris4.cloudfront.net/universal/2-1-0/img/texture-bw.png) center center repeat;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
#heading-breadcrumbs h1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0;
}
#heading-breadcrumbs {
    padding: 2rem 0;
    border-top: none !important;
    border-bottom: none !important;
}
#heading-breadcrumbs .breadcrumb {
    margin-bottom: 0;
    background: none;
    font-size: 0.9rem;
}
#heading-breadcrumbs li {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}  
#heading-breadcrumbs .breadcrumb {
    font-size: 0.9rem;
}
.breadcrumb {
    list-style: none;
}
#main1 {
    margin-top: 92px;
    padding: 20px 0 0px;
}
/*product tab*/

/*****************globals*************/
img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #11a640;
  /*padding: 1.2em 1.5em;*/
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }
/* cart page  */
.cart-wrap {
    padding: 40px 0;
    font-family: 'Open Sans', sans-serif;
}
.main-heading {
    font-size: 19px;
    margin-bottom: 20px;
}
.table-cart table {
    width: 100%;
}
.table-cart thead {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
}
.table-cart thead tr th {
    padding: 8px 0 18px;
    color: #484848;
    font-size: 15px;
    font-weight: 400;
}
.table-cart tr td {
    padding: 40px 0 27px;
    vertical-align: middle;
}
.table-cart tr td:nth-child(1) {
    width: 52%;
}
.table-cart tr td:nth-child(2) {
    width: 26%;
}
.table-cart tr td:nth-child(3) {
    width: 13.333%;
}
.table-cart tr td:nth-child(4) {
    width: 8.667%;
    text-align: right;
}
.table-cart tr td .img-product {
    width: 72px;
    float: left;
    margin-left: 8px;
    margin-right: 31px;
    line-height: 63px;
}
.table-cart tr td .img-product img {
    width: 100%;
}
.table-cart tr td .name-product {
    font-size: 15px;
    color: #484848;
    padding-top: 8px;
    line-height: 24px;
    width: 50%;
}
.table-cart tr td .price {
    text-align: right;
    line-height: 64px;
    margin-right: 40px;
    color: #989898;
    font-size: 16px;
    font-family: 'Nunito';
}
.table-cart tr td .quanlity {
    position: relative;
}
.product-count .qtyminus,
.product-count .qtyplus {
    width: 34px;
    height: 34px;
    background: transparent;
    text-align: center;
    font-size: 19px;
    line-height: 34px;
    color: #000;
    cursor: pointer;
    font-weight: 600;
}
.product-count .qtyminus {
    line-height: 32px;
}
.product-count .qtyminus {
    border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
    border-radius: 0 3px 3px 0; 
}
.product-count .qty {
    width: 60px;
    text-align: center;
    border: none;
}
.count-inlineflex {
    display: inline-flex;
    border: solid 2px #ccc;
    border-radius: 20px;  
}
.total {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}
.display-flex {
    display: flex;
}
.align-center {
    align-items: center;
}

.coupon-box {
    padding: 63px 0 58px;
    text-align: center;
    border: 2px dotted #e5e5e5;
    border-radius: 10px;
    margin-top: 55px;
}
.coupon-box form input {
    display: inline-block;
    width: 264px;
    margin-right: 13px;
    height: 44px;
    border-radius: 25px;
    border: solid 2px #cccccc;
    padding: 5px 15px;
    font-size: 14px;
}
input:focus {
    outline: none;
    box-shadow: none;
}
.round-black-btn {
    border-radius: 25px;
    background: #11a640;
    color: #fff;
    padding: 8px 35px;
    display: inline-block;
    border: solid 2px #11a640; 
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
}
.round-black-btn:hover,
.round-black-btn:focus {
    background: transparent;
    color: #212529;
    text-decoration: none;
}
.cart-totals {
    border-radius: 3px;
    background: #e7e7e7;
    padding: 25px;
}
.cart-totals h3 {
    font-size: 19px;
    color: #3c3c3c;
    letter-spacing: 1px;
    font-weight: 500;
}
.cart-totals table {
    width: 100%;
}
.cart-totals table tr th,
.cart-totals table tr td {
    width: 50%;
    padding: 3px 0;
    vertical-align: middle;
}
.cart-totals table tr td:last-child {
    text-align: right;
}
.cart-totals table tr td.subtotal {
    font-size: 20px;
    color: #6f6f6f;
}
.cart-totals table tr td.free-shipping {
    font-size: 14px;
    color: #6f6f6f;
}
.cart-totals table tr.total-row td {
    padding-top: 25px;
}
.cart-totals table tr td.price-total {   
    font-size: 24px;
    font-weight: 600;
    color: #000;
}
.btn-cart-totals {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
.btn-cart-totals .round-black-btn {
    margin: 10px 0; 
}
/* cart page end here*/
/* checkout page */
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro {
    padding-left: 0px;
    float: left;
}
.cardMaster label {
    display: block;
    margin-bottom: .5rem;
}
/* Custom Radio Button Start*/

.radiotextsty {
  color: #000000;
  font-size: 15px;
  padding-left: 5px;
}

.customradio {
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 18px;
    float: left;
    padding-bottom: 10px;
    width: 38px;
}

/* Hide the browser's default radio button */
.customradio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.mr10 {
    margin-top: 14px;
}

.text-set p {
    padding: 0;
    margin: 0;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 50%;
  border:1px solid #BEBEBE;
}

/* On mouse-over, add a grey background color */
.customradio:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.customradio input:checked ~ .checkmark {
  background-color: white;
  border:1px solid #BEBEBE;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.customradio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.customradio .checkmark::after {
    top: 1px;
    left: 1px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #11a640;
}
.h-50 {
    padding-bottom: 20px;
}
.product-total li {
    list-style: none;
    margin-bottom: 5px;
    /* font-size: 14px; */
}
/* Custom Radio Button End*/
/* checkout page end here */  
/* home page box start here */
.box-logo {
    margin: 0 auto;
}
.box-logo {
    margin-top: 20px;
    margin-bottom: 20px;
}
.search-sec h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 16px;
    line-height: 1.3em;
    font-weight: 700;
    margin: 16px auto;
}
.btn-green {
    width: 100%;
    text-align: center;
    background: #28a745;
    margin-top: 16px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.3;
}
.login-help {
    margin: 0 auto;
}
.search-sec .form-control {
    width: 312px;
}
.or-box
{
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}
.or
{
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 116px;
    left: 90px;
}
.search-sec .logo {
    width: auto;
}
.search-sec h2 {
    color: #605e5e;
    font-size: 14px;
}
.login-help p {
    margin: 4px;
}
.white-box {
    box-shadow: rgb(136, 136, 136) 2px 1px 20px;
    background-color: #fff;
    z-index: 2;
    width: 487px;
    margin: 18px auto 20px;
}
.white-box .logo {
    width: 210px;
    margin-top: 12px: 
}
.white-box .login-help p {
    margin: 0;
    padding: 8px;
}
/* home page end here */
/* select header dropdown */
.address-set {
    margin-top: 9px;
    margin-left: 25px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.edit-address {
    margin-top: 9px;
    margin-left: 25px;
}
.address-set .fa.fa-pencil {
    color: #11a640;
    font-size: 18px;
}
.p-20 {
    padding: 4px;
}
.products-dropdown.active {
    width: 100%;
    background: #fff;
}
.top-dropdown {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}
.round-cover {
    border: 1px solid #000;
    border-radius: 50%;
    width: 100px;
}
.round-cover {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 120px;
    margin: 0 auto;
    background: #fff;
    padding: 5px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.content h3 {
    margin-top: 25px;
    text-align: center;
}
.store-center {
    text-align: center;
}
.m-20 {
    margin-top: 24px;
    padding-bottom: 22px;
}
.store-center .btn {
    margin-top: 10px;
}
.store-center .fa-map-marker {
    color: #11a640;
    font-size: 20px;
}
.content .help-text {
    text-align: center;
}
#main-section .container-fluid {
     padding-right: 0px;
     padding-left: 0px;
}
#main-section .col-sm-3 {
    padding: 20px;
}
#main-section .col-sm-3:hover {
    background: #28a7451a;
    padding: 20px;
    cursor: pointer;
}
.filter-text .active {
    background: #28a745;
    color: #fff;
}
.select2-container--default .select2-selection--single {
    padding: 10px;
    height: 44px !important;
    font-size: 18px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #11a640 !important;
}
/* select header end here */
/* store */
.fillter {
    margin-top: 10px;
    float: right;
}
.filter-text li {
    float: left;
    margin-left: 10px;
    background: #f6f6f6b3;
    padding: 10px;
    color: green;
    border-radius: 16px;
    list-style: none;
}
.text-center p {
    font-size: 16px;
    margin-top: 20px;
}
.text-center b {
    font-size: 20px;
    font-weight: 700;
}
.logo-bar {
    border-bottom: 1px solid #ccc;
    padding: 16px;
}
.logo-new {
    width: 210px;
}
.fixed-top .logo {
    width: 210px;
    /*margin: 0 auto;*/
    margin-bottom: 10px;
}
/* stroe end here*/
/* multi step form */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step1 {
    display: table-cell;
    text-align: left;
    position: relative;
}
.stepwizard-step2 {
    display: table-cell;
    text-align: right;
    position: relative;
}
[data-toggle="collapse"]:after {
display: inline-block;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(90deg) ;
  transition: all linear 0.25s;
  float: right;
  padding-top: 15px; 
  }   
[data-toggle="collapse"].collapsed:after {
  transform: rotate(0deg) ;
}
.editNotes {
    display: inline-block;
}
.helper-data {
    width: 251px;
}
.helper-data .mr5 {
    float: left;
}
.modal-header {
    display: block;
}
.modal-dialog {
    max-width: 600px;
}
.modal-content .form-control {
    margin: 4px;
}
.form-setup {
    width: 65%;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 50px;
    padding-bottom: 16px;
}
.mb-0 a {
    font-size: 14px;
    font-weight: normal;
    color: #000;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
#collapseOne {
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
.form-setup1 {
    width: 67%;
    margin: 0 auto;
}
#address-form {
    margin-top: 92px;
    padding: 20px 0 0px;
    background: #f1efec;
}
.form-setup2 {
    width: 56%;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 16px;
}
#ProfileSetup-step {
    padding: 20px;
}
    #ProfileSetup-step .form-check-inline {
        margin-left: -25px;
        width: 100%;
        float: left;
        display: inline-block;
    }
/* multi step end here */
/* my profile start here */
.widget-table {
    background: #fff;
    padding: 20px 20px;
}
.bg-secondary {
    background-color: #fff !important;
    margin-bottom: 60px;
}
.total-cart {
    font-size: 18px;
    font-weight: 500;
}
.image-upload .form-control {
    padding: 0px;
}
/* my profile end here */
.singupform .form-group {
    margin-bottom: 1rem;
    width: 100%;
}
.singup {
    font-size: 20px;
    vertical-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}
#dateid, #TimeId {
    margin-bottom: 10px;
}
.product-right .fa.fa-times-circle-o {
    font-size: 24px;
}
.top-dropdown {
    display: none;
}
#storeDiv {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
    #storeDiv .col-sm-3 {
        padding: 15px;
    }
    #storeDiv .col-sm-3:hover {
        background: #28a7451a;
        /* border: 0.5px solid #eee; */
        cursor: pointer;
        padding: 15px;
    }
.navbar-right li {
    margin-left: 10px;
}
#custom-pages {
    margin-top: 22px;
    padding: 20px 0 0px;
    background: #f1efec;
}
.stron-font {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    display: flex;
}

.faq-set {
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.bg-green {
    background: #06a42a;
    padding: 10px;
    color: #fff;
}

.bg-orange {
    background: #FF8000;
    padding: 10px;
    color: #fff;
}

.stron-font {
    background: #f6f6f6;
    padding: 10px;
}
/*loca*/
.m-10 {
    margin-top: 10px;
}

.shoper-block .register-store {
    float: right;
}
#leftnavs li.active a {
    color: #fff !important;
}
.btn-success {
    font-family: 'Lato', sans-serif;
}
.account-dropdown li:nth-child(4), .account-dropdown li:nth-child(6) {
    display: none;
}
#accordion .fa.fa-times-circle-o {
    font-size: 26px;
}
td.checkout-img {
    width: 23%;
}
#accordion .thumbnail {
    width: 45%;
    height: auto;
}
.heading-one {
    color: #000;
    font-size: 26px;
}
.small-text {
    color: #28a745;
    font-size: 16px;
    font-weight: bold;
}
#datepicker .fa.fa-calendar {
    font-size: 37px;
    color: green;
    margin-left: 10px;
}
.bg-dark .form-control {
    padding-bottom: 6px;
    height: 38px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 16px;
    border-radius: 4px;
}
.btn-success {
    height: 34px;
    font-size: 16px;
    padding-top: 3px;
}
.btn-green {
    height: 36px;
    padding-top: 5px;
}
#accordion .fa.fa-times-circle-o:hover {
    cursor: pointer;
}
.how-work-section h2 {
    padding-bottom: 0px;
}
.how-work-section {
    margin-top: 25px;
}
/*color scheme*/
.navigation-blk {
    background: #ff8000;
    position: relative;
}
.main-nav > ul > li.account-btn {
    position: absolute;
    right: 0;
    background: #ffe343;
}
.main-nav > ul > li.active {
    border-bottom-color: #fff;
}
.main-nav a:hover {
    background: #ffe343;
    color: #000 !important;
}
.navigation-blk li.active {
    background-color: #ffe343;
}
.navigation-blk .active a {
    color: #000;
}
.account-btn a {
    color: #000;
}
.main-nav > ul > li:hover {
    border-bottom-color: #fff;
}
.btn-success {
    background: #ff8000;
    border-color: #ff8000;
}
    .btn-success:hover {
        color: #000;
        background-color: #ffe343;
        border-color: #ffe343;
    }
.justify-content-center button:hover {
    opacity: inherit;
}
/* color end here */
.product-info .number {
    margin: 0px;
}

.product-info .minus, .plus {
    width: 24px;
    height: 24px;
    background: #ff8000;
    border-radius: 0px;
    border: 1px solid #ff8000;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    margin: 0px -3px 6px -3px;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
}
.product-info .number input {
    height: 24px;
    width: 30px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 0px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
}
.minus:hover {
	cursor: pointer;
	background: #ffe343;
	border: 1px solid #ffe343;
	color: #000;
}
.plus:hover {
    cursor: pointer;
    background: #ffe343;
    border: 1px solid #ffe343;
    color: #000;
}
.btn-primary {
    background: #ffe343;
    border: 1px solid #ffe343;
    color: #000;
}
    .btn-primary:hover {
        background: #ff8000;
        border: 1px solid #ff8000;
    }
.btn-success a:hover {
    color: #000 !important;
}
.btn.btn-success:hover:active {
    background: #ffe343;
    border-color: #ffe343;
}
.plus {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.number .minus {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#order_phoneNo {
    height: 38px;
}
#headingOne {
    height: 38px;
    padding: 6px;
}
#leftnavs li.active {
    background-color: #ff8000;
    color:;
}
#leftnavs li:hover {
    background: #ffe343;
    color: #000 !important;
}
.stepwizard-step1 .btn-primary:not(:disabled):not(.disabled):active {
    background: #ffe343;
    border-color: #ffe343;
    color: #000;
}
.button-set {
    height: auto;
}
.do-nicescrol {
    margin-left: 5px;
    float: left;
    height: 300px;
    width: 99%;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.wrapper-fuid {
    width: 98%;
}

    .wrapper-fuid::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .wrapper-fuid::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    .wrapper-fuid::-webkit-scrollbar-thumb {
        background-color: #000000;
    }
@-webkit-keyframes opacity {
    0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
/************************************** Lising pageproduct images *************************************/
.product-photo img {
    height: 150px;
    min-width: 150px;
    object-fit: contain;
}
/**************************** media queries start here ****************************/
@media (min-width: 768px) and (max-width: 992px) {
.fillter {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 48px;
    float: left;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
.shoper-block {
    margin-left: 12%;
}
.white-box {
    width: auto;
}
.fillter {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 48px;
    float: left;
}
}
@media (min-width: 320px) and (max-width: 480px) {
.shoper-block button {
    font-size: 12px;
    font-weight: 800;
}
.white-box {
    width: auto;
}
    
.shoper-block {
    margin-left: 12%;
}
.fillter {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 48px;
    float: left;
}
.form-setup2 {
    width: 100%;
}
.form-setup {
    width: 100%;
}
    .search-sec .form-control {
        width: 100%;
    }
    .search-sec .btn-green {
        width: 100%;
        min-width: 290px;
    }
    .search-sec h1, .search-sec .login-help {
        color: #fff;
        font-weight: 400;
    }
    .add-store .btn-green {
        min-width: 100% !important;
        margin: 0 auto;
    }
    .navbar-right li {
        margin-bottom: 10px;
    }
}

/*# sourceMappingURL=style.css.map */
@media (min-width: 992px){
    /*.search-sec {
    position: absolute;
    top: 50%;
    background: rgba(26, 70, 104, 0.51);
    z-index: 2;
    width: 50%;
    left: 23%;
}*/
.search-sec {
    box-shadow: rgb(136, 136, 136) 2px 1px 20px;
    background-color: #fff;
    position: absolute;
    top: 33%;
    z-index: 2;
    width: 540px;
    left: 32%;
    margin: 0px auto 20px;
}
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
    .form-setup2 {
        width: 80%;
    }
    .customradio {
        width: 38px;
    }
    .fixed-top .logo {
        width: 148px;
        margin-left: 0px;
    }
    .mobile-nav-toggle .fa.fa-bars {
        color: #ff8000;
    }
    .cart-block {
        margin-right: 26px;
    }
}
@media screen and (max-width: 600px) {
    
}