﻿<div class="row">
    <div class="col-12 text-center pt-3">
        @*<h1>Please confirm the order.</h1>*@
        <p>You have a new online order from @Model.customerName. Please verify the order details below.</p>

    </div>
</div>
<div class="row justify-content-md-center mb-4">
    <div class="col-md-6">

        <!--start code-->
        <div class="widget">
            <!-- widget title -->
            <div class="mb-3 text-center">
                <h4>
                    <span><strong>** Please confirm the order. **</strong></span>
                </h4>               
            </div>
            <!-- widget content -->
            <table class="table small mb-5">

                <tbody>
                    <tr>
                        <td colspan="4" class="bold">Store Name </td>
                        <td>
                            @Model.storeName <br>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="bold"> </td>
                        <td id="StausChange">                        
                            @if (Model.StatusId == 1)
                            {
                                <button type="button" class="btn btn-success" id="btnUpdateStatus">Confirm Order</button>
                            }
                            @if (Model.StatusId == 2)
                            {
                                <p> Your Order is Confirmed </p>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="bold">Order Id</td>
                        <td id="orderId">@Model.orderID</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="bold">Full Name</td>
                        <td>@Model.customerName</td>
                    </tr>


                    <tr>
                        <td colspan="4" class="bold">Phone Number</td>
                        <td>@Model.orderPhone</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="bold">Ordered at</td>
                        <td>@Model.orderDate </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="bold">Order Type</td>
                        <td>@Model.orderStatus</td>
                    </tr>
                    @*<tr>
                            <td colspan="4" class="bold">Payment Type</td>
                            <td>@Model.</td>
                        </tr>*@


                </tbody>
            </table>
            <div class="gap-0"></div>
            <h3 class="order-detail">Order Details</h3>
            <table class="table small mb-5">
                <thead>
                    <tr>
                        <th colspan="5" class="bold">Item name</th>
                        <th class="bold">Price</th>
                        <th class="bold">Qty</th>
                        <th class="bold">SubTotal</th>
                        <th class="bold">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.orderProductList)
                    {
                    <tr>

                        <td colspan="5" class="bold">@item.productName</td>
                        <td>$@item.price.ToString("0.00")</td>
                        <td>
                            <select class="form-control cartValueChnage" id="cartValueChnage_@item.orderDetailsID">
                                @for (int i = 1; i <= item.qty; i++)
                                {
                                    <option value="@i" data-dir="@(item.productID)" selected="@(item.qty==i)">@i</option>

                                }
                            </select>
                        </td>
                        <td>$@item.subtotal.ToString("0.00")</td>
                        <td>
                            <button class="btn btn-warning btn-sm" onclick="UpdateValue(@item.orderDetailsID)"><i class="fa fa-pencil"></i> </button>
                            <button class="btn btn-danger btn-sm" onclick="deleteOrderItem(@item.orderDetailsID)"> <i class="fa fa-trash"></i> </button>
                        </td>
                    </tr>


                    }

                </tbody>
            </table>
            <h3 class="order-total">
                Order Total
            </h3>
            <table class="table small mb-5">
                <tbody>
                    <tr>
                        <td colspan="6" class="bold">Subtotal</td>
                        <td>$@Model.subtotal.ToString("0.00")</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="bold">Tax</td>
                        <td>$@Model.tax.ToString("0.00")</td>
                    </tr>


                    <tr>
                        <td colspan="6" class="bold">Total</td>
                        <td>@Model.storeTotal.ToString("0.00")</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <!--end code-->

    </div>
</div>
<div id="wait" style="display:block;width:130px;height:130px;position:absolute;top:40%;left:45%;padding:2px;">

    <img src='~/UserTheme/images/ajax-loader-gif-5.gif' style="width:130px;height:130px" /><br>Loading..
</div>

<script>
    $("#wait").css("display", "none");
    function deleteOrderItem(id) {
        if (confirm('Are you sure you want to delete this  Item?')) {
            $("#wait").css("display", "block");
            $.ajax({
                url: "/stores/DeleteOrderItem?orderDetailsID=" + id,
                type: "post",
                success: function (d) {

                    if (d != null) {
                        var order_id = $("#order_id").text();
                        $("#OderWithId").load("/stores/orderView?id=" + order_id)
                        $("#wait").css("display", "none");
                    }


                }
            });
        }

    }

    function UpdateValue(id) {
        if (confirm('Are you sure you want to update this  Item?')) {
            $("#wait").css("display", "block");
            var Qty = $("#cartValueChnage_" + id+"   option:selected").val();
            //alert("ProduId "+ id +"Qty "+ Qty )
             $("#wait").css("display", "block");
            $.ajax({
                url: "/stores/UpdateOrderItem?orderDetailsID=" + id + "&qty=" + Qty,
                type: "post",
                success: function (d) {

                    if (d != null) {
                        var order_id = $("#order_id").text();
                        $("#OderWithId").load("/stores/orderView?id=" + order_id)
                        $("#wait").css("display", "none");
                    }


                }
            });
        }
    }
     $("#btnUpdateStatus").click(function () {
            if (confirm('Are you sure you want to confirm the order, please check all products are available before confirming?')) {
                $("#ordereror").hide();            
                var StatusId = 3;
                var textStatus = "Confirmed";
                if (StatusId != "") {
                    var orderid = $("#orderId").text();                   
                    $.ajax({
                        url: "/stores/UpdateOrderStatus?orderID=" + orderid + "&orderStatusID=" + StatusId,
                        type: "get",
                        success: function (d) {
                            var getDate = (d);                          
                            $("#ordereror").hide();
                            $("#StausChange").text("Your Order is Confirmed ");
                            alert("Your Order is Confirmed!");
                        }
                    });
                } else {

                    $("#ordereror").show();
                }
            }

        })
  
</script>