﻿@model GroceryPoint.Dtos.Store.StoreDto

@{
    ViewData["Title"] = "Store Register";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

    <div class="row  justify-content-center align-items-center d-flex text-center h-100 white-box">
        <div class="col-md-11  h-50 ">
            <div class="text-light">
                <div class="logo box-logo">
                    <img class="text-center" src="~/UserTheme/images/new-grocerypoint-logo.png">
                </div>
            </div>
            <h3 class="slogn">
                Create an account to sell more
            </h3>
            <form asp-controller="Stores" asp-action="AddStore" class="add-store" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="rows">

                            <div class="form-group">
                                <input type="text" required max="100" name="storeName" placeholder="Store Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" required max="100" name="firstName" placeholder="First Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" required max="100" name="lastName" placeholder="Last Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="email" required max="100" name="email" placeholder="Email" class="form-control">
                            </div>

                            <div class="form-group">
                                <input type="password" required max="20" name="password" id="password" placeholder="Password (min 6 character)" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" required max="20" name="Reppassword" id="Reppassword" placeholder="Confirm Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" id="phone" max="10" required name="phone" placeholder="Phone" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" id="streetAddress" required name="streetAddress" placeholder="Street Address" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" id="unit" name="unit" placeholder="Unit" class="form-control">
                            </div>
                            <div class="form-group">
                                @Html.DropDownList("provinceID", ViewBag.provinceID as SelectList, "--Select  Province--", new { @required = "required", @class = "form-control search-slt" })

                                @*<input type="text" id="phone" name="Telephone" placeholder="Phone" class="form-control">*@
                            </div>
                            <div class="form-group">
                                @Html.DropDownList("CityId", new SelectList(""), "--Select City--", new { @class = "form-control" })


                                @*<input type="text" id="phone" name="Telephone" placeholder="Phone" class="form-control">*@
                            </div>

                            <div class="form-group">
                                <input type="text" id="postalCode" required name="postalCode" placeholder="Postal Code" class="form-control">
                            </div>


                            <div class="form-group image-upload">
                                <input type="file" name="file" class="form-control">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-green" type="submit">Save</button>
                            </div>

                            @*<div class="form-group login-help">
                            <div class="or-box">
                                <span class="or">OR</span>
                                <div class="form-group">
                                    <button class="btn btn-success btn-green"><i class="fa fa-facebook-f"></i> &nbsp; facebook</button>
                                    <button class="btn btn-success btn-green"><i class="fa fa-google"></i> &nbsp; facebook</button>
                                </div>

                            </div>

                        </div>*@
                            <div class="login-help">
                                <p class="text-center">Already have an account? <a href="/accounts/login">Login</a></p>
                            </div>
                            <div class="login-help">
                                <p class="text-center">Forgot your password? <a href="#">Reset it</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </form>


        </div>
  
    </div>


@*<div class="register-form">
        <h2>Create an Account</h2>

        <form asp-action="Register" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-field col-md-6">
                <label>First Name<span class="red">*</span></label>
                <input type="text" required name="FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>
            <div class="form-field col-md-6">
                <label>Last Name<span class="red">*</span></label>
                <input type="text" name="LastName" required>
                <span asp-validation-for="LastName" class="text-danger"></span>

            </div>
            <div class="form-field col-md-6">
                <label>Email Address<span class="red">*</span></label>
                <input type="text" name="UserName" required>
                <span asp-validation-for="UserName" class="text-danger"></span>

            </div>

            <div class="form-field col-md-6">
                <label>Telephone<span class="red">*</span></label>
                <input id="phone" type="text" name="Telephone" required>
                <span asp-validation-for="Telephone" class="text-danger"></span>

            </div>
            <div class="form-field col-md-6">
                <label>password<span class="red">*</span></label>
                <input id="phone" type="text" name="password" required>
                <span asp-validation-for="password" class="text-danger"></span>

            </div>
            <div class="form-field col-md-6">
            </div>
            <div class="form-field col-md-6">
                <label>Provinces <span class="red">*</span></label>
                @Html.DropDownList("provinceID", ViewBag.provinceID as SelectList, "-- Select Province--", new { @class = "form-control" })

                <span asp-validation-for="provinceID" class="text-danger"></span>

            </div>
            <div class="form-field col-md-6">
                <label>City<span class="red">*</span></label>
                @Html.DropDownList("CityId", new SelectList(""), "--Select City--", new { @class = "form-control" })

                <span asp-validation-for="CityId" class="text-danger"></span>

            </div>
            <div class="form-field col-md-12">
                <input type="submit" name="" value="Register" class="register-btn">
            </div>


        </form>

        <p class="para-txt">Already registeer with Grocery? <a href="/accounts/login">Login now</a></p>
    </div>*@
@section scripts{
}
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
<script>
    $("#provinceID").change(function () {

        var Id = $(this).val();
        $.ajax({

            type: "Get",
            url: "/Accounts/GetCity?id=" + Id,
            contentType: "html",
            success: function (response) {
                $("#CityId").empty();
                $("#CityId").append(response);

            }

        })

    })
    $("#phone").inputmask({ "mask": "(999) 999-9999" });
</script>
<script>
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("Reppassword");

    function validatepassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatepassword;
    confirm_password.onkeyup = validatepassword;
</script>

