﻿@model GroceryPoint.Dtos.Store.StoreOrderDetailsDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Grocery-Order</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="~/UserTheme/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Libraries CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style type="text/css">

        .bold {
            font-size: 16px;
            font-weight: 600;
        }

        .table {
            font-size: 14px;
        }

        h4 strong {
            font-size: 20px;
            color: #f80909;
        }
    </style>
</head>
<body>
    <p style="display:none" id="order_id">@ViewBag.Id</p>
    <div class="container" id="OderWithId">
       


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
          var order_id = $("#order_id").text();    
        $("#OderWithId").load("/stores/orderView?id="+order_id)
       
    </script>


</body>
</html>