﻿<html lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
            <title>Login</title>
    
                  <!-- favicon -->
            <link rel="icon" href="http://softest1.bdtask.com/clinic/assets/uploads/images/dr-fav.png" sizes="16x16"> 
            <!-- Bootstrap -->
            <link href="Login_files/bootstrap.css" rel="stylesheet" type="text/css">
            <!-- Bootstrap rtl -->
            <!-- <link href="http://hosted.indiit.com/Doctor-Online/assets/bootstrap-rtl/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/> -->
            <!-- Pe-icon-7-stroke -->
            <link href="Login_files/pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
            <!-- style css -->
            <link href="Login_files/styleBD.css" rel="stylesheet" type="text/css">
            <!-- Theme style rtl -->
            <!-- <link href="assets/dist/css/styleBD-rtl.css" rel="stylesheet" type="text/css"/> -->
            
             <!-- jQuery -->
            <script src="Login_files/jquery-1.js" type="text/javascript"></script>
    
        </head>
    
    
        <body>
            <!-- Content Wrapper -->
            <div class="login-wrapper">
         
                <div class="container-center">
                    <div class="panel panel-bd">


                        <div class="panel-heading">
                            <div class="view-header">
                                <div class="header-icon">
                                    <i class="pe-7s-unlock"></i>
                                </div>
                                <div class="header-title">
                                    <h3>Login</h3>
                                    <small><strong>Please Login</strong></small>
                                </div>
                            </div>
                        </div>


                        <div class="panel-body">
                            <form action="http://hosted.indiit.com/Doctor-Online/authentication" method="post" role="form" enctype="multipart/form-data" accept-charset="utf-8">
                                <input type="hidden" name="csrf_test_name" value="fb62b675ec072155390b2e360ac27ecb">

                                <div class="form-group">
                                    <input class="form-control" id="eml" placeholder="Email Address" name="email" type="email" autofocus="" required="">
                                    <span></span>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" id="pass" placeholder="password" name="password" type="password" required="">
                                    <span></span>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" name="type" required="">
                                        <option value="" selected="selected">Select One</option>
                                        <option value="1">Admin</option>
                                        <option value="2">Doctor</option>
                                        <option value="3"> User</option>
                                    </select>
                                    <span></span>
                                </div>

                                <div class=" form-group">
                                    <input name="remember" type="checkbox"> Remember me
                                </div>

                                <button type="submit" class="btn btn-lg btn-success btn-block"> Login</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-wrapper -->
           
            <!-- bootstrap js -->
            <script src="Login_files/bootstrap.js" type="text/javascript"></script>
        
    </body></html>