﻿@model IEnumerable<GroceryPoint.Dtos.Store.StoreSummaryDto>
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Grocery</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="~/UserTheme/" rel="stylesheet">
    <link href="~/UserTheme/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/UserTheme/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/UserTheme/css/style.css" rel="stylesheet">
    <link href="~/UserTheme/css/custom-style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>

<body>

    <!--==========================
    Header
    ============================-->
    <div class="logo-bar">
        <div class="logo-new box-logo">
            <img class="text-center" src="~/UserTheme/images/new-grocerypoint-logo.png">
        </div>
    </div>
    <main id="main-section">
        <div class="container-fluid">
            <div class="top-dropdowns">

                @*<div class="col-sm-12 p-20">
                        <div class="text-center">
                            <p>Select Store for <b>Delivery</b> in <b>v3v0c2</b></p>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-1">
                                <div class="fillter">
                                    <span> Fillter by</span>
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <ul class="filter-text">
                                    <li class="active">All</li>
                                    <li>Biggest Saving</li>
                                    <li>Groceries</li>
                                    <li>Meals</li>
                                </ul>
                            </div>


                        </div>
                    </div>*@
                <hr />

                <div class="row m-20">
                    @if (Model.Count() > 0)
                    {
                        @foreach (var item in Model)
                        {
                            <div class="col-sm-3">
                                <div class="round-cover">
                                    @if (item.logo == "" || item.logo == null)
                                    {
                                        <img src="~/ProductImages/nofound.jpg">
                                    }
                                    else
                                    {
                                        <img src="~/StoreImages/@item.logo">

                                    }
                                </div>
                                <div class="content store-center">
                                    <h3>@item.storeName</h3>
                                    <div class="help-text">Groceries. Ethnic. Specialty</div>
                                    <div class="store-address">
                                        <div class="help-text">
                                            <i class="fa fa-map-marker"></i>
                                            @item.streetAddress
                                        </div>
                                    </div>
                                    <button class="btn btn-sm btn-success" onclick="chooseStore(@item.storeID,'@item.storeName.Trim()')">SELECT STORE</button>
                                </div>
                            </div>
                        }
                    }

                </div>

            </div>
        </div>
    </main>
    <!--==========================
        Footer
      ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 footer-contact">
                        <h4>About Store</h4>
                        @*<p class="add">1234 Heaven Stress, Beverly Hill.</p>*@
                        @*<p class="phone"><a href="tel:123 456 789">+123 456 789</a></p>*@
                        <p class="email"><a href="mailto:grocerypoint2020@gmail.com">grocerypoint2020@gmail.com</a></p>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 footer-links">
                        <h4>Links</h4>
                        <ul>
                            <li><a href="/">Shop</a></li>
                            @*<li><a href="#">Products</a></li>
                                <li><a href="#">Grocery</a></li>*@
                            <li><a href="/home/about">About Us</a></li>
                            <li><a href="/home/Howitworks">How it works</a></li>
                            <li><a href="/home/Contact">Contact Us</a></li>
                            @*<li><a href="#">Your Account</a></li>*@
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 footer-links">
                        <h4>INFORMATION</h4>
                        <ul>
                            <li><a href="/home/TermsandCondition">Terms & Conditions</a></li>
                            @*<li><a href="/home/">Shipping Policy</a></li>*@
                            @*<li><a href="#">Terms of service</a></li>*@
                            <li><a href="/home/privacy">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 footer-links footer-last-links">
                        <div>
                            <h4>Other Links</h4>
                            <ul>
                                <li><a href="/home/faq">Faq's</a></li>
                            </ul>
                        </div>
                        <div>
                            <h4 class="mt-md-5 mt-sm-3">Payments</h4>
                            <img src="/UserTheme/images/payment.png" alt="payments">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="d-flex justify-content-between">
                <p class="copyright">&copy; Copyright 2020 <strong>Grocery Point</strong>. All Rights Reserved</p>
                <p class="footer-icon">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </p>
            </div>

        </div>
    </footer><!-- #footer -->
    <script src="~/UserTheme/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/UserTheme/lib/mobile-nav/mobile-nav.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/UserTheme/js/main.js"></script>
    <script type="text/javascript">
        function chooseStore(id, name) {
            //alert( id + " Name : " + name)
         //$("#AjaxLoader").show();
        var cartDto = {
            "storeID": 1,
            "productID": id,
            "qty": 1,
            "userID": 1,
            "ipAddress": "1",
            "totalItems": 0,
            "totalCost": 0
        };
        var cart = JSON.stringify(cartDto);

            $.ajax({
            url: "/home/chooseStore?id="+id+"&name=" + name,
            type:"post",
            success: function (d) {
                //var getDate = (d);
                window.location.href ="/home/index"

            }
        });
    }
    </script>
</body>
</html>

