﻿@model GroceryPoint.Dtos.Store.StoreOrderDetailsDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Grocery-Order</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="~/UserTheme/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Libraries CSS Files -->



    <style type="text/css">

        .bold {
            font-size: 16px;
            font-weight: 600;
        }

        .table {
            font-size: 14px;
        }

        h4 strong {
            font-size: 20px;
            color: #f80909;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-3">
                <h1>Thanks you for order Big Bazaar</h1>
                <p>You have a new online order from budhi ka Please verify the order details below.</p>

            </div>
        </div>
        <div class="row justify-content-md-center mb-4">
            <div class="col-md-6">

                <!--start code-->
                <div class="widget">
                    <!-- widget title -->
                    <div class="mb-3 text-center">
                        <h4>
                            <span><strong>** THIS IS AN AUTOMATED MESSAGE, DO NOT REPLY **</strong></span>
                        </h4>
                    </div>
                    <!-- widget content -->
                    <table class="table small mb-5">

                        <tbody>
                            <tr>
                                <td colspan="4" class="bold">Store Name </td>
                                <td>
                                    @Model.storeName <br>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="bold"> </td>
                                <td id="StausChange">
                                    @*@Model.StatusId*@
                                    @if (Model.StatusId == 1)
                                    {
                                        <button type="button" class="btn btn-success" id="btnUpdateStatus">Confirm </button>
                                    }
                                    @if (Model.StatusId == 2)
                                    {
                                        <p> Your Order is Confirmed </p>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="bold">Order Id</td>
                                <td id="orderId">@Model.orderID</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="bold">Full Name</td>
                                <td>@Model.customerName</td>
                            </tr>


                            <tr>
                                <td colspan="4" class="bold">Phone Number</td>
                                <td>@Model.orderPhone</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="bold">Ordered at</td>
                                <td>@Model.orderDate </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="bold">Order Type</td>
                                <td>@Model.orderStatus</td>
                            </tr>
                            @*<tr>
                                    <td colspan="4" class="bold">Payment Type</td>
                                    <td>@Model.</td>
                                </tr>*@


                        </tbody>
                    </table>
                    <div class="gap-0"></div>
                    <h3 class="order-detail">Order Details</h3>
                    <table class="table small mb-5">


                        <thead>
                            <tr>
                                <th style="width: 10px;" class="bold">Qty</th>
                                <th colspan="5" class="bold">Item name</th>
                                <th class="bold">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.orderProductList)
                            {
                                <tr>
                                    <td>@item.qty</td>
                                    <td colspan="5" class="bold">@item.productName</td>
                                    <td>$@item.subtotal.ToString("0.00")</td>
                                </tr>


                            }

                        </tbody>
                    </table>
                    <h3 class="order-total">
                        Order Total
                    </h3>
                    <table class="table small mb-5">
                        <tbody>
                            <tr>
                                <td colspan="6" class="bold">Subtotal</td>
                                <td>$@Model.subtotal.ToString("0.00")</td>
                            </tr>
                            <tr>
                                <td colspan="6" class="bold">Tax</td>
                                <td>$@Model.tax.ToString("0.00")</td>
                            </tr>


                            <tr>
                                <td colspan="6" class="bold">Total</td>
                                <td>@Model.subtotal.ToString("0.00")</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--end code-->

            </div>
        </div>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $("#btnUpdateStatus").click(function () {
            if (confirm('Are you sure you want to confirm the order, please check all products are available before confirming?')) {
                $("#ordereror").hide();
                var StatusId = 3;
                var textStatus = "Confirmed";
                if (StatusId != "") {
                    var orderid = $("#orderId").text();
                    $.ajax({
                        url: "/stores/UpdateOrderStatus?orderID=" + orderid + "&orderStatusID=" + StatusId,
                        type: "get",
                        success: function (d) {
                            var getDate = (d);
                            $("#ordereror").hide();
                            $("#StausChange").text("Your Order is Confirmed ");
                            alert("Your Order is Confirmed!");
                        }
                    });
                } else {

                    $("#ordereror").show();
                }
            }

        })
    </script>


</body>
</html>