﻿<ul class="p-0">
    <li>
        <div class="product-blk d-flex justify-content-between">
            <div class="product-left d-flex">
                <div class="prod-blk align-items-center d-flex justify-content-center"><img src="images/prod2.jpg" alt="schematic-dia" class="img1"></div>
                <div class="prod-info">
                    <p class="prod-name">Collezione Pasta</p>
                    <p class="prod-price"><span>$25</span>/each</p>
                </div>
            </div>
            <div class="product-right d-flex justify-content-between align-items-center">
                <div class="prod-qty d-flex align-items-center">
                    <a href="#" class="decrement">-</a>
                    <input type="text" value="2" class="num">
                    <a href="#" class="increament">+</a>
                </div>
                <div class="prod-total">$50</div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-blk d-flex justify-content-between">
            <div class="product-left product-blk d-flex">
                <div class="prod-blk align-items-center d-flex justify-content-center"><img src="images/prod2.jpg" alt="schematic-dia" class="img1"></div>
                <div class="prod-info">
                    <p class="prod-name">Collezione Pasta</p>
                    <p class="prod-price"><span>$25</span>/each</p>
                </div>
            </div>
            <div class="product-right product-blk d-flex justify-content-between align-items-center">
                <div class="prod-qty d-flex align-items-center">
                    <a href="#" class="decrement">-</a>
                    <input type="text" value="2" class="num">
                    <a href="#" class="increament">+</a>
                </div>
                <div class="prod-total">$50</div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-blk d-flex justify-content-between">
            <div class="product-left product-blk d-flex">
                <div class="prod-blk align-items-center d-flex justify-content-center"><img src="images/prod2.jpg" alt="schematic-dia" class="img1"></div>
                <div class="prod-info">
                    <p class="prod-name">Collezione Pasta</p>
                    <p class="prod-price"><span>$25</span>/each</p>
                </div>
            </div>
            <div class="product-right product-blk d-flex justify-content-between align-items-center">
                <div class="prod-qty d-flex align-items-center">
                    <a href="#" class="decrement">-</a>
                    <input type="text" value="2" class="num">
                    <a href="#" class="increament">+</a>
                </div>
                <div class="prod-total">$50</div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-blk d-flex justify-content-between">
            <div class="product-left product-blk d-flex">
                <div class="prod-blk align-items-center d-flex justify-content-center"><img src="images/prod2.jpg" alt="schematic-dia" class="img1"></div>
                <div class="prod-info">
                    <p class="prod-name">Collezione Pasta</p>
                    <p class="prod-price"><span>$25</span>/each</p>
                </div>
            </div>
            <div class="product-right product-blk d-flex justify-content-between align-items-center">
                <div class="prod-qty d-flex align-items-center">
                    <a href="#" class="decrement">-</a>
                    <input type="text" value="2" class="num">
                    <a href="#" class="increament">+</a>
                </div>
                <div class="prod-total">$50</div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-blk d-flex justify-content-between">
            <div class="product-left product-blk d-flex">
                <div class="prod-blk align-items-center d-flex justify-content-center"><img src="images/prod2.jpg" alt="schematic-dia" class="img1"></div>
                <div class="prod-info">
                    <p class="prod-name">Collezione Pasta</p>
                    <p class="prod-price"><span>$25</span>/each</p>
                </div>
            </div>
            <div class="product-right product-blk d-flex justify-content-between align-items-center">
                <div class="prod-qty d-flex align-items-center">
                    <a href="#" class="decrement">-</a>
                    <input type="text" value="2" class="num">
                    <a href="#" class="increament">+</a>
                </div>
                <div class="prod-total">$50</div>
            </div>
        </div>
    </li>
    <li>
        <div class="product-blk d-flex justify-content-between">
            <div class="product-left product-blk d-flex">
                <div class="prod-blk align-items-center d-flex justify-content-center"><img src="images/prod2.jpg" alt="schematic-dia" class="img1"></div>
                <div class="prod-info">
                    <p class="prod-name">Collezione Pasta</p>
                    <p class="prod-price"><span>$25</span>/each</p>
                </div>
            </div>
            <div class="product-right product-blk d-flex justify-content-between align-items-center">
                <div class="prod-qty d-flex align-items-center">
                    <a href="#" class="decrement">-</a>
                    <input type="text" value="2" class="num">
                    <a href="#" class="increament">+</a>
                </div>
                <div class="prod-total">$50</div>
            </div>
        </div>
    </li>
</ul>