﻿<!DOCTYPE html>
<html lang="en">
@using Newtonsoft.Json;
@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@using GroceryPoint.Models
@{
    var user = (Context.Session.GetString("userSession"));
    UserInfo userDate = new UserInfo();
    if (user != null)
    {
        userDate = JsonConvert.DeserializeObject<UserInfo>(user);

    }
    //UserInfo.Current= user;

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GroceryPoint </title>

    <meta charset="utf-8">
    <title>Grocery</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/UserTheme/img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="~/UserTheme/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/UserTheme/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/UserTheme/css/custom-style.css" rel="stylesheet" />
    <!-- Main Stylesheet File -->
    <link href="~/UserTheme/css/style.css" rel="stylesheet">
    <link href="~/UserTheme/css/custom-style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
    <script src="~/UserTheme/js/main.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <style>
        /*!
        // 3. Loader
        // --------------------------------------------------*/
        .loader {
            top: 0;
            left: 0;
            position: fixed;
            opacity: 0.8;
            z-index: 10000000;
            background: Black;
            height: 100%;
            width: 100%;
            margin: auto;
        }

        .strip-holder {
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 50%;
            margin-left: -50px;
            position: relative;
        }

        .strip-1,
        .strip-2,
        .strip-3 {
            width: 20px;
            height: 20px;
            background: rgb(125, 191, 146);
            position: relative;
            -webkit-animation: stripMove 2s ease infinite alternate;
            animation: stripMove 2s ease infinite alternate;
            -moz-animation: stripMove 2s ease infinite alternate;
        }

        .strip-2 {
            -webkit-animation-duration: 2.1s;
            animation-duration: 2.1s;
            background-color: rgb(157, 57, 57);
        }

        .strip-3 {
            -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
            background-color: rgb(13, 164, 63);
        }

        @@-webkit-keyframes stripMove {
            0% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }
        }

        @@-moz-keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }

        @@keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }
    </style>
</head>
<body>

    <!--==========================
    Header
    ============================-->
    <header id="header" class="fixed-top">

        <div class="header-bottom">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="/" class="scrollto"><img src="~/UserTheme/images/new-grocerypoint-logo.png" alt="Grocery" class="img-fluid"></a>
                </div>
                <div class="search-block d-flex align-items-center">
                    <a href="#" class="search-lable" id="setStoreName">@userDate.StoreName</a>
                    <div class="products-dropdown" id="storeDiv">
                        <!--<select class="myselect" style="width:500px;">
                          <option>Big Bazzar</option>
                          <option>Mega Mart</option>
                          <option>Super Market</option>
                          <option>Down Town</option>
                        </select>-->

                    </div>
                    <form asp-controller="home" asp-action="search">
                        <input type="text" id="secrhByStore" required name="searchString" placeholder="Search @userDate.StoreName" />
                        <div class="action"><input type="button" name=""><i class="fa fa-search" aria-hidden="true"></i></div>
                    </form>
                    @*<form>
                            <input type="text" id="secrhByStore" name="" placeholder="Search @userDate.StoreName" />
                            <div class="action"><input type="button" name=""><i class="fa fa-search" aria-hidden="true"></i></div>
                        </form>*@
                </div>
                @*<div class="search-block d-flex align-items-center">
                        <a href="#" class="search-lable">Products</a>
                        <div class="products-dropdown">
                            <div class="row">
                                <div class="col-md-2 col-sm-3- col-4">
                                    <a href="#" class="active"><img src="~/UserTheme/images/logo1.jpg" alt=""></a>
                                </div>
                                <div class="col-md-2 col-sm-3- col-4">
                                    <a href="#"><img src="~/UserTheme/images/logo1.jpg" alt=""></a>
                                </div>
                                <div class="col-md-2 col-sm-3- col-4">
                                    <a href="#"><img src="~/UserTheme/images/logo1.jpg" alt=""></a>
                                </div>
                                <div class="col-md-2 col-sm-3- col-4">
                                    <a href="#"><img src="~/UserTheme/images/logo1.jpg" alt=""></a>
                                </div>
                                <div class="col-md-2 col-sm-3- col-4">
                                    <a href="#"><img src="~/UserTheme/images/logo1.jpg" alt=""></a>
                                </div>
                                <div class="col-md-2 col-sm-3- col-4">
                                    <a href="#"><img src="~/UserTheme/images/logo1.jpg" alt=""></a>
                                </div>
                                <div class="col-md-2 col-sm-3- col-4">
                                    <a href="#"><img src="~/UserTheme/images/logo1.jpg" alt=""></a>
                                </div>
                                <div class="col-md-2 col-sm-3- col-4">
                                    <a href="#"><img src="~/UserTheme/images/logo1.jpg" alt=""></a>
                                </div>
                                <div class="col-md-2 col-sm-3- col-4">
                                    <a href="#"><img src="~/UserTheme/images/logo1.jpg" alt=""></a>
                                </div>
                                <div class="col-md-2 col-sm-3- col-4">
                                    <a href="#"><img src="~/UserTheme/images/logo1.jpg" alt=""></a>
                                </div>
                                <div class="col-md-2 col-sm-3- col-4">
                                    <a href="#"><img src="~/UserTheme/images/logo1.jpg" alt=""></a>
                                </div>
                                <div class="col-md-2 col-sm-3- col-4">
                                    <a href="#"><img src="~/UserTheme/images/logo1.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <form>
                            <input type="text" name="" placeholder="Search @userDate.StoreName" />
                            <div class="action"><input type="button" name=""><i class="fa fa-search" aria-hidden="true"></i></div>
                        </form>
                    </div>*@
                <div class="cart-block d-flex justify-content-between align-items-center">
                    <a href="#" id="checkput-ancr" class="checkput-ancrs checkput-ancr"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span class="checkout-txt">Checkout</span></a>
                    <span class="counter d-flex flex-column justify-content-center align-items-center " onclick="checkOutpage()">
                        <span class="checkput-ancrs" id="totalItems">0</span><i>items</i>
                    </span>
                    <span class="checkout-total d-flex flex-column justify-content-center " onclick="checkOutpage()" id="totalCost">$0</span>

                </div>
            </div>
        </div>
        <div class="navigation-blk">

            <nav class="main-nav d-none d-lg-block clearfix">
                <ul class="d-flex justify-content-center">
                    <li class="active"><a href="/">Shop</a></li>

                    @*<li><a href="#">grocery</a></li>*@
                    <li><a href="/page/about">About Us</a></li>
                    <li><a href="/page/Howitworks">How it works</a></li>
                    <li><a href="/page/faq">FAQs</a></li>
                    <li><a href="/page/Contact">Contact Us</a></li>
                    @*<li><a href="/home/Privacy">Privacy</a></li>*@
                    @*<li>
            <a href="/home/TermsandCondition">
                Terms and conditions
            </a>
        </li>*@

                    @*<li class="login-ancr"><a href="/accounts/login">Sign In</a></li>*@
                    <li class="drop-down account-btn">
                        <a href=""><i class="fa fa-user-o" aria-hidden="true"></i> My Account</a>
                        <ul class="account-dropdown">
                            <li class="dropdown-header">Hi, @userDate.FirstName!</li>
                            <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i>My Account</a></li>
                            <li><a href="/profile/ChangePassword" class="change-postal-button"><i class="fa fa-map-marker" aria-hidden="true"></i>Change Password </a></li>
                            <li><a href="/profile/OrderDetail"><i class="fa fa-shopping-bag" aria-hidden="true"></i>Choose Store</a></li>
                            <li><a href="/profile/OrderDetail"><i class="fa fa-list-alt" aria-hidden="true"></i>Order History</a></li>
                            <li><a href="/profile/EditProfile"><i class="fa fa-info-circle mr10" aria-hidden="true"></i>Edit Profile</a></li>
                            <li><a href="/accounts/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
                        </ul>
                    </li>
                </ul>

            </nav><!-- .main-nav -->
        </div>
        </div>
    </header><!-- #header -->
    <main id="main">
        @RenderBody()
    </main>

    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 footer-contact">
                        <h4>About Store</h4>
                        @*<p class="add">1234 Heaven Stress, Beverly Hill.</p>
                        <p class="phone"><a href="tel:123 456 789">+123 456 789</a></p>*@
                    <p class="email"><a href="mailto:grocerypoint2020@gmail.com">grocerypoint2020@gmail.com</a></p>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 footer-links">
                        <h4>Links</h4>
                        <ul>
                            <li><a href="/">Shop</a></li>
                            @*<li><a href="#">Products</a></li>
        <li><a href="#">Grocery</a></li>*@
                            <li><a href="/page/about">About Us</a></li>
                            <li><a href="/page/Howitworks">How it works</a></li>
                            <li><a href="/page/Contact">Contact Us</a></li>
                            @* <li><a href="#">Your Account</a></li>*@
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 footer-links">
                        <h4>INFORMATION</h4>
                        <ul>
                            <li><a href="/page/TermsandCondition">Terms & Conditions</a></li>
                            @*<li><a href="/home/">Shipping Policy</a></li>*@
                            @*<li><a href="#">Terms of service</a></li>*@
                            <li><a href="/page/privacy">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6 footer-links footer-last-links">
                        <div>
                            <h4>Other Links</h4>
                            <ul>
                                <li><a href="/page/faq">Faq's</a></li>
                            </ul>
                        </div>
                        <div>
                            <h4 class="mt-md-5 mt-sm-3">Payments</h4>
                            <img src="/UserTheme/images/payment.png" alt="payments">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="d-flex justify-content-between">
                <p class="copyright">&copy; Copyright 2020 <strong>Grocery Point</strong>. All Rights Reserved</p>
                <p class="footer-icon">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </p>
            </div>

        </div>
    </footer><!-- #footer -->
    <!-- Enquiry Form -->
    <div class="modal fade" id="enquiryModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Interested in this part? <b>Contact us</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="contact-form" class="row">
                        <div class="form-filed col-lg-6 col-md-6">
                            <label class="require">Name*</label>
                            <input type="text" name="">
                        </div>
                        <div class="form-filed col-lg-6 col-md-6">
                            <label>Company</label>
                            <input type="text" name="">
                        </div>
                        <div class="form-filed col-lg-6 col-md-6">
                            <label class="require">Email*</label>
                            <input type="text" name="">
                        </div>
                        <div class="form-filed col-lg-6 col-md-6">
                            <label class="require">Telephone*</label>
                            <input type="text" name="">
                        </div>
                        <div class="form-filed col-lg-6 col-md-6">
                            <label class="require">Country*</label>
                            <select>
                                <option>Please select</option>
                                <option>UK</option>
                                <option>India</option>
                            </select>
                        </div>
                        <div class="form-filed col-lg-6 col-md-6">
                            <label class="require">Profile Type*</label>
                            <select>
                                <option>I am a...(Please select)</option>
                                <option>Mechanic</option>
                                <option>Engineer</option>
                            </select>
                        </div>
                        <div class="form-filed col-lg-6 col-md-6">
                            <label class="">Product</label>
                            <input type="" name="">
                        </div>
                        <div class="form-filed col-lg-6 col-md-6">
                            <label class="">Car Model</label>
                            <input type="" name="">
                        </div>
                        <div class="form-filed col-md-12">
                            <label class="require">Enquiry*</label>
                            <textarea></textarea>
                        </div>
                        <div class="form-filed col-md-12">
                            <input type="button" name="" class="submit-btn red-button" value="Send Enquiry">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-blk" id="getCartDetail">

    </div>
    <div class="checkout-active"></div>
    <script src="~/UserTheme/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/UserTheme/lib/mobile-nav/mobile-nav.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/UserTheme/js/main.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
         //$("#AjaxLoader").show();
        function checkOutpage() {
            //alert("ddd");
               //$(this).addClass('active');
                 $('.checkout-blk').addClass('active');
$('.checkout-active').addClass('active');
             if (@userDate.UserId != 0) {
                //alert("user exit");

                $('#getCartDetail').load("/cart/GetCartDetails")
            } else {
                //alert("user no exit")

          //$('#getCartDetail').load("cart/GetCartDetails", { storeId: 1,UserId:userDate.UserId })

            }
        }
        $(".checkput-ancr").click(function () {

            if (@userDate.UserId != 0) {
                //alert("user exit");

                $('#getCartDetail').load("/cart/GetCartDetails")
            } else {
                //alert("user no exit")

          //$('#getCartDetail').load("cart/GetCartDetails", { storeId: 1,UserId:userDate.UserId })

            }
        })
        if (@userDate.UserId> 0) {
           getCartTotalDetail();
        }
        if (@userDate.CityId> 0) {
          $('#storeDiv').load("/home/StorePartial")

        }
        function getCartTotalDetail() {
        $.ajax({
            url: "/cart/GetCartTotal?storeID="+1+"&userID="+@userDate.UserId,
             type:"get",
            success: function (d) {
                var getDate = (d);
                //alert(JSON.stringify(d));

                $("#totalCost").text('$'+getDate.totalCost);
                $("#totalItems").text(getDate.totalItems);

            }
        });

        }
    </script>
    <script>
        function onStoreChnageLoad() {
           if (@userDate.UserId> 0) {
           getCartTotalDetail();
        }
      if (@userDate.UserId != 0) {
                var urlCart = '@Url.Action("GetCartDetails", "cart", new { storeId = @userDate.storeId,UserId=@userDate.UserId })';
                $('#getCartDetail').load("/cart/GetCartDetails", { storeId: 1,UserId:@userDate.UserId })
            } else {
          $('#getCartDetail').load("/cart/GetCartDetails", { storeId: 1,UserId:@userDate.UserId })

            }
//// side bar
              //$("#AjaxLoader").show();
            var url = '@Url.Action("Category", "Home")';
            $('#sidebar').load(url);

        }
        function emptyCartChange()
        {
           if (@userDate.UserId> 0) {
           getCartTotalDetail();
        }
             if (@userDate.UserId != 0) {


                var urlCart = '@Url.Action("GetCartDetails", "cart", new { storeId = @userDate.storeId,UserId=@userDate.UserId })';
                $('#getCartDetail').load("/cart/GetCartDetails", { storeId: 1,UserId:@userDate.UserId })
            } else {
                        $('#getCartDetail').load("/cart/GetCartDetails", { storeId: 1,UserId:@userDate.UserId })

            }

        }

    </script>
</body>
</html>
