﻿
<form asp-area="" asp-controller="Accounts" asp-action="Logout" method="post" id="logoutForm">


        <ul class="nav navbar-nav float-right">

            <li class="dropdown dropdown-user nav-item">
                <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span class="avatar avatar-online"><img src="~/theme/app-assets/images/portrait/small/avatar-s-1.png" alt="avatar"><i></i></span><span class="user-name"></span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item">
                        <i class="ft-user"></i>
                        <a asp-area="" asp-controller="Manage" data-toggle="dropdown" aria-expanded="false" asp-action="Index" title="Manage">Edit profile</a>
                    </li>

                    <li class="dropdown-item">
                        <button type="submit" class="btn btn-link   " style="text-decoration:none;font-size:16px;display:block"><i class="ft-power"></i>   Log out</button>
                    </li>
                </ul>
            </li>
        </ul>
    @*}
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Register &nbsp;&nbsp;</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Login">&nbsp;Log in</a></li>
        </ul>
    }*@
</form>
