﻿<!DOCTYPE html>
<html>
<head>
    <link href="~/UserTheme/img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template.">
    <meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>@ViewData["Title"] - TimeApp  </title>
    <link rel="apple-touch-icon" href="~/theme/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/theme/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CMuli:300,400,500,700" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/vendors.css">

    <link rel="stylesheet" type="text/css" href="~/theme/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/theme/app-assets/vendors/css/charts/jquery-jvectormap-2.0.3.css">
    <link rel="stylesheet" type="text/css" href="~/theme/app-assets/vendors/css/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="~/theme/app-assets/vendors/css/extensions/unslider.css">
    <link rel="stylesheet" type="text/css" href="~/theme/app-assets/vendors/css/weather-icons/climacons.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/app.css">
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/theme/app-assets/css/plugins/calendars/clndr.css">
    <link rel="stylesheet" type="text/css" href="~/theme/app-assets/fonts/meteocons/style.min.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/style.css">
    <!-- END Custom CSS-->
    <style>

        .chosen-container .chosen-results li.active-result:hover {
            background: rgb(39, 191, 162);
        }

        .chosen-container .chosen-results li.active-result {
            font-size: 14px;
        }

        .chosen-container-single .chosen-single {
            height: 45px;
            background: none;
            font-size: 20px;
            padding: 10px 0px 10px 10px;
        }

            .chosen-container-single .chosen-single:active {
                background: none;
            }

        .chose-image-small {
            width: 35px !important;
            height: 32px !important;
            vertical-align: middle !important;
            margin: -4px 0 0 0 !important;
            padding: 0 3px 0 0 !important;
        }

        .chose-image-list {
            width: 35px !important;
            height: 32px !important;
            vertical-align: middle;
            margin: -3px 0 0 0;
            padding: 0 3px 0 0;
        }
    </style>
</head>
<body class="vertical-layout vertical-menu 2-columns fixed-navbar  menu-expanded pace-done" data-open="click" data-menu="vertical-menu" data-col="2-columns">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="/Home/Index">
                            <img class="brand-logo" alt="robust admin logo" src="~/Theme//Images/Icon.png">
                            <h3 class="brand-text">Grocery Point</h3>
                        </a>
                    </li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="#"><i class="ft-menu"> </i></a></li>
                    </ul>

                    @Html.Partial("_LoginPartial")

                </div>
            </div>
        </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////////-->


    <div class="main-menu menu-fixed menu-dark menu-accordion    menu-shadow " data-scroll-to-active="true">
        <div class="main-menu-content ps-container ps-theme-light ps-active-y" data-ps-id="bb6fba06-a652-eb92-b9ec-ca65e28fd02b">
            @*<ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                    <li class="nav-item has-sub open hover">
                        <a href="index.html"><i class="icon-home"></i><span class="menu-title" data-i18n="nav.dash.main">Dashboard</span><span class="badge badge badge-info badge-pill float-right mr-2">5</span></a>

                    </li>
                    <li class="nav-item has-sub">
                        <a href="#"><i class="icon-screen-tablet"></i><span class="menu-title" data-i18n="nav.templates.main">Templates</span></a>
                        <ul class="menu-content">
                            <li class="has-sub">
                                <a class="menu-item" href="#" data-i18n="nav.templates.vert.main">Vertical</a>
                            </li>

                        </ul>
                    </li>

                </ul>*@
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

                <li class="nav-item open hover">
                    <a href="/Home/Index" style="font-size:13px; background-color:rgb(55, 165, 121);color:white!important ;"><i class="icon-home"></i><span class="menu-title" data-i18n="nav.dash.main">Dashboard</span></a>

                </li>
                <li class="nav-item has-sub">
                    <a href="#"><i class="icon-user"></i><span class="menu-title" data-i18n="nav.page_headers.main">Categories </span></a>
                    <ul class="menu-content" style="">
                        <li class="">
                            <a class="menu-item" href="/Category/Index" data-i18n="nav.page_headers.headers_breadcrumbs_basic"><i class="icon-user-follow"></i>Category List</a>
                        </li>



                    </ul>
                </li>
                <li class="nav-item has-sub" style="display:none">
                    <a href="#"><i class="icon-globe"></i><span class="menu-title" data-i18n="nav.page_headers.main">Sub Categories</span></a>
                    <ul class="menu-content" style="">
                        <li class="">
                            <a class="menu-item" href="/productUnit" data-i18n="nav.page_headers.headers_breadcrumbs_basic"><i class="icon-layers"></i> Sub Categories List</a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item has-sub">
                    <a href="#"><i class="icon-globe"></i><span class="menu-title" data-i18n="nav.page_headers.main">Manage Products</span></a>
                    <ul class="menu-content" style="">
                        <li class="">
                            <a class="menu-item" href="/Products" data-i18n="nav.page_headers.headers_breadcrumbs_basic"><i class="icon-layers"></i>Products List</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-sub">
                    <a href="#"><i class="icon-globe"></i><span class="menu-title" data-i18n="nav.page_headers.main">Store Order </span></a>
                    <ul class="menu-content" style="">
                        <li class="">
                            <a class="menu-item" href="/Order" data-i18n="nav.page_headers.headers_breadcrumbs_basic"><i class="icon-layers"></i>Order Detail </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item has-sub" style="display:none">
                    <a href="#"><i class="icon-globe"></i><span class="menu-title" data-i18n="nav.page_headers.main">User</span></a>
                    <ul class="menu-content" style="">
                        <li class="">
                            <a class="menu-item" href="#" data-i18n="nav.page_headers.headers_breadcrumbs_basic"><i class="icon-layers"></i>Orders</a>
                        </li>
                        <li class="">
                            <a class="menu-item" href="#" data-i18n="nav.page_headers.headers_breadcrumbs_basic"><i class="icon-layers"></i>My Store</a>
                        </li>
                        <li class="">
                            <a class="menu-item" href="#" data-i18n="nav.page_headers.headers_breadcrumbs_basic"><i class="icon-layers"></i>Logout</a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item has-sub">
                    <a href="#"><i class="icon-globe"></i><span class="menu-title" data-i18n="nav.page_headers.main">Product Unit </span></a>
                    <ul class="menu-content" style="">
                        <li class="">
                            <a class="menu-item" href="/productUnit" data-i18n="nav.page_headers.headers_breadcrumbs_basic"><i class="icon-layers"></i> Product Unit List</a>
                        </li>




                    </ul>
                </li>
                <li class="nav-item has-sub" style="display:none">
                    <a href="#"><i class="icon-globe"></i><span class="menu-title" data-i18n="nav.page_headers.main">System Log</span></a>
                    <ul class="menu-content" style="">
                        <li class="">
                            <a class="menu-item" href="/UserLoginDetail/Index" data-i18n="nav.page_headers.headers_breadcrumbs_basic"><i class="icon-layers"></i>Login/logout  List</a>
                        </li>

                    </ul>
                </li>

            </ul>
            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 238px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 16px;"></div></div>
        </div>
    </div>

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            @RenderBody()

        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->


    <footer class="footer footer-static footer-light navbar-border">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright  © 2020 <a class="text-bold-800 grey darken-2" href="#" target="_blank">Grocery Point</a>, All rights reserved.</span></p>
    </footer>

    <!-- BEGIN VENDOR JS-->
    <script src="~/theme/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <script src="~/theme/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/theme/app-assets/vendors/js/charts/raphael-min.js"></script>
    <script src="~/theme/app-assets/vendors/js/charts/morris.min.js"></script>
    <script src="~/theme/app-assets/vendors/js/charts/chart.min.js"></script>
    <script src="~/theme/app-assets/vendors/js/charts/jvector/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="~/theme/app-assets/vendors/js/charts/jvector/jquery-jvectormap-world-mill.js"></script>
    <script src="~/theme/app-assets/vendors/js/extensions/moment.min.js"></script>
    <script src="~/theme/app-assets/vendors/js/extensions/underscore-min.js"></script>
    <script src="~/theme/app-assets/vendors/js/extensions/clndr.min.js"></script>
    <script src="~/theme/app-assets/vendors/js/charts/echarts/echarts.js"></script>
    <script src="~/theme/app-assets/vendors/js/extensions/unslider-min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script src="~/theme/app-assets/js/core/app-menu.js"></script>
    <script src="~/theme/app-assets/js/core/app.js"></script>
    <script src="~/theme/app-assets/js/scripts/tables/datatables/datatable-basic.js"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/theme/app-assets/js/scripts/pages/dashboard-ecommerce.js"></script>
    <!-- END PAGE LEVEL JS-->

    <div class="jvectormap-tip" style="display: none; left: 527.609px; top: 834px;">Italy</div>

    @RenderSection("Scripts", required: false)
  
</body>

</html>
