﻿<!DOCTYPE html>
<html lang="en">
@using Newtonsoft.Json;
@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@using GroceryPoint.Models
@{
    var user = (Context.Session.GetString("userSession"));
    UserInfo userDate = new UserInfo();
    if (user != null)
    {
        userDate = JsonConvert.DeserializeObject<UserInfo>(user);

    }
    //UserInfo.Current= user;
}

<head>
    <meta charset="utf-8">
    <title>Grocery</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/UserTheme/images/favicon.png" rel="icon">
    <link href="~/UserTheme/images/apple.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="~/UserTheme/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/UserTheme/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    @*<link href="~/UserTheme//" rel="stylesheet">*@
    <link href="~/UserTheme/css/style.css" rel="stylesheet">
    <link href="~/UserTheme/css/custom-style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class=" navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <div class="logo">
                            <a href="/" class="scrollto"><img src="~/UserTheme/images/new-grocerypoint-logo.png" alt="Grocery" class="img-fluid"></a>
                        </div>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="btn btn-success"><a href="/stores/addstore" class="text-white">Register your store</a></li>
                    <li class="btn btn-success"><a href="/accounts/shop" class="text-white">Become a Shopper </a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- #header -->

    <section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="background-size: cover; background-image: url(/UserTheme/images/slider/3.jpg);">
        <div class="container">
            @RenderBody()
            </div>
    </section>

        <div class="how-work-section">
            <div class="container">
                <h2 class="text-center howit_works">How it works</h2>
                <h3 class="helper-text text-center">
                    It's as easy as 1,2,3!
                </h3>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="block">
                            <img class="responsive" src="~/UserTheme/images/search.png">
                        </div>
                        <div class="text-block">
                            <h2>Search</h2>
                            <p>Choose your store near you</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="block">
                            <img class="responsive" src="~/UserTheme/images/50234.png">
                        </div>
                        <div class="text-block">
                            <h2>Choose</h2>
                            <p>Select your products and add to cart </p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="block">
                            <img class="responsive" src="~/UserTheme/images/cart.png">
                        </div>
                        <div class="text-block">
                            <h2>Pay</h2>
                            <p>Checkout and the products will be delivered to your your door </p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="block">
                            <img class="responsive" src="~/UserTheme/images/mobile.png">
                        </div>
                        <div class="text-block">
                            <h2>Enjoy</h2>
                            <p>Yes it's that easy! </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--==========================
        Footer
      ============================-->
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-4 col-sm-6 col-6 footer-contact">
                            <h4>About Store</h4>
                            @*<p class="add">1234 Heaven Stress, Beverly Hill.</p>
        <p class="phone"><a href="tel:123 456 789">+123 456 789</a></p>*@
                            <p class="email"><a href="mailto:grocerypoint2020@gmail.com">grocerypoint2020@gmail.com</a></p>

                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-6 footer-links">
                            <h4>Links</h4>
                            <ul>
                                <li><a href="/">Shop</a></li>
                                @*<li><a href="#">Products</a></li>
        <li><a href="#">Grocery</a></li>*@
                                <li><a href="/page/about">About Us</a></li>
                                <li><a href="/page/Howitworks">How it works</a></li>
                                <li><a href="/page/Contact">Contact Us</a></li>
                                @*   <li><a href="#">Your Account</a></li>*@
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-6 footer-links">
                            <h4>INFORMATION</h4>
                            <ul>
                                <li><a href="/page/TermsandCondition">Terms & Conditions</a></li>
                                @*<li><a href="/home/">Shipping Policy</a></li>*@
                                @*<li><a href="#">Terms of service</a></li>*@
                                <li><a href="/page/privacy">Privacy policy</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-6 footer-links footer-last-links">
                            <div>
                                <h4>Other Links</h4>
                                <ul>
                                    <li><a href="/page/faq">Faq's</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="mt-md-5 mt-sm-3">Payments</h4>
                                <img src="/UserTheme/images/payment.png" alt="payments">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="d-flex justify-content-between">
                    <p class="copyright">&copy; Copyright 2020 <strong>Grocery Point</strong>. All Rights Reserved</p>
                    <p class="footer-icon">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </p>
                </div>

            </div>
        </footer><!-- #footer -->
        <script src="~/UserTheme/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        @RenderSection("Scripts", required: false)

</body>
</html>
