﻿@{
       Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>@ViewData["Title"]</h1>
<main id="custom-pages">
<div class="container" >
    <div class="row">
        <div class="col-sm-12">
            <div class="widget stacked faq-set widget-table action-table col-sm-12">

                <div class="widget-header">
                    <i class="icon-th-list"></i>
                    <div class="row">
                        <div class="col-sm-6">
                            <!--<span><h3>My Order</h3></span>-->
                        </div>
                    </div>
                </div> <!-- /widget-header -->
                <div class="widget-content">
                    <div class="shopper-heading">
                        <h2>About Us</h2>
                    </div>

                </div> <!-- /widget-content -->
                <div class="content about">
                    <p>
                        Grocerypoint.ca is an online grocery delivery service that gets your goods to you within 24 hours!
                    </p>
                    <p>
                        You just choose what products you need and we do the rest, yes that includes delivery too!.
                    </p>
                    <p>Shop in-store with the best pricing that the store has to offer , and have those quality products delivered anywhere, home or office. All orders are directly from the store to your door! Also stores that are in the same area can be grouped into one delivery! Cool right? </p>

                    <p> With Grocery Point you can get the products you love without the hassle of getting them, which means more time for the things you love!</p>

                </div>

            </div>
        </div> <!-- /widget -->
    </div>
-

</div>
</main>
