﻿@{
       Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>@ViewData["Title"]</h1>
<main id="custom-pages">
<div class="container" >
    <div class="row">
        <div class="col-sm-12">
            <div class="widget stacked faq-set widget-table action-table col-sm-12">

                <div class="widget-header">
                    <i class="icon-th-list"></i>
                    <div class="row">
                        <div class="col-sm-6">
                            <!--<span><h3>My Order</h3></span>-->
                        </div>
                    </div>
                </div> <!-- /widget-header -->
                <div class="widget-content">
                    <div class="shopper-heading">
                        <h2>Contact us</h2>
                    </div>

                </div> <!-- /widget-content -->
                <div class="content about">
                    @if (TempData["success"] != null)
                    {
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <strong></strong> @TempData["success"]
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-1"></div>

                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-5">
                            <p>
                                If you have any questions, please feel free to contact us at:
                            </p>
                            <p>
                                Customer Support: <a href="mailto:grocerypoint2020@gmail.com">grocerypoint2020@gmail.com</a>
                            </p>
                            <p></p>
                        </div>
                        <div class="col-sm-7">
                            @*<form class="form-horizontal" action="/page/ContactSubmit" method="post">*@
                            <form asp-controller="Page" asp-action="ContactSubmit" class="add-store" enctype="multipart/form-data">
                                <fieldset>


                                    <!-- Name input-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="name">Name</label>
                                        <div class="col-md-12">
                                            <input id="name" maxlength="100" required name="name" type="text" placeholder="Your name" class="form-control">
                                        </div>
                                    </div>

                                    <!-- Email input-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="email">Your E-mail</label>
                                        <div class="col-md-12">
                                            <input id="email" maxlength="100" required name="email" type="email" placeholder="Your email" class="form-control">
                                        </div>
                                    </div>

                                    <!-- Phone input-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="phone">Your Phone</label>
                                        <div class="col-md-12">
                                            <input id="phone" maxlength="20" required name="phone" type="tel" placeholder="Your Phone" class="form-control">
                                        </div>
                                    </div>

                                    <!-- Message body -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="message">Your message</label>
                                        <div class="col-md-12">
                                            <textarea class="form-control" required id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                                        </div>
                                    </div>

                                    <!-- Form actions -->
                                    <div class="form-group">
                                        <div class="col-md-12 text-right">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>


                </div>

            </div>
        </div> <!-- /widget -->
    </div>

</div>
</main>