﻿@{
       Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>@ViewData["Title"]</h1>
<div id="custom-pages">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget stacked faq-set widget-table action-table col-sm-12">

                    <div class="widget-header">
                        <i class="icon-th-list"></i>
                        <div class="row">
                            <div class="col-sm-6">
                                <!--<span><h3>My Order</h3></span>-->
                            </div>
                        </div>
                    </div> <!-- /widget-header -->
                    <div class="widget-content">


                    </div> <!-- /widget-content -->
                    <div class="content about">
                        <div class="how-work-section">
                            <div class="container">
                                <h2 class="text-center howit_works">How it works</h2>
                                <h3 class="helper-text text-center">
                                    It's as easy as 1,2,3!
                                </h3>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="block">
                                            <img class="responsive" src="/UserTheme/images/search.png">
                                        </div>
                                        <div class="text-block">
                                            <h2>Search</h2>
                                            <p>Choose your store near you</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="block">
                                            <img class="responsive" src="/UserTheme/images/50234.png">
                                        </div>
                                        <div class="text-block">
                                            <h2>Choose</h2>
                                            <p>Select your products and add to cart</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="block">
                                            <img class="responsive" src="/UserTheme/images/cart.png">
                                        </div>
                                        <div class="text-block">
                                            <h2>Pay</h2>
                                            <p>Checkout and the products will be delivered to your your door </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="block">
                                            <img class="responsive" src="/UserTheme/images/mobile.png">
                                        </div>
                                        <div class="text-block">
                                            <h2>Enjoy</h2>
                                            <p>Yes it's that easy! </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div> <!-- /widget -->
            </div>
        </div>
        -

    </div>
</div>