﻿@{
       Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>@ViewData["Title"]</h1>
<main id="custom-pages">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget stacked faq-set widget-table action-table col-sm-12">

                    <div class="widget-header">
                        <i class="icon-th-list"></i>
                        <div class="row">
                            <div class="col-sm-6">
                                <!--<span><h3>My Order</h3></span>-->
                            </div>
                        </div>
                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="shopper-heading">
                            <h2>Privacy Policy</h2>
                        </div>

                    </div> <!-- /widget-content -->
                    <div class="content faq">
                        <h3 class="text-center bg-orange">PRIVACY POLICY</h3>
                        <p>
                            <label class="stron-font">
                                Collection of your Personal Information:
                            </label>
                            The data we process & collect includes
                        </p>
                        <p>Your IP address</p>
                        <p>
                            Your full name
                        </p>
                        <p>
                            Your email address
                        </p>
                        <p>Your postal code</p>
                        <p>Proof of identity such as a signature</p>
                        <p>
                            <label class="stron-font">
                                Further data may be collected if you choose to share it, such as if you fill out fields on your profile or make a purchase. We collect some or all of this information in the following cases:
                            </label>
                            You register on this site
                        </p>
                        <p>
                            You fill out our contact form
                        </p>
                        <p>You browse this site. See "Cookie policy" below</p>
                        <p>
                            You fill out fields on your profile
                        </p>
                        <p>
                            You place an order
                        </p>
                        <p>
                            <label class="stron-font">We collect additional data when you place your order:</label>

                            Your phone – to contact you regarding your order and/or payment details
                        </p>
                        <p>Your home or business address, location – to complete the purchase transaction</p>
                        <p>We might ask your birthdate and/or Government issued ID to verify your identity &  insure its really you who placed an order</p>
                        <p>Your billing, Credit/Debit Card information to complete the purchase transaction. This data is being passed to the payment processor directly and we DO NOT store any sensitive credit/debit card data on our platform. </p>

                        <p>
                            <label class="stron-font">Use of your Personal Information:</label>

                            Grocery Point collects and uses your personal information for the purposes described in this Policy or elsewhere on the Site. For example, Grocery Point may use personal information it collects to:
                        </p>
                        <p>Respond to your communications and requests, provide customer service, request feedback, and otherwise contact you about your use of Grocery Point;</p>
                        <p>Inform you of other products or services available from Grocery Point and its affiliates and to otherwise provide you with news and information about events, activities, offers, promotions, products, and services we think will be of interest to you;</p>
                        <p>
                            Monitor and analyze Site usage and trends and to keep track of the websites, pages and activities of our users visit within Grocery Point, in order to determine what Grocery Point services are the most popular in order to deliver customized content and advertising within Grocery Point.
                        </p>
                        <p>
                            <label class="stron-font">Sharing of Your Personal Information:</label>

                            Grocery Point collects and/or uses your personal information for the purposes described in this Policy or elsewhere on the Site. Grocery Point may use personal information it collects to:
                        </p>
                        <p>Making you a registered member of our site</p>
                        <p>Provide you a store list available in your location</p>
                        <p>
                            Process and deliver your order
                        </p>
                        <p>we may use your email address to inform you of activity on our site</p>
                        <p>Respond to your communications and requests, provide customer service, request feedback, and otherwise contact you about your use of Grocery Point;</p>
                        <p>
                            Monitor and analyze Site usage and trends and to keep track of the websites, pages and activities of our users visit within Grocery Point, in order to determine what Grocery Point services are the most popular in order to deliver customized content and advertising within Grocery Point.
                        </p>
                        <p>Your IP address, browser and operational system information is recorded when you perform certain actions on our site. Your IP address is never publicly visible.</p>
                        <p>In addition to notifying you of activity on our site which may be relevant to you, from time to time we may wish to communicate with you any important information such as newsletters or announcements by email, inform you of other products or services available from Grocery Point and its affiliates and to otherwise provide you with news and information about events, activities, offers, promotions, products, and services we think will be of interest to you. You can opt-out of such emails (see "Opt-Out / Unsubscribe " below).</p>

                        <p>
                            <label class="stron-font">
                                Social Sharing:
                            </label>

                            The Site may offer social sharing features and other integrated tools (such as the Facebook "Like" button), which let you share actions you take on our Site with other media, and vice versa. The use of such features enables the sharing of information with your friends or the public, depending on the settings you establish with the entity that provides the social sharing feature. For more information about the purpose and scope of data collection and processing in connection with social sharing features, please visit the privacy policies of the entities that provide these features.
                        </p>
                        <p>
                            <label class="stron-font">
                                Cookie Policy:
                            </label>

                            The Grocery Point website uses "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
                        </p>
                        <p>
                            One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize Grocery Point pages, or register with Grocery Point site or services, a cookie helps Grocery Point to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same Grocery Point website, the information you previously provided can be retrieved, so you can easily use the Grocery Point features that you customized.
                        </p>
                        <p>
                            <label class="stron-font">Security of your Personal Information:</label>

                            It is our number one priority to ensure that any information you provide to us is secure. Grocery Point takes industry leading measures to protect your personal information from unauthorized access, use or disclosure.
                        </p>
                        <p>
                            <label class="stron-font">Credit/Debit Cards: </label>

                            Customers have the option to store credit card information for quicker checkouts. Customers have the choice to add or remove credit cards. Grocery Point does not store  or host any sensitive credit card data.
                        </p>
                        <p>
                            <label class="stron-font">Opt-Out / Unsubscribe:</label>

                            Users may unsubscribe from promotional materials by contacting support at <a href="mailto:support@grocerypoint.ca">support@grocerypoint.ca</a>
                        </p>
                        <p>
                            <label class="stron-font">Rights: </label>

                            You have a right to access the personal data we hold about you or obtain a copy of it. You also have the right to get your personal data removed To do so please contact us at <a href="support@grocerypoint.ca">
                                support@grocerypoint.ca
                            </a>
                        </p>
                        <p>
                            <label class="stron-font">
                                Acceptance of this policy:
                            </label>
                            Use of this site signifies you agree with our privacy policy & our terms and conditions. If you do not agree to these terms please do not use the site. You will be prompted at registration to agree to our privacy policy and terms and conditions.
                        </p>
                        <p>
                            <label class="stron-font">
                                Changes to this policy:
                            </label>
                            We reserve the right to change or update this policy at any time. If changes are made you must accept the updated changes.
                        </p>
                    </div>

                </div>
            </div> <!-- /widget -->
        </div>

    </div>
</main>