﻿@{
       Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>@ViewData["Title"]</h1>
<main id="custom-pages">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget stacked faq-set widget-table action-table col-sm-12">

                    <div class="widget-header">
                        <i class="icon-th-list"></i>
                        <div class="row">
                            <div class="col-sm-6">
                                <!--<span><h3>My Order</h3></span>-->
                            </div>
                        </div>
                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="shopper-heading">
                            <h2>Terms and Conditions</h2>
                        </div>

                    </div> <!-- /widget-content -->
                    <div class="content about">
                        <h3 class="text-center bg-orange">TERMS & CONDITIONS </h3>
                        <p>
                            <strong> Release:</strong> YOU AGREE THAT NEITHER Grocery Point NOR ITS AFFILIATES OR LICENSORS IS RESPONSIBLE FOR THE FITNESS OR CONDUCT OF ANY PERSONAL SHOPPER OR FOR ANY PERSONAL SHOPPER SERVICES. NEITHER Grocery Point NOR ITS AFFILIATES OR LICENSORS WILL BE LIABLE FOR ANY CLAIM, INJURY OR DAMAGE ARISING IN CONNECTION WITH THE ACTS OR OMISSIONS OF ANY PERSONAL SHOPPER. IN THE EVENT YOU HAVE A DISPUTE WITH ONE OR MORE PERSONAL SHOPPERS, YOU HEREBY RELEASE Grocery Point AND ITS OFFICERS, DIRECTORS, EMPLOYEES, SUBSIDIARIES, AFFILIATES, AGENTS AND REPRESENTATIVES FROM ANY AND ALL CLAIMS, LIABILITIES, COSTS, INCLUDING WITHOUT LIMITATION ATTORNEY'S FEES, LOSS OR DAMAGE OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH SUCH DISPUTES. FURTHERMORE Grocery Point IS NOT RESPONSIBLE FOR THE QUALITY OF PRODUCTS, THE QUALITY OF PRODUCTS IS THE SOLE RESPONSIBILITY OF THE STORE FROM WHICH IT IS PURCHASED.
                        </p>
                        <p>
                            <strong> Use of Material:</strong>  Except as otherwise provided herein, all rights to all materials, content, layout, images, text, design (and any underlying software and computer codes) of this Website are proprietary to Grocery Point and its affiliates. Users of this Website or of the Grocery Point Support ("you" or "User(s)") may browse the Website and may download material displayed on the Website for non-commercial, lawful, personal use only, provided all copyright and other proprietary notices contained on the material so downloaded are retained and such information is not modified, copied or posted on any networked computer or broadcast in any media. All other copying, reproduction, posting on any other website, republication, downloading, uploading, encoding, modification, translation, public performance or display, distribution or transmission of any portion of this Website, or the making of any derivative works from this Website, is prohibited.
                        </p>
                        <p>
                            <strong> User Account:</strong>   You are the sole authorized User of any account you create with Grocery Point. You are responsible for maintaining the confidentiality of any password or account number provided by you or Grocery Point for accessing the Website or Support. You are solely and fully responsible for all activities that occur under your password or account. Grocery Point has no control over the use of any User's account and expressly disclaims any liability derived therefrom. Should you suspect that any unauthorized party may be using your password or account, you will notify Grocery Point immediately. By signing up to this website, and or using it's services, you understand and agree to the fact that from time to time you may receive promotional emails, order email confirmations, and other types of email communication. You may opt-out of receiving text messages from us by emailing support@grocerypoint.ca If you provide your cell phone number to Grocery Point pursuant to the use of the Services, you hereby affirmatively consent to our use of your cell phone number for calls and texts in order to perform the Services.
                        </p>
                        <p>
                            <strong> Disclaimer:</strong>    USE OF THE SUPPORT AND WEBSITE IS ENTIRELY AT YOUR OWN RISK. CHANGES ARE PERIODICALLY MADE TO THE WEBSITE AND MAY BE MADE AT ANY TIME WITHOUT NOTICE TO YOU. THE SUPPORT IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. Grocery Point MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE CONTENT PROVIDED THROUGH THE SUPPORT OR THE CONTENT OF ANY WEBSITES LINKED TO THE Grocery Point WEBSITE. Grocery Point ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT; (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE Grocery Point WEBSITE OR THE SUPPORT; (III) ANY UNAUTHORIZED ACCESS TO OR USE OF Grocery Point’s SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN.
                        </p>
                        <p>
                            Grocery Point DOES NOT WARRANT THAT THE WEBSITE WILL OPERATE ERROR-FREE OR THAT THE WEBSITE AND ITS SERVER ARE FREE OF COMPUTER VIRUSES AND OTHER HARMFUL GOODS. IF YOUR USE OF THE WEBSITE RESULTS IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA, Grocery Point SHALL NOT BE RESPONSIBLE FOR THOSE COSTS. Grocery Point, TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE WARRANTY OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTY RIGHTS AND THE WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE. Grocery Point MAKES NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS OR TIMELINESS OF THE CONTENT, SERVICES, SUPPORT, SOFTWARE, TEXT, GRAPHICS OR LINKS. Grocery Point AND ITS AFFILIATES AND LICENSORS CANNOT AND DO NOT GUARANTEE THAT ANY PERSONAL INFORMATION SUPPLIED BY YOU WILL NOT BE MISAPPROPRIATED, INTERCEPTED, DELETED, DESTROYED OR USED BY OTHERS.
                        </p>
                        <p>
                            <strong> Limitation of Liability:</strong> YOU AGREE THAT Grocery Point SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES ARISING OUT OF OR IN CONNECTION WITH (I) YOUR USE OF THE SUPPORT; (II) THE LIABILITY OR FITNESS OF ANY PERSONAL SHOPPER OR PERSONAL SHOPPER SERVICES; OR (III) IN CONNECTION WITH THE PERFORMANCE OF OR BROWSING IN THE WEBSITE OR YOUR LINKS TO OTHER WEBSITES FROM THIS WEBSITE, EVEN IF Grocery Point HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU FURTHER AGREE THAT Grocery Point SHALL NOT BE LIABLE FOR ANY DAMAGES ARISING FROM INTERRUPTION, SUSPENSION OR TERMINATION OF SERVICES, INCLUDING WITHOUT LIMITATION ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, WHETHER SUCH INTERRUPTION, SUSPENSION OR TERMINATION WAS JUSTIFIED OR NOT, NEGLIGENT OR INTENTIONAL, INADVERTENT OR ADVERTENT. IN NO EVENT SHALL Grocery Point'S TOTAL LIABILITY TO YOU FOR ANY LOSSES ARISING HEREUNDER EXCEED THE AMOUNTS PAID BY YOU TO Grocery Point HEREUNDER.
                        </p>
                        <p>
                            <strong>Indemnity:</strong> You agree to defend, indemnify and hold harmless Grocery Point and its officers, directors, employees, agents and affiliates (each, an "Indemnified Party"), from and against any losses, claims, actions, costs, damages, penalties, fines and expenses, including without limitation attorneys' fees and expenses, that may be incurred by an Indemnified Party arising out of, relating to or resulting from your unauthorized use of the Website or from any breach by you of these Terms and Conditions, including without limitation any actual or alleged violation of any federal, state or local statute, ordinance, administrative order, rule or regulation. Grocery Point shall provide notice to you promptly of any such claim, suit or proceeding and shall have the right to control the defense of such action, at your expense, in defending any such claim, suit or proceeding.
                        </p>
                        <p>
                            <strong>Termination:</strong>  At its sole discretion, Grocery Point may modify or discontinue the Website, or may modify, suspend or terminate your access to the Website or the Support, for any reason, with or without notice to you and without liability to you or any third party. In addition to suspending or terminating your access to the Website or the Support, Grocery Point reserves the right to take appropriate legal action, including without limitation pursuing civil, criminal or injunctive redress. Even after your right to use the Support or Website is terminated, this Agreement will remain enforceable against you. You may terminate this Agreement at any time by ceasing all use of the
                        </p>
                        <p>
                           <strong> Support or Website.</strong> All provisions which by their nature should survive to give effect to those provisions shall survive the termination of this Agreement.
                        </p>
                        <p>
                            <strong>Governing Law:</strong> This Agreement is governed by the laws of the Province of British Columbia, without regards to its conflict of laws principles. If any provision of this Agreement is found to be invalid in any court having competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of this Agreement, which shall remain in full force and effect. Any offer for any product, feature, service or application made on this Website is void where prohibited.
                        </p>

                    </div>

                </div>
            </div> <!-- /widget -->
        </div>

    </div>
</main>