﻿@model GroceryPoint.Models.Category

@{
    ViewData["Title"] = "Category Create";
}
<section id="basic-form-layouts">
    <div class="row match-height">
        <div class="col-md-12">
            <div class="card" style="height: 381.5px;">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-form">Edit Category</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <form asp-action="Edit" method="post" class="form">
                            <input type="hidden" asp-for="categoryId" />

                            <div class="row">
                                <div class="col-md-0"></div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"> Category Name </label>
                                        <input required asp-for="categoryName" name="categoryName" placeholder="Category name.." class="form-control" />
                                        @*<span asp-validation-for="categoryName" class="text-danger"></span>*@

                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-0"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="submit" value="Submit" class="btn btn-success" />
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <script>
        $(function(){
            $("#categoryName").prop('required',true);
        });

    </script>

</section>



