﻿
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="http://demos.codexworld.com/add-timepicker-to-input-field-jquery-plugin/jquery-timepicker/jquery.timepicker.min.css">

<div id="address-form">
    <div class="container">
        <div class="stepwizard form-setup1">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step1">
                    <a href="#VerifyEmail-step" type="button" class="btn btn-primary btn-circle">
                        <span class="fa fa-car"></span>
                    </a>
                    <p>Delivery</p>
                </div>
                <div class="stepwizard-step2">
                    <a href="#ProfileSetup-step" type="button" class="btn btn-success btn-circle" id="ProfileSetup-step-2" disabled="disabled">
                        <span class="fa fa-credit-card"></span>
                    </a>
                    <p>Payment</p>
                </div>
            </div>
        </div>

        <div class="row setup-content" id="VerifyEmail-step" style="display: flex;">
            <div class="form-setup">
                <div class="col-md-12">
                    <br>
                    <div class="form-horizontal">
                        <form>
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class=" control-label" for="card-holder-name">Address</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">

                                        <div class="address-type">
                                            <span class="radio-section">
                                                <input name="usercnfAddress" value="1" type="radio" checked="checked">
                                            </span>
                                            <span class="bold">
                                                Home
                                            </span>
                                            <span class="ad-detail">
                                                25 Dockside Drive, Apt# 123, M5A 1B6
                                            </span>
                                        </div>
                                        <hr>
                                        <p>Or you can:</p>
                                        <div class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">Add New Delivery Address</div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class=" control-label" for="card-holder-name">Phone</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <input maxlength="100" type="phone" class="form-control" placeholder="Enter Phone No">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class=" control-label" for="card-holder-name">Order instructions</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" placeholder="Call when arrive">                              </textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class=" control-label" for="card-holder-name">Costco</label>
                                            <div class="help-text">
                                                Vancouver
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div id="accordion" role="tablist">
                                            <div class="">
                                                <div class="card-header" role="tab" id="headingOne">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            12 Items - Review &amp; Manage Substitutes
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <div class="product-details">
                                                            <table class="">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="images">
                                                                        </td>
                                                                        <td>
                                                                            Kirkland Signature Chicken Butter ~1.5KG<br>
                                                                            <span class="qunt">1 Each</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="product-notes">
                                                                <div class="editNotes">
                                                                    <i class="fa fa-pencil"></i>
                                                                    <span class="note-add">
                                                                        Add Notes
                                                                    </span>
                                                                </div>
                                                                <div class="pull-right helper-data">
                                                                    <span class="mr5">
                                                                        <i class="fa fa-refresh mr5"></i> Substitutes:
                                                                    </span>
                                                                    <div class="allow">
                                                                        <label>
                                                                            <input type="radio" name="allow" class="">Allowed
                                                                        </label>
                                                                        <label>
                                                                            <input type="radio" name="not allow" class="">Not Allowed
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class=" control-label" for="card-holder-name">Delivery date</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select id="date-range" class="form-control">
                                                    <option value="2020-04-24T15:46:22.789Z">24 Apr 2020</option>
                                                    <option value="2020-04-25T15:46:22.790Z">25 Apr 2020</option>
                                                    <option value="2020-04-26T15:46:22.790Z">26 Apr 2020</option>
                                                    <option value="2020-04-27T15:46:22.790Z">27 Apr 2020</option>
                                                    <option value="2020-04-28T15:46:22.790Z">28 Apr 2020</option>
                                                    <option value="2020-04-29T15:46:22.790Z">29 Apr 2020</option>
                                                    <option value="2020-04-30T15:46:22.791Z">30 Apr 2020</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="time">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <button class="btn btn-success nextBtn btn-lg pull-right">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row setup-content form-setup2" id="ProfileSetup-step" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ">
                    <label>Payment Method</label>
                    <label>Please enter your Credit Card or Debit Card </label>
                </div>
                <div class="col-xs-12 col-md-6 border">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Payment Details
                            </h3>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="cardNumber">
                                        CARD NUMBER
                                    </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number" required="" autofocus="">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-md-7">
                                        <div class="form-group cardMaster">
                                            <label for="expityMonth">
                                                EXPIRY DATE
                                            </label>
                                            <div class="col-xs-6 col-lg-6 pl-ziro">
                                                <input type="text" class="form-control" id="expityMonth" placeholder="MM" required="">
                                            </div>
                                            <div class="col-xs-6 col-lg-6 pl-ziro">
                                                <input type="text" class="form-control" id="expityYear" placeholder="YY" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 col-md-5 pull-right">
                                        <div class="form-group">
                                            <label for="cvCode">
                                                CV CODE
                                            </label>
                                            <input type="password" class="form-control" id="cvCode" placeholder="CV" required="">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mr10">
                <div class="offset-md-4 col-md-6 ">
                    <div class="form-group">
                        <label>Billing Name</label>
                        <input type="text" name="cardholdername" class="form-control" placeholder="Name on Card. e.g: Budhi Kapoor">
                    </div>
                    <div class="form-group">
                        <label>Billing Street Number and Name</label>
                        <input type="text" name="streetAddress" class="form-control" placeholder="Street Number and Name">
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Billing Street Number and Name</label>
                                <input type="text" name="streetAddress" class="form-control" placeholder="Street Number and Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Billing Street Number and Name</label>
                                <input type="text" name="streetAddress" class="form-control" placeholder="Street Number and Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="chiller_cb">
                            <input id="myCheckbox" type="checkbox">
                            <label for="myCheckbox">Save payment data for faste checkout</label>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-lg-4">
                    <p>Have a Coupon or CAA Membership?</p>
                </div>
                <div class="col-sm-6">
                    <p>You can enter your valid CAA Membership number below and get a discount <span><a href="#">Learn More</a></span></p>

                    <input type="text" name="membership" class="form-control" placeholder="Coupon Code / CAA Card Number">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <span>Tip</span>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-6">
                    <label>A great way to say thank you to your amazing shopper!</label>
                    <div class="form-check-inline">

                        <label class="customradio">
                            <span class="radiotextsty">$5</span>
                            <input type="radio" checked="checked" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <label class="customradio">
                            <span class="radiotextsty">$10</span>
                            <input type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <label class="customradio">
                            <span class="radiotextsty">$15</span>
                            <input type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <label class="customradio">
                            <span class="radiotextsty">$20</span>
                            <input type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <label class="customradio">
                            <span class="radiotextsty">$30</span>
                            <input type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <label class="customradio">
                            <span class="radiotextsty">$50</span>
                            <input type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>

                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <label>Subtotal</label>
                </div>
                <div class="col-lg-4">
                    <ul class="product-total">
                        <li>Products</li>
                        <li>Products GST</li>
                        <li>Picking Package &amp; Delivery Fee</li>
                        <li>Picking Package &amp; Delivery GST</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="product-total">
                        <li>$576.77 CAD</li>
                        <li>$13.97 CAD</li>
                        <li>$19.98 CAD</li>
                        <li>$2.60 CAD</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Total</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>$618.32 CAD</label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group text-set">
                <p>By submiting an order you confirm that you have read our <a href="#">FAQ</a> and agree to our <a href="#">Terms and Conditions</a></p>
                <p>Price are approximate in-store pricing at the time of purchase. Price may differ as per any in-store.</p>
            </div>

        </div>
    </div>


</div>
@*//  modal*@
<div class="container">
    <div id="myModal" class="modal fade" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">New Delivery Address</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-3">
                            Address type
                        </div>
                        <div class="col-sm-9">
                            <label>
                                <input type="radio" name="residential"> Residential
                            </label>
                            <label>
                                <input type="radio" name="Business"> Business
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            Label
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="label" placeholder="eg. Home or Residential">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            Postal Code
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="label" placeholder="eg. M3H 5T5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            Street Address
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="label" placeholder="eg. 5050 Dufferin">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            Address Notes
                        </div>
                        <div class="col-sm-9">
                            <textarea name="address-note" maxlength="255" class="form-control adnote" placeholder="e.g. Your doorbell code / other instructions" spellcheck="false"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://demos.codexworld.com/add-timepicker-to-input-field-jquery-plugin/jquery-timepicker/jquery.timepicker.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);
            if (!$item.hasClass('disabled')) {
                //navListItems.removeClass('btn-primary').addClass('btn-default');
                if ($item.attr('id') != $(navListItems[1]).attr('id')) {
                    $(navListItems[1]).removeClass('btn-primary').addClass('btn-success');
                }
                //$('#item3').addClass('btn-success');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url'], input[type='password'], input[type='email']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');
    });
</script>
<script type="text/javascript">
    var dateRange = document.getElementById('date-range'),
        monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    for (var day = 0; day < 7; day++) {
        var date = new Date();
        date.setDate(date.getDate() + day);
        dateRange.options[dateRange.options.length] = new Option([date.getDate(), monthNames[date.getMonth()], date.getFullYear()].join(' '), date.toISOString());
    }

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#time').timepicker({
            timeFormat: 'h:mm p',
            interval: 15,
            minTime: '10',
            maxTime: '6:00pm',
            startTime: '10:00',
            defaultTime: '11'
        });
    });
</script>

<script>
    $("#AddresPartial").loa
</script>