﻿
@{
    ViewData["Title"] = "Email Verification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
      <br />
      <div style="min-height:300px;text-align:center;">
          @if (TempData["Message"] != null)
          {
              <span style="color:red;text-align:center;font-size:28px;">@TempData["Message"].ToString()</span>
              <br /> <br /> <br />
              <span style="font-size:28px;">Please <a href="/accounts/login">Login</a></span>
          }
      </div>