﻿@model GroceryPoint.Models.City
@{
    ViewData["Title"] = "GetStart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
    <div class="row  justify-content-center align-items-center d-flex text-center h-100 white-box">
        <div class="col-md-11  h-50 ">
            <div class="text-light">
                <div class="logo box-logo">
                    <img class="text-center" src="~/UserTheme/images/new-grocerypoint-logo.png">
                </div>
            </div>
           
            <form asp-action="GetStart" class="">
                <div class="">
                    <div class="">
                        <div class="">
                         
                            @Html.DropDownList("CityId", ViewBag.CityId as SelectList, "-- Select City--", new { @required = "required", @class = "form-control search-slt", @id = "exampleFormControlSelect1" })
                            <input type="hidden" name="CityName" value="" id="CityName" />
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-green">GET STARTED</button>
                                @*<button type="submit" class="btn btn-success wrn-btn">Get Started</button>*@
                            </div>
                            <div class="form-group login-help">
                                <p class="text-center">Already have an account? <a href="/accounts/login">Log in</a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
           

        </div>
       
    </div>

@section scripts{

    <script>
        $('#exampleFormControlSelect1').change(function(){
            var selected = $(this).children("option:selected").text();
            $("#CityName").text(selected);
            $("#CityName").val(selected);
    });
    </script>
}

