﻿@model GroceryPoint.Models.UserInfo
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
    <div class="row  justify-content-center align-items-center d-flex text-center h-100 white-box">
        <div class="col-md-11  h-50 ">
            <div class="text-light">
                <div class="logo box-logo">
                    <img class="text-center" src="~/UserTheme/images/new-grocerypoint-logo.png">
                </div>
            </div>
            <h2 class="heading-one">Welcome back</h2>
            <h2 class="small-text">Log in with your email and password</h2>
            @if (@ViewBag.error != null)
            {
                <p style="color:red;font-weight:bold;">Login Failed!</p> <br />
            }
            <form asp-action="Login">
                <div class="form-group">
                    <input type="email" required="required" max="100" name="UserName" placeholder="Enter email " class="form-control">
                </div>
                <div class="form-group">
                    <input required="required" type="password" max="20" name="Password" placeholder="Password (min 6 character)" class="form-control">
                </div>

                <div class="form-group">
                    <button class="btn btn-success btn-green" type="submit">Login</button>
                </div>

            </form>
           

        </div>
        <div class="row p-20">
            <div class="login-help col-lg-12">
                <p class="text-center">Don't have an account? <a href="/accounts/getstart">Sign up</a></p>
            </div>
            <div class="login-help col-lg-12">
                <p class="text-account">Forgot your password? <a href="#">Reset it</a></p>
            </div>
        </div>
    </div>
@*<div class="container">
    <section class="search-sec">
        <div class="container">
         
                <div class="row">
                    <div class="offset-md-2 col-lg-8">
                        <div class="row">
                            <div class="logo box-logo">
                                <img class="text-center" src="~/UserTheme/images/new-grocerypoint-logo.png">
                            </div>
                            <h1>
                                Welcome back
                            </h1>
                            <h2>Log in with your email and password</h2>
                            <br />
                          
                            <form asp-action="Login">
                                <div class="form-group">
                                    <input type="email" required="required" max="100" name="UserName" placeholder="Enter email " class="form-control">
                                </div>
                                <div class="form-group">
                                    <input required="required" type="password" max="20" name="Password" placeholder="Password (min 6 character)" class="form-control">
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-success btn-green" type="submit">Login</button>
                                </div>

                            </form>


                            <div class="login-help">
                                <p class="text-center">Don't have an account? <a href="/accounts/register">Sign up</a></p>
                            </div>
                            <div class="login-help">
                                <p class="text-center">Forgot your password? <a href="#">Reset it</a></p>
                            </div>
                        </div>
                    </div>
            
        </div>
            </div>
    </section>
</div>*@
@*<section class="container page-content" style="padding: 0px 13px 0;">
        <div class="register-form login-blk">
            <form asp-action="Login">
                <h2>Login</h2>
                <div class="form-field">
                    <label class=""><span class=""></span>Email Address</label>
                    <input type="text"  required name="UserName">
                    <span asp-validation-for="UserName"  class="text-danger"></span>
                </div>
                <div class="form-field">
                    <label><span class=""></span>Password</label>
                    <input type="text" required name="pass">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <input type="submit" name="" value="Login" class="register-btn">&nbsp;
                    <a href="#" class="forgot-link">Forgotten your password?</a>
                </div>
            </form>
            <hr />
            <p class="para-txt">Don't have an account? <a href="/accounts/register">Sign up now</a></p>
        </div>
    </section>*@