﻿@model GroceryPoint.Models.UserInfo

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
    <div class="row  justify-content-center align-items-center d-flex text-center h-100 white-box">
        <div class="col-md-11  h-50 ">
            <div class="text-light">
                <div class="logo box-logo">
                    <img class="text-center" src="~/UserTheme/images/new-grocerypoint-logo.png">
                </div>
            </div>
           
            <form asp-action="Register" class="register-Form">
                <div class="">
                    <div class="">
                        <div class="">
                         
                            <h1 class="singup">
                                Yes, we deliver in @ViewBag.CityName!
                            </h1>
                          
                            <!--<h2>Log in with your email and password</h2>-->

                            <div class="form-group">
                                <input type="text" required max="100" name="FirstName" placeholder="First Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" required max="100" name="LastName" placeholder="Last Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="email" required max="100" name="UserName" placeholder="Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" required max="20" name="Password" id="Password" placeholder="Password (min 6 character)" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" required max="20" name="RepPassword" id="RepPassword" placeholder="Confirm Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" id="phone" max="10" required name="Telephone" placeholder="Phone" class="form-control">
                            </div>
                            <div class="form-group">
                                @Html.DropDownList("campaignID", ViewBag.campaignID as SelectList, "-- How do you hear about us?--", new { @required = "required", @class = "form-control search-slt" })

                                @*<input type="text" id="phone" name="Telephone" placeholder="Phone" class="form-control">*@
                            </div>

                            <div class="form-group">
                                <button class="btn btn-success btn-green" type="submit">Continue</button>
                            </div>
                            @*<div class="form-group login-help">
                        <div class="or-box">
                            <span class="or">OR</span>
                            <div class="form-group">
                                <button class="btn btn-success btn-green"><i class="fa fa-facebook-f"></i> &nbsp; facebook</button>
                                <button class="btn btn-success btn-green"><i class="fa fa-google"></i> &nbsp; facebook</button>
                            </div>

                        </div>

                    </div>*@
                            <div class="login-help">
                                <p class="text-center">Already have an account? <a href="/accounts/login">Login</a></p>
                            </div>
                            <div class="login-help">
                                <p class="text-center">Forgot your password? <a href="#">Reset it</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
           

        </div>
        @*<div class="row p-20">
            <div class="login-help col-lg-12">
                <p class="text-account">Don't have an account? <a href="#">Sign up</a></p>
            </div>
            <div class="login-help col-lg-12">
                <p class="text-account">Forgot your password? <a href="#">Reset it</a></p>
            </div>
        </div>*@
    </div>



@*<div class="register-form">
        <h2>Create an Account</h2>

        <form asp-action="Register" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-field col-md-6">
                <label>First Name<span class="red">*</span></label>
                <input type="text" required name="FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>
            <div class="form-field col-md-6">
                <label>Last Name<span class="red">*</span></label>
                <input type="text" name="LastName" required>
                <span asp-validation-for="LastName" class="text-danger"></span>

            </div>
            <div class="form-field col-md-6">
                <label>Email Address<span class="red">*</span></label>
                <input type="text" name="UserName" required>
                <span asp-validation-for="UserName" class="text-danger"></span>

            </div>

            <div class="form-field col-md-6">
                <label>Telephone<span class="red">*</span></label>
                <input id="phone" type="text" name="Telephone" required>
                <span asp-validation-for="Telephone" class="text-danger"></span>

            </div>
            <div class="form-field col-md-6">
                <label>Password<span class="red">*</span></label>
                <input id="phone" type="text" name="Password" required>
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>
            <div class="form-field col-md-6">
            </div>
            <div class="form-field col-md-6">
                <label>Provinces <span class="red">*</span></label>
                @Html.DropDownList("provinceID", ViewBag.provinceID as SelectList, "-- Select Province--", new { @class = "form-control" })

                <span asp-validation-for="provinceID" class="text-danger"></span>

            </div>
            <div class="form-field col-md-6">
                <label>City<span class="red">*</span></label>
                @Html.DropDownList("CityId", new SelectList(""), "--Select City--", new { @class = "form-control" })

                <span asp-validation-for="CityId" class="text-danger"></span>

            </div>
            <div class="form-field col-md-12">
                <input type="submit" name="" value="Register" class="register-btn">
            </div>


        </form>

        <p class="para-txt">Already registeer with Grocery? <a href="/accounts/login">Login now</a></p>
    </div>*@
@section scripts{
}
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
<script>
    $("#provinceID").change(function () {

        var Id = $(this).val();
        $.ajax({

            type: "Get",
            url: "/Accounts/GetCity?id=" + Id,
            contentType: "html",
            success: function (response) {
                $("#CityId").empty();
                $("#CityId").append(response);

            }

        })

    })
    $("#phone").inputmask({ "mask": "(999) 999-9999" });
</script>
<script>
    var password = document.getElementById("Password")
  , confirm_password = document.getElementById("RepPassword");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>

