﻿
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row  ">
    <div class="col-md-12  h-50 ">
        <div class="widget stacked widget-table action-table col-sm-12">

            <div class="widget-header">
                <i class="icon-th-list"></i>
                <div class="row">
                    <div class="col-sm-6">
                        <!--<span><h3>My Order</h3></span>-->
                    </div>
                </div>
            </div> <!-- /widget-header -->
            <div class="widget-content">
                <form id="shopForm" role="form" action="javascript:;">
                    <h2>Basic Information</h2>
                    <hr />
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" required name="firstName" id="firstName" class="form-control input-lg" placeholder="First Name" tabindex="1">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" required name="lastName" id="lastName" class="form-control input-lg" placeholder="Last Name" tabindex="2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 ">
                            <div class="form-group">
                                <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                                    <input required class="form-control" type="text" id="dateOfBirth" name="dateOfBirth" readonly />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.DropDownList("provinceID", ViewBag.provinceID as SelectList, "-- Select Province--", new { @required = "required", @class = "form-control ", @id = "provinceID", @name = "provinceID" })

                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.DropDownList("cityID", ViewBag.cityID as SelectList, "-- Select City--", new { @required = "required", @class = "form-control", @id = "cityID", @name = "cityID" })

                            </div>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input required type="text" name="postalCode" id="postalCode" class="form-control input-lg" placeholder="Postal Code" tabindex="4">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input required type="text" name="phone" id="phone" class="form-control input-lg" placeholder="Phone" tabindex="4">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 workinformation">
                            <h2>Work Information</h2>
                        </div>
                        <div class="col-sm-12 available-time">
                            <h3>What days are you available to shop?</h3>
                        </div>
                    </div>
                    <div class="row table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <span><input type="checkbox" id="sunday" class="check-date"> &nbsp;Sunday</span>
                                    </th>
                                    <th>
                                        <span><input type="checkbox" id="monday" class="check-date"> &nbsp;Monday</span>
                                    </th>
                                    <th>
                                        <span><input type="checkbox" id="tuesday" class="check-date"> &nbsp;Tuesday</span>
                                    </th>
                                    <th>
                                        <span><input type="checkbox" id="wednesday" class="check-date"> &nbsp;Wednesday</span>
                                    </th>
                                    <th>
                                        <span><input type="checkbox" id="thursday" class="check-date"> &nbsp;Thursday</span>
                                    </th>
                                    <th>
                                        <span><input type="checkbox" id="friday" class="check-date"> &nbsp;Friday</span>
                                    </th>
                                    <th>
                                        <span><input type="checkbox" id="saturday" class="check-date"> &nbsp;Saturday</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" id="isSundayMorning" name="isSundayMorning"> &nbsp; Morning</span>
                                            <div>8:30AM - 1PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input id="isMondayMorning" type="checkbox"  name="isMondayMorning"> &nbsp; Morning</span>
                                            <div>9AM - 1PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isTuesdayMorning" id="isTuesdayMorning"> &nbsp; Morning</span>
                                            <div>9AM - 1PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isWednesdayMorning" id="isWednesdayMorning"> &nbsp; Morning</span>
                                            <div>9AM - 1PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isThursdayMorning" id="isThursdayMorning"> &nbsp; Morning</span>
                                            <div>9AM - 1PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isFridayMorning" id="isFridayMorning"> &nbsp; Morning</span>
                                            <div>9AM - 1PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isSaturdayMorning" id="isSaturdayMorning"> &nbsp; Morning</span>
                                            <div>8:30AM - 1PM</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isSundayEvening" id="isSundayEvening"> &nbsp; Afternoon/Evening</span>
                                            <div>1PM-7PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isMondayAfternoon" id="isMondayAfternoon"> &nbsp; Afternoon</span>
                                            <div>1PM-5PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isTuesdayAfternoon" id="isTuesdayAfternoon"> &nbsp; Afternoon</span>
                                            <div>1PM-5PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isWednesdayAfternoon" id="isWednesdayAfternoon"> &nbsp; Afternoon</span>
                                            <div>1PM-5PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isThursdayAfternoon" id="isThursdayAfternoon"> &nbsp; Afternoon</span>
                                            <div>1PM-5PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isFridayAfternoon" id="isFridayAfternoon"> &nbsp; Afternoon</span>
                                            <div>1PM-5PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isSaturdayAfternoon" id="isSaturdayAfternoon"> &nbsp; Afternoon/Evening</span>
                                            <div>1PM-7PM</div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isMondayEvening" id="isMondayEvening"> &nbsp; Evening</span>
                                            <div>5PM-10PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isTuesdayEvening" id="isTuesdayEvening"> &nbsp; Evening</span>
                                            <div>5PM-10PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isWednesdayEvening" id="isWednesdayEvening"> &nbsp; Evening</span>
                                            <div>5PM-10PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isThursdayEvening" id="isThursdayEvening"> &nbsp; Evening</span>
                                            <div>5PM-10PM</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <span><input type="checkbox" name="isFridayEvening" id="isFridayEvening"> &nbsp; Evening</span>
                                            <div>5PM-10PM</div>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="row">

                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Driving Information</label>
                                <span class="bold">(What kind of driving Licence do you have ?)</span>
                                <input type="text" class="form-control" id="driverLicense" placeholder="Class 5">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <h2>Additional Information</h2>
                                <span>
                                    Can you lift 35-40 lbs?
                                    <input type="radio" name="isLiftWeight" value="yes" checked=""> Yes
                                    <input type="radio" name="isLiftWeight" value="no"> No
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>How did you hear about Grocery Point?</label>
                                <span class="bold">(Select a city)</span>
                                @Html.DropDownList("campaignID", ViewBag.campaignID as SelectList, "-- How do you hear about us?--", new { @required = "required", @class = "form-control" })

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Why are you interested in becoming a Personal Shopper? (60 words maximum)</label>
                                <textarea name="description" maxlength="60" id="description" required="" rows="5" cols="20" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6"><input type="submit" id="btnSubmit" value="Apply Now" class="btn btn-success btn-block btn-lg" tabindex="7"></div>
                    </div>
                </form>
            </div> <!-- /widget-content -->
        </div>
    </div> <!-- /widget -->
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

<script>

    // suday
    $('#sunday').click(function () {
        //alert("d");
        if ($(this).prop("checked") == true) {
            $("#isSundayMorning").prop('checked', true);
            $("#isSundayEvening").prop('checked', true);
        } else {
            $("#isSundayMorning").prop('checked', false);
            $("#isSundayEvening").prop('checked', false);

        }
    })
    // monday
    $('#monday').click(function () {
        //alert("d");
        if ($(this).prop("checked") == true) {
            $("#isMondayMorning").prop('checked', true);
            $("#isMondayAfternoon").prop('checked', true);
            $("#isMondayEvening").prop('checked', true);
        } else {
            $("#isMondayMorning").prop('checked', false);
            $("#isMondayAfternoon").prop('checked', false);
            $("#isMondayEvening").prop('checked', false);

        }
    })
    // thuesday
    $('#tuesday').click(function () {
        //alert("d");
        if ($(this).prop("checked") == true) {
            $("#isTuesdayMorning").prop('checked', true);
            $("#isTuesdayEvening").prop('checked', true);
            $("#isTuesdayAfternoon").prop('checked', true);
        } else {
            $("#isTuesdayMorning").prop('checked', false);
            $("#isTuesdayEvening").prop('checked', false);
            $("#isTuesdayAfternoon").prop('checked', false);

        }
    })
    // wendday
    $('#wednesday').click(function () {
        //alert("d");
        if ($(this).prop("checked") == true) {
            $("#isWednesdayMorning").prop('checked', true);
            $("#isWednesdayAfternoon").prop('checked', true);
            $("#isWednesdayEvening").prop('checked', true);
        } else {
            $("#isWednesdayMorning").prop('checked', false);
            $("#isWednesdayAfternoon").prop('checked', false);
            $("#isWednesdayEvening").prop('checked', false);

        }
    })
    //thuredsday
    $('#thursday').click(function () {
        //alert("d");
        if ($(this).prop("checked") == true) {
            $("#isThursdayMorning").prop('checked', true);
            $("#isThursdayAfternoon").prop('checked', true);
            $("#isThursdayEvening").prop('checked', true);
        } else {
            $("#isThursdayMorning").prop('checked', false);
            $("#isThursdayAfternoon").prop('checked', false);
            $("#isThursdayEvening").prop('checked', false);

        }
    })
    // friday
    $('#friday').click(function () {
        //alert("d");
        if ($(this).prop("checked") == true) {
            $("#isFridayMorning").prop('checked', true);
            $("#isFridayAfternoon").prop('checked', true);
            $("#isSundayEvening").prop('checked', true);
        } else {
            $("#isFridayMorning").prop('checked', false);
            $("#isFridayAfternoon").prop('checked', false);
            $("#isFridayEvening").prop('checked', false);

        }
    })
    /// saurday
    $('#saturday').click(function () {
        //alert("d");
        if ($(this).prop("checked") == true) {
            $("#isSaturdayMorning").prop('checked', true);
            $("#isSaturdayEvening").prop('checked', true);
            $("#isSaturdayAfternoon").prop('checked', true);
        } else {
            $("#isSaturdayMorning").prop('checked', false);
            $("#isSaturdayEvening").prop('checked', false);
            $("#isSaturdayAfternoon").prop('checked', false);

        }
    })
    $(document).ready(function () {
        $(document).ready(function () {
            $(function () {
                $("#datepicker").datepicker({
                    autoclose: true,
                    todayHighlight: true,
                }).datepicker('update', new Date());
            });
        });
        $("form ").submit(function (event) {
            var cityId = $("#cityID option:selected").val();
            var provinceID = $("#provinceID option:selected").val();
            var campaignID = $("#campaignID option:selected").val();
            var phone = $("#phone").val();
            var email = $("#email").val();
            var postalCode = $("#postalCode").val();
            var firstName = $("#firstName").val();
            var lastName = $("#lastName").val();
            var dateOfBirth = $("#dateOfBirth").val();
            var hoursWork = $("#hoursWork").val();
            var driverLicense = $("#driverLicense").val();
            var isLiftWeight = $("#isLiftWeight").val();
            var isLiftWeight = $("#shopForm input[name='isLiftWeight']:checked").val();

            var description = $("#description").val();
            if ($("#firstName").val() != "") {
                var deliveryDriverDto = {
                    "deliveryDriverID": 0,
                    "cityID": cityId,
                    "provinceID": provinceID,
                    "phone": phone,
                    "email": email,
                    "postalCode": postalCode,
                    "firstName": firstName,
                    "lastName": lastName,
                    "ipAddress": "12.22.33.33",
                    "dateOfBirth": dateOfBirth,
                    "isSundayMorning": $("#isSundayMorning").prop("checked"),
                    "isSundayEvening": $("#isSundayEvening").prop("checked"),
                    "isMondayMorning": $("#isMondayMorning").prop("checked"),
                    "isMondayAfternoon": $("#isMondayAfternoon").prop("checked"),
                    "isMondayEvening": $("#isMondayEvening").prop("checked"),
                    "isTuesdayMorning": $("#isTuesdayMorning").prop("checked"),
                    "isTuesdayAfternoon": $("#isTuesdayAfternoon").prop("checked"),
                    "isTuesdayEvening": $("#isTuesdayEvening").prop("checked"),
                    "isWednesdayMorning": $("#isWednesdayMorning").prop("checked"),
                    "isWednesdayAfternoon": $("#isWednesdayAfternoon").prop("checked"),
                    "isWednesdayEvening": $("#isWednesdayEvening").prop("checked"),
                    "isThursdayMorning": $("#isThursdayMorning").prop("checked"),
                    "isThursdayAfternoon": $("#isThursdayAfternoon").prop("checked"),
                    "isThursdayEvening": $("#isThursdayEvening").prop("checked"),
                    "isFridayMorning": $("#isFridayMorning").prop("checked"),
                    "isFridayAfternoon": $("#isFridayAfternoon").prop("checked"),
                    "isFridayEvening": $("#isFridayEvening").prop("checked"),
                    "isSaturdayMorning": $("#isSaturdayMorning").prop("checked"),
                    "isSaturdayAfternoon": $("#isSaturdayAfternoon").prop("checked"),
                    "isSaturdayEvening": $("#isSaturdayEvening").prop("checked"),
                    "hoursWork": 5,
                    "driverLicense": driverLicense,
                    "isLiftWeight": isLiftWeight,
                    "campaignID": campaignID,
                    "description": description
                };
                $.ajax({
                    url: "/accounts/DeliveryDriver",
                    data: deliveryDriverDto,
                    type: "post",
                    success: function (d) {

                        if (d != null) {
                            alert("Save Succesully");
                            window.location.reload(true);
                        } else {
                            alert("Error  while uploading information");
                        }
                    }

                });
                return;
            }
            event.preventDefault();

        })
    })
</script>
<script>
    $("#provinceID").change(function () {

        var Id = $(this).val();
        $.ajax({

            type: "Get",
            url: "/Accounts/GetCity?id=" + Id,
            contentType: "html",
            success: function (response) {
                //alert(response);
                $("#cityID").empty();
                $("#cityID").append(response);

            }

        })

    })
    $("#phone").inputmask({ "mask": "(999) 999-9999" });

</script>
