﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<GroceryPoint.Models.Category>
<style>
    li.active {
        background-color: #11a640;
    }

    li a:active {
        color: white;
    }
</style>


<h2 class="hide-tab">Categories</h2>
<ul class="cat-ul p-0 " id="leftnavs">

    @foreach (var item in Model)
    {
        @if (item.categoryId == 1)
        {
            <li class="active" id="@item.categoryId" onclick="getProduct(@item.categoryId)"><a href="#">@item.categoryName </a></li>
        }
        else
        {
            <li class="" id="@item.categoryId" onclick="getProduct(@item.categoryId)"><a href="#">@item.categoryName </a></li>
        }
    }

</ul>


@*<img src="~/UserTheme/images/bn-1.jpg" class="sidebar-img">*@
<script>
     $('#sidebar ul:first li:first').addClass("active");

    var catgText = '';
    $("ul li").click(function () {
        $('li').removeClass("active");
        $(this).addClass('active');
        catgText = $(this).text();
    });
    var getFirstElemnt = $('#sidebar ul:first li:first').text();
    var getFirstElemntId = $('#sidebar ul:first li:first').attr("id");
    //alert("getFirstElemnt : "+getFirstElemnt)
    catgText = getFirstElemnt;
    getProduct(getFirstElemntId);
    function getProduct(id) {
         $("ul li").click(function () {
        $('li').removeClass("active");
        $(this).addClass('active');
        catgText = $(this).text();
    });
        $("#catgText").text(catgText);
        $("#AjaxLoader").show();
        $('#productLoad').load("/home/Product", { id: id, catgText: catgText });
    }
    
    $("div#sidebar .hide-tab").click(function () {
        $('div#sidebar ul.cat-ul').toggleClass('active');
    });
    $("div#sidebar ul.cat-ul li:not('.sub-cat')").click(function () {
        $(this).parent().toggleClass('active');
    });
    $("div#sidebar ul.cat-ul li.sub-cat li").click(function () {
        $(this).parents('ul.cat-ul').toggleClass('active');
    });
    
</script>
@*var urlProduct = '@Url.Action("Product", "Home", new { id = id })';*@