﻿@model IEnumerable<GroceryPoint.Dtos.Store.StoreSummaryDto>


<div class="top-dropdown">

    <div class="col-sm-12 p-20">
        <div class="row">
            <div class="offset-md-2 col-lg-6">
                <div id="tab" class="btn-group" data-toggle="buttons-radio">
                    <a href="#prices2" class="btn btn-large btn-success active" data-toggle="tab">Delivery</a>
                    <a href="#features2" class="btn btn-large btn-info" data-toggle="tab">Pickup</a>
                </div>
                <span class="edit-address">
                    TO
                </span>
                <span class="address-set">
                    V3V0C2
                    <i class="fa fa-pencil"></i>
                </span>
            </div>
            <div class="col-sm-3">
                <div class="edit-address">
                    Showing &nbsp; <i class="fa fa-angle-down"></i>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="do-nicescrol">
    <div class="wrapper-fuid">
        <div class="row m-20">
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <div class="col-sm-3">
                        <div class="round-cover">
                            @if (item.logo == "" || item.logo == null)
                            {
                                <img src="~/ProductImages/nofound.jpg">
                            }
                            else
                            {
                                <img src="~/StoreImages/@item.logo">
                            }
                        </div>
                        <div class="content store-center">
                            <h3>@item.storeName</h3>
                            <div class="help-text">Groceries. Ethnic. Specialty</div>
                            <div class="store-address">
                                <div class="help-text">
                                    <i class="fa fa-map-marker"></i>
                                    @item.streetAddress
                                </div>
                            </div>
                            <button class="btn btn-sm btn-success" onclick="chooseStore(@item.storeID,'@item.storeName.Trim()')">SELECT STORE</button>
                        </div>
                    </div>
                }
            }
            else
            {
                <p style="margin:0 0 0 20px">No store Found.</p>
            }
        </div>
    </div>
</div>
        <script type="text/javascript">
            function chooseStore(id, name) {
                //alert(id + " Name : " + name)
                //$("#AjaxLoader").show();

                $.ajax({
                    url: "/home/chooseStore?id=" + id + "&name=" + name,
                    type: "post",
                    success: function (d) {
                        //var getDate = (d);
                        if (d != null) {
                            //load produc,
                            $("#setStoreName").text(d);
                            $("#secrhByStore").attr('placeholder', "search form " + d);
                            onStoreChnageLoad();
                           window.location.reload(true);
                            $("#storeDiv").removeClass("active");
                            //locad category

                        }
                        //window.location.href = "/home/index"

                    }
                });
            }
            $(document).ready(function () {

                //var nice = $("html").niceScroll();  // The document page (body)

                // $(".do-nicescrol").niceScroll();
                //Plz stay uncomment this its create error
                //$(".do-nicescrol").niceScroll(".wrapper-fuid", { cursorcolor: "#F00", cursoropacitymax: 0.7, boxzoom: true, touchbehavior: true });
            });
        </script>

