﻿@{
       Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>@ViewData["Title"]</h1>
<section class="container-fluid page-content" id="loadPage">
    <div class="row">
        <p>Use this page to detail your site's privacy policy.</p>

    </div>
-

</section>
