﻿@{
       Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>@ViewData["Title"]</h1>
<main id="custom-pages">
<div class="container" >
    <div class="row">
        <div class="col-sm-12">
            <div class="widget stacked faq-set widget-table action-table col-sm-12">

                <div class="widget-header">
                    <i class="icon-th-list"></i>
                    <div class="row">
                        <div class="col-sm-6">
                            <!--<span><h3>My Order</h3></span>-->
                        </div>
                    </div>
                </div> <!-- /widget-header -->
                <div class="widget-content">
                    <div class="shopper-heading">
                        <h2>Contact us</h2>
                    </div>

                </div> <!-- /widget-content -->
                <div class="content about">
                    <div class="row">
                        <div class="col-sm-5">
                            <p>
                                If you have any questions, please feel free to contact us at:
                            </p>
                            <p>
                                - Customer Support: <a href="mailto:support@grocerypoint.ca">support@grocerypoint.ca</a>
                            </p>
                            <p>
                                - Media: <a href="mailto:media@grocerypoint.ca">media@grocerypoint.ca</a>
                            </p>
                            <p>
                                - Jobs: <a href="mailto:careers@grocerypoint.ca">careers@grocerypoint.ca</a>
                            </p>
                            <p>
                                - Website TECHNICAL issues:
                            </p>
                            <p>
                                We also love feedback, so please send us your comments/suggestions to <a href="mailto:feedback@grocerypoint.ca">feedback@grocerypoint.ca</a>
                            </p>



                            <p></p>
                        </div>
                        <div class="col-sm-7">
                            <form class="form-horizontal" action="" method="post">
                                <fieldset>


                                    <!-- Name input-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="name">Name</label>
                                        <div class="col-md-12">
                                            <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                                        </div>
                                    </div>

                                    <!-- Email input-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="email">Your E-mail</label>
                                        <div class="col-md-12">
                                            <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                                        </div>
                                    </div>

                                    <!-- Message body -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="message">Your message</label>
                                        <div class="col-md-12">
                                            <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                                        </div>
                                    </div>

                                    <!-- Form actions -->
                                    <div class="form-group">
                                        <div class="col-md-12 text-right">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>


                </div>

            </div>
        </div> <!-- /widget -->
    </div>

</div>
</main>