﻿@{
       Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>@ViewData["Title"]</h1>
<main id="custom-pages">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget stacked faq-set widget-table action-table col-sm-12">

                    <div class="widget-header">
                        <i class="icon-th-list"></i>
                        <div class="row">
                            <div class="col-sm-6">
                                <!--<span><h3>My Order</h3></span>-->
                            </div>
                        </div>
                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="shopper-heading">
                            <h2>FAQ</h2>
                        </div>
                        <h2>COVID-19</h2>
                    </div> <!-- /widget-content -->
                    <div class="content faq">
                        <p>Please note that we are doing our very best to get your order delivered as quickly as possible, however due to the very high volumes, and shortage of stock we can not guarantee any windows, and our shoppers are doing their best to have your groceries delivered to you as quickly as we possibly can. We really appreciate your patience in these unprecedented times. Thank you for your patience with us, and we hope you stay healthy and safe!</p>
                        <p>
                            <label class="stron-font">1. What is Grocery Point?</label>

                            Grocery Point is a grocery delivery service that gets your favourite products to your door within 24 hours. We do everything from packing to delivering! We get the best quality products from local suppliers straight to your door!
                        </p>
                        <p>
                            <label class="stron-font">2. Which stores do you support?</label>

                            Our stores are all proudly local. That's right we support the little guy.
                        </p>
                        <p>
                            <label class="stron-font">3. Do you deliver anywhere?</label>

                            Currently we are serving Vancouver & Surrey. More to come soon!
                        </p>
                        <p>
                            <label class="stron-font">4. How quickly are products delivered?</label>
                            We deliver within 24 hours of order and we always try to be quicker than that!
                        </p>
                        <p>
                            <label class="stron-font">5. What is the cost of delivery?</label>
                            We charge $12.99 per delivery and yes it's one delivery fee for multiple store orders in the same area.
                        </p>
                        <p>
                            <label class="stron-font">6. Is your produce fresh? </label>
                            Grocery Point and its local partners do our best to deliver the best quality of products! We promise to never let you down.
                        </p>
                        <p>
                            <label class="stron-font">
                                7. What if an item is out of stock?
                            </label>
                            We will do our best to replace the item with a similar item and if we cannot we will let you know and the item can be removed from the cart.
                        </p>
                        <p>
                            <label class="stron-font">
                                8. How do I check on my order?
                            </label>
                            Go to your account and check my orders! Easy as that!
                        </p>
                        <p>
                            <label class="stron-font">
                                9. Can I cancel my order?
                            </label>
                            Once an order is confirmed by our local partner it cannot be cancelled.
                        </p>
                        <p>
                            <label class="stron-font">
                                10. Can I return items?
                            </label>
                            We do not have a return policy in place at this time.
                        </p>
                        <p>
                            <label class="stron-font">
                                11. Who gets my tips?
                            </label>
                            Your Grocery Point driver will receive 100% of tips.
                        </p>
                       
                        



                        
                    </div>
                </div>
            </div> <!-- /widget -->
        </div>
    </div>

    </main>
