﻿@model GroceryPoint.Models.City
@{
    ViewData["Title"] = "GetStart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="search-sec">
    <div class="container">
        <form asp-action="GetStart" class="row">

            <div class="row">
                <div class="offset-md-2 col-lg-8">
                    <div class="row">
                        <div class="logo box-logo">
                            <img class="text-center" src="images/logo.png">
                        </div>
                        <h1>Groceries delivered in as little as 1 hour</h1>

                        @Html.DropDownList("CityId", ViewBag.CityId as SelectList, "-- Select City--", new { @class = "form-control ,search-slt", @id = "exampleFormControlSelect1" })

                        <div class="form-group">
                            <button class="btn btn-success btn-green">Continue</button>
                        </div>
                        <div class="form-group login-help">
                            <p class="text-center">Already have an account? <a href="#">Log in</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

