﻿@using GroceryPoint.Models
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container-fluid page-content" id="loadPage">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div id="sidebar">
               
            </div>

        </div>
        <div style="display:contents" id="productLoad">

        </div>
    </div>

</section>
<div class="loader" id="AjaxLoader" style="display:none;">
    <div class="strip-holder">
        <div class="strip-1"></div>
        <div class="strip-2"></div>
        <div class="strip-3"></div>
    </div>
</div>
@section scripts{

    <script>
        $(document).ready(function () {
            $("#AjaxLoader").show();
            var url = '@Url.Action("Category", "Home")';
            $('#sidebar').load(url);
        })

            var urlProduct = '@Url.Action("Product", "Home")';
            $('#productLoad').load(urlProduct);
          


    </script>
}