﻿
@model IEnumerable<GroceryPoint.Dtos.Store.ProductDto>
@using GroceryPoint.Models

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <div class="page-cat-name"><span id="catgText"></span></div>
    <div class="toolbar d-flex justify-content-between">
        <a class="btn btn-success" href="/" > Back to home</a>
        <br />
        <div class="sorting-blk">
            <label>Sort by</label>
            <select>
                <option>Name</option>
                <option>Price</option>
            </select>
        </div>
        <div class="perPage-blk">
            <label>Products Per Page:</label>
            <select>
                <option>30</option>
                <option>60</option>
            </select>
        </div>
    </div>
    <div class="product-listing">
        <div class="row">
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                        <div class="product-item">
                            <div class="product-photo">
                                <img src="~/ProductImages/@item.image" alt="schematic-dia" class="img1">
                                @*<img src="~/UserTheme/images/prod21.jpg" alt="schematic-dia" class="img2">*@
                                @*<a href="#" class="green-ancr">Quick View</a>*@
                                <div class="prod-qty d-flex align-items-center">
                                    <a href="#" class="decrement" data-dir="dwn">-</a>
                                    <input type="text" value="1" min="1" max="40" class="num">
                                    <a href="#" class="increament" data-dir="up">+</a>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="hover2-blk">
                                    @*<span class="lable">New</span>*@
                                    @*<p class="color-blk m-0"><span class="red"></span><span class="blue"></span><span class="green"></span></p>*@
                                </div>
                                <p class="product-name"><a href="">@item.productName</a></p>
                                <div class="price">$@item.price / each</div>
                                <a href="#" class="black-ancr" onclick="addToCart(@item.productID)"> <i class="fa fa-shopping-basket" aria-hidden="true"></i>Add to cart</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p> There is no Item </p>
            }



        </div>
    </div>

    @*<div class="pegination">

        <ul class="d-flex justify-content-center p-0">
            @if (Model.Count() > 0)
            {
                <li><a href="#" class="text-peg"><span>First</span><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                <li><a href="#" onclick="paginationPrev(1)" class="text-peg"><span>Prev</span><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>

                for (int i = 1; i <= Convert.ToInt32(ViewData["NoOfPage"]); i++)
                {
                    if (Convert.ToInt32(ViewData["SelectedPage"]) == i)
                    {
                        <li href="#"><a href="#" onclick="pagination(@i)" class="active">@i</a></li>

                    }
                    else
                    {
                        <li href="#"><a href="#" onclick="pagination(@i)">@i</a></li>

                    }

                }

                <li><a href="#" onclick="paginationNext(1)" class="text-peg"><span>Next</span><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>

            }
        </ul>

    </div>*@

</div>
<script>

    $("#AjaxLoader").hide();
    $("#catgText").text(catgText);
    //function pagination(pageno) {
    //    var id = $('#leftnavs li.active').attr('id');
    //    $("#AjaxLoader").show();
    //    $('#productLoad').load("home/Product", { id: id, pageNo: pageno });
    //}
    //function paginationNext(pageno) {
    //    var id = $('#leftnavs li.active').attr('id');
    //    $("#AjaxLoader").show();
    //    $('#productLoad').load("home/Product", { id: id, next: pageno });
    //}
    //function paginationPrev(pageno) {
    //    var id = $('#leftnavs li.active').attr('id');
    //    $("#AjaxLoader").show();
    //    $('#productLoad').load("home/Product", { id: id, prev: pageno });
    //}
    function addToCart(id) {
        $("#AjaxLoader").show();
        var cartDto = {
            "storeID": 1,
            "productID": id,
            "qty": 1,
            "userID": 1,
            "ipAddress": "1",
            "totalItems": 0,
            "totalCost": 0
        };
        var cart = JSON.stringify(cartDto);

        $.ajax({
            url: "/cart/addToCart",
            data: cartDto,
            type: "post",
            success: function (d) {
                var getDate = (d);
                $("#AjaxLoader").hide();
                $("#totalCost").text('$ ' + getDate.totalCost);
                $("#totalItems").text(getDate.totalItems);

            }
        });
    }
</script>
<script>
    $(function () {

        var action;
        $(".prod-qty a").mousedown(function () {
            btn = $(this);
            input = btn.closest('.prod-qty').find('input');
            btn.closest('.prod-qty').find('a').prop("disabled", false);

            if (btn.attr('data-dir') == 'up') {
                action = setInterval(function () {
                    if (input.attr('max') == undefined || parseInt(input.val()) < parseInt(input.attr('max'))) {
                        input.val(parseInt(input.val()) + 1);
                    } else {
                        btn.prop("disabled", true);
                        clearInterval(action);
                    }
                }, 50);
            } else {
                action = setInterval(function () {
                    if (input.attr('min') == undefined || parseInt(input.val()) > parseInt(input.attr('min'))) {
                        input.val(parseInt(input.val()) - 1);
                    } else {
                        btn.prop("disabled", true);
                        clearInterval(action);
                    }
                }, 50);
            }
        }).mouseup(function () {
            clearInterval(action);
        });
    });
</script>

